<div id="{{id}}" tabindex="0" data-content="{{tooltip}}" data-toggle="popover" {{! data-placement="top"}}  class='col-sm-12 gistItem selectable changecolor'>
    <!--<span class="label label-primary pull-left">{{group_items}}</span>-->
    <span class="col-sm-8 info-display">
    	<span id="name" name="name" class="col-sm-12">{{name}}</span>
    	<span id="description" description="description" class="col-sm-12">{{description}}</span>
    </span>
    <span id="graphic" graphic="{{graphic}}" class="col-sm-2"></span>
    <span id="age" age="age" class="col-sm-1 col-condensed">{{age}}</span>
    <span class="col-sm-1">
        <span id="count" count="count">{{count}}</span>
    </span>
</div>
