<div id="{{appletID}}-{{gistType}}-gist">
<div id="problemGistGrid" class="col-sm-12 header-bar">
		<span id="name-header" class="col-sm-5 selectable header">{{gistHeaders.name}}</span>
		<span id="comment-header" class="col-sm-1 selectable header">{{gistHeaders.comment}}</span>
		<span id="count-header1" class="col-sm-2 selectable header" style="padding-left:0px;">{{gistHeaders.itemsInGraphCount}}</span>
		<span id="graph-header" class="col-sm-3 quikDraw header">{{gistHeaders.graph}}</span>
		<span id="count-header" class="col-sm-1 header">{{gistHeaders.age}}</span>
</div>
    <div id="{{appletID}}-{{gistType}}-gist-items" class="gistItemList"></div>
</div>
