/*--- Colors ---*/
$BG1: #232F32;
$BG2: #688790;
$BG3: #E4E4E4;

$hover1: #688790;
$hover2: #232F32; /*--- Dark Green/Gray for Button Active, Hover and Focus States ---*/
$hover3: #222222;/*--- Dark Gray Hover for Button on Dark Background - Mainly for top navbar ---*/
$text1: #222222;
$text2: #206473;
$text3: #00CCCC;
$text4: #00FFFF;
$text5: #37779E;
$text6: #707070;
$text7: #BCBCBC;


/*--- Color Palette 4/16/2015  ---*/

$primary: 				#003E4F;
$primary-light:			#3F6D7A;
$primary-lighter:		#BFCED2;
$primary-lightest:		#E5EBED;

$secondary: 			#328563;
$secondary-light: 		#CBE0D7;

$tertiary: 				#FFC234;

/*--- text  ---*/
$grey: 					#555555;
$white: 				#FFFFFF;
$red:					#FF0000;