.enhanced-search-container {
    background-color: $primary-lighter;
    padding: 10px;
    .search-input {
        .col-sm-3 {
            float: right;
            padding: 0;
            .vertical-top {
                vertical-align: top;
            }
        }
    }
    .search-results {
        background-color: $white;
        border-radius: 5px;
        padding: 0;
        .search-result-header {
            background-color: $primary-lightest;
            border-bottom: 2px solid $secondary-light;
            border-radius: 5px 5px 0 0;
            .daterange-btn {
                box-shadow: none;
                color: $primary;
                font-size: 11px;
                padding: 1px 2px;
                margin: 6px 4px;
                &:hover, &.active {
                    background-color: $primary;
                    color: $white;
                }
            }
            .daterange {
                padding: 0;
                text-align: right;
            }
            .date-label {
                float: left;
                font-weight: 400;
                margin-left: -15px;
                padding-top: 8px;
            }
            .btn-primary.disabled {
                background-color: #bbb;
                opacity: 1;
            }
        }
        .search-result-body {
            .clickable-row {
                display: block;
                height: 100%;
                left: 0;
                margin: 0;
                top: 0;
                width: 100%;
                a {
                    display: block;
                    height: 100%;
                    width: 100%;
                }
            }
            .panel-group {
                .panel-title {
                    color: $grey-darkest;
                    .label {
                        margin-left: 20px;
                    }
                }
                .panel-body {
                    padding: 0;
                    ul {
                        list-style-type: none;
                        margin-bottom: 0;
                        padding: 0;
                        li {
                            background-color: $white;
                            border-bottom: 1px solid $grey-light;
                            > a {
                                color: $grey-darkest;
                                display: block;
                            }
                        }
                    }
                }
            }
            .search-suggestions {
                ul {
                    list-style-type: none;
                    margin-left: -9px;
                    overflow: hidden;
                    padding-left: 0;
                    padding-top: 3px;
                    li {
                        height: 100%;
                        position: relative;
                        width: 100%;
                        > a {
                            color: $grey-darkest;
                            display: block;
                            p {
                                margin-top: 0;
                            }
                        }
                        &:hover {
                            background-color: $primary-lightest;
                        }
                    }
                }
            }
        }
        .highlight {
            background-color: #FFFF00;
        }
    }
    .row {
        margin: 0;
    }
    .search-header {
        padding-left: 5px;
    }
    //reset
    .top-margin {
        margin-top: 5px;
    }
    //reset
    .bottom-margin {
        margin-bottom: 10px;
    }
}
