.workflow-container {
    .modal-content {
        background-color: $primary-lightester;
        border-radius: 0px;
    }
    .modal-header {
        background-color: $white;
    }
    .modal-body {
        margin-bottom: 0px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0px;
        .scroll-enter-form {
            min-height: 150px;
            padding: 0px 10px;
            overflow-y: auto;
            overflow-x: hidden;
            h5 {
                border-bottom: 1px solid $grey;
                margin: 10px 0 0 0;
                padding: 0px;
            }
            [class*=offset-btn] {
                padding: 0px 6px;
                position: relative;
                right: 10px;
                //top: 153px;
            }
            // creates class definitions for "offset-btn-sm", "offset-btn-md", "offset-btn-lg" to set offset from top
            // sm: 5 items, md: 10 items, and lg: 15 items
            $sm: 5;
            $md: 10;
            $lg: 15;
            .offset-btn-sm {
                top: calc((#{$sm} * 15px) + 3px);
            }
            .offset-btn-md {
                top: calc((#{$md} * 15px) + 3px);
            }
            .offset-btn-lg {
                top: calc((#{$lg} * 15px) + 3px);
            }
            .col-xs-4 { ////* Read only well in encounters, line 593 *////
                .read-only-well {
                    height: 138px;
                }
            }
            .row-eq-height {
                .faux-label { /* Used in encounters, line 378 */
                float: left;
                margin-top: 5px;
                width: 50%;
                }
            }
            .row-subheader {
                border-bottom: 1px solid $grey-light;
                margin-bottom: 5px;
            }
            .col-xs-6 {
                .col-xs-6 {
                    .control.form-group {
                        margin-left: -10px;
                    }
                }
            }
        }
        select {
            height: 22px;
        }
    }
    .modal-footer {
        background-color: $white;
    }
}

/*--- MODAL-BODY HEIGHT & POSITIONING RELATED CHANGES ---*/
.workflow-container > .modal-dialog .modal-content {
    margin: 85px auto 30px auto;
    .workflow-controller .modal-body, .modal-body {
        // 240px    : header and patient information bar height
        max-height: calc(100vh - 240px);
        min-height: 385px;
    }
    &.with-progress-indicator .workflow-controller .modal-body, &.with-progress-indicator .modal-body {
        // 240px    : header and patient information bar height
        // 57px     : progress bar height
        max-height: calc(100vh - 240px - 57px);
    }
}
.tray-region {
    > .workflow-container > .modal-dialog > .modal-content {
        > .workflow-controller .modal-body {
            // 240px    : header and patient information bar height
            height: calc(100vh - 240px);
        }
        &.with-progress-indicator > .workflow-controller .modal-body {
            // 240px    : header and patient information bar height
            // 57px     : progress bar height
            height: calc(100vh - 240px - 57px);
        }
    }
}

///////////*These styles are for Mercury specific*///////
.workflow-region {
    .modal-body {
        .scroll-enter-form {
            .row-subheader {
                .progress-list-bar {
                    margin: 65px 0px 10px 240px;
                }
            }
        }
    }
}
.tray-region {
    width: 450px;
    > .workflow-container > .modal-dialog {
        margin: 0;
        width: 100%;
    }
}
///////////*These styles are for Mercury specific*///////