<html>
<head>
    <title>$!item.summary</title>
    #parse("/layouts/detail.vm")
</head>
<body>
<table class="hmp-labeled-values">
    <tr>
        <td>Name</td>
        <td>$!item.name</td>
    </tr>
    <tr>
          <td>Facility</td>
          <td>$!item.facilityName</td>
    </tr>
    #if($item.locationName)
    <tr>
    	<td>Location</td>
    	<td>$!item.locationName</td>
    </tr>
    #end
    <tr>
        <td>Administered</td>
        <td>$hmp.formatDate($!item.administeredDateTime)</td>
    </tr>
    #if($item.reactionName)
    <tr>
    	<td>Reaction</td>
    	<td>$!item.reactionName</td>
    </tr>
    #end
    #if($item.seriesName)
    <tr>
    	<td>Series</td>
    	<td>$!item.seriesName</td>
    </tr>
    #end
    #if($item.comments)
    <tr>
        <td>Comment</td>
        <td><pre>$!item.comments</pre></td>
    </tr>
    #end
</table>
</body>
</html>