## TODO: how to handle meds with >1 ingredient?
## 
#set($order = $item.getOrders()[0])
<MedicationPrescription xmlns="http://hl7.org/fhir">
  <text>
    <status value="generated"/>
    <div xmlns="http://www.w3.org/1999/xhtml"><pre>${item.summary}</pre></div>
  </text>
  <dateWritten value="${order.getOrdered()}"/>
  
  ## active | on hold | completed | entered in error | stopped | superceded
  ## TODO: this status mapping is not complete
  ## TODO: extension element to show vaStatus 
  #if ($item.isActive() || $item.isPending())
  	<status value="active"/>
  #elseif ($item.isExpired())
  	<status value="completed"/>
  #elseif ($item.isDiscontinued()) 
  	<status value="stopped"/>
  #end
  
  <patient>
    <reference value="Patient/${item.getPid()}"/>
    <display value="${item.getPid()}"/>
  </patient>
  
  <prescriber>
    <reference value="Practitioner/${order.getProviderUid()}"/>
    <display value="${order.getProviderName()}"/>
  </prescriber>
  
  
  ## med/prescription are not really broken out separately in VA
  <contained>
    <Medication id="med">
      
    </Medication>
  </contained>

  <medication>
    <reference value="#med"/>
    <display value="${item.getSummary()}"/>
  </medication>
  
  <reason>
    <text value="${item.getPatientInstruction()}"/>
  </reason>

  #foreach ($dose in $item.getDosages())
  <dosageInstruction>
  	<text value="${dose.toString()}"/>
  	#if ($item.isPRN())
  	  <asNeeded value="true"/>
  	#end
    <timing>
      <event>
        ## TODO: reformat date/time
        <start value="${dose.getStart()}"/>
        <end value="${dose.getStop()}"/>
      </event>
      #if ($dose.getDosesPerDay())
      <repeat>
        <frequency value="${dose.getDosesPerDay()}"/>
        <units value="d"/>
      </repeat>
      #end
    </timing>
    <route>
      <coding>
        <display value="${dose.getRouteName()}"/>
      </coding>
    </route>
    <doseQuantity>
      <value value="${dose.getDoseVal()}"/>
      <units value="${dose.getUnits()}"/>
    </doseQuantity>
  </dosageInstruction>
  #end

  <dispense>
  	<expectedSupplyDuration>
  	  <value value="${order.getDaysSupply()}"/>
  	  <units value="d"/>
  	  <code value="d"/>
  	</expectedSupplyDuration>
  	<numberOfRepeatsAllowed value="${order.getFillsAllowed()}"/>
    <quantity>
      <value value="${order.getQuantityOrdered()}"/>
    </quantity>
  </dispense>

</MedicationPrescription>