<!DOCTYPE html>
<html>
<head>
    <title>${item.summary}</title>
    #parse("/layouts/detail.vm")
</head>
<body>
<table class="hmp-labeled-values">
    <tr>
          <td>Facility</td>
          <td>${item.facilityName}</td>
      </tr>
    <tr>
        <td>Name</td>
        <td>${item.typeName}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>${item.resultStatusCode}</td>
    </tr>
    <tr>
        <td>Request Date</td>
        <td>$hmp.formatDate($item.observed)</td>
    </tr>
</table>
<hr />
<pre>${item.document}</pre>
</body>
</html>