<!DOCTYPE html>
<html>
<head>
    <title>$!item.summary</title>
    #parse("/layouts/detail.vm")
</head>

<body>
<table class="hmp-labeled-values">
    <tr>
        <td>Name</td>
        <td>$!item.name</td>
    </tr>
    <tr>
        <td>Facility</td>
        <td>$!item.facilityName</td>
    </tr>
    <tr>
        <td>Start</td>
        <td>$hmp.formatDate($!item.start)</td>
    </tr>
    #if($item.stop)
        <tr>
            <td>Stop</td>
            <td>$hmp.formatDate($!item.stop)</td>
        </tr>
    #end
    <tr>
        <td>Status</td>
        <td>$!item.statusName</td>
    </tr>
    <tr>
        <td>Location</td>
        <td>$!item.locationName</td>
    </tr>
    <tr>
        <td>Ordering Provider</td>
        <td>$!item.providerName</td>
    </tr>
</table>
<br/>
<pre>$!item.content</pre>
#foreach($ord in $item.children)
    #if($ord.content)
		#set($docid="sub-order-addendum$ord.uid")
		#set($doctitle="ADDENDUM-$foreach.count")
        #collapsible($docid $ord.summary $ord "order")
    #end
#end
</body>
</html>