<!DOCTYPE html>
<html>
<head>
    <title>$!item.summary</title>
    #parse("/layouts/detail.vm")
</head>
<body>
<table class="hmp-labeled-values">
    <tr>
        <td>Type Name</td>
        <td>$!item.typeName</td>
    </tr>
    <tr>
        <td>Observed</td>
        <td>$!hmp.formatDateTime($!item.observed)</td>
    </tr>
    <tr>
        <td>Entered</td>
        <td>$!hmp.formatDateTime($!item.resulted)</td>
    </tr>
    <tr>
        <td>Result</td>
        <td>$!item.result $!item.units#if($item.metricResult)&nbsp;($!item.metricResult $!item.metricUnits)#end</td>
    </tr>
    #if($item.low && $item.high)
        <tr>
            <td>Ref. Range</td>
            <td>$!item.low&nbsp;-&nbsp;$!item.high $!item.units</td>
        </tr>
    #end
    #if($item.interpretationName)
        <tr>
            <td>Interpretation</td>
            <td><span class=text-danger>$!item.interpretationName</span></td>
        </tr>
    #end
    <tr>
        <td>Facility</td>
        <td>$!item.facilityName</td>
    </tr>
    #if($item.bodySite)
        <tr>
            <td>Body Site</td>
            <td>$!item.bodySite</td>
        </tr>
    #end
    #if($item.document)
        <tr>
            <td>Document</td>
            <td>$!item.document</td>
        </tr>
    #end
</table>
</body>
</html>