#**
 * hmp.vm
 *
 * This file consists of a collection of Velocity macros used across the HMP
 *#

#macro(collapsible $docId $title $txt $type)
<div id="result-${docId}" class="hmp-document hmp-document-collapsed">
    <div class="hmp-document-collapse-trigger" onclick="gov.va.hmp.util.LayoutUtil.gotoAndResize('#result-$docId.replaceAll(":","\\\\:").replaceAll("\.","\\\\.")')">
        <a href="javascript:void(0)">
            #if($title) $title #else &lt;No Title&gt;#end
        </a>
    </div>
    <hr class="hmp-document-title-hr"/>
    <div class="hmp-document-body">
        #if($type == "addendum")
            #addendum($txt)
        #elseif($type=="procedure")
            #procedure($txt)
        #elseif($type=="order")
            #order($txt)
        #elseif($type=="procaddendum")
            #addendum($txt)
        #elseif($type=="raw")
            $type
        #else
            Unsupported collapsible body type: $type
        #end
    </div>
</div>
#end

#macro(addendumlink $docId $title)
    <div id="rlink-${docId}" class="hmp-document">
        <a class="hmp-addendum-link" href="#" onclick="gov.va.hmp.util.LayoutUtil.gotoAndResize('$docId')">#if($title) $title #else &lt;No Title&gt;#end</a>
        #foreach($clin in $txt.clinicians)
            #if($clin.role.equals('SIGNER'))
                <div class="fa fa-pencil" data-qtip='/es/ $!{clin.signature} - Signed: $hmp.formatDateTime($!clin.signedDateTime)'></div><br/>
            #end
        #end
    </div>
#end

#macro(documentlink $docId $title $docid)
  <div id="rlink-${docId}" class="hmp-document">
	  <a class="hmp-addendum-link" href="#" onclick="gov.va.hmp.util.LayoutUtil.gotoAndResize('$docId')">#if($title) $title #else &lt;No Title&gt;#end</a>
  </div>
#end

#macro (adddocument $docId $txt $content $type)
##<hr class="hmp-document-title-hr"/>
<div class="hmp-document-body" id=$docid>
    #if($type == "addendum")
        #addendum($txt $content)
    #elseif($type=="procedure")
        #procedure($txt $content)
    #elseif($type=="order")
        #order($txt $content)
    #elseif($type=="procaddendum")
        #addendum($txt $content)
    #elseif($type=="document")
        #documentbody($txt $content)
    #elseif($type=="raw")
        $type
    #else
        Unsupported addendum body type: $type
    #end
</div>
#end

#macro(header $item)
    <table class="hmp-labeled-values">
        <tr><td>Local Title</td><td>$!item.localTitle</td></tr>
        #if($item.nationalTitle)<tr><td>Standard Title</td><td>$!item.nationalTitle.title</td></tr>#end
        #if($item.facilityName)<td>Facility</td><td>$!item.facilityName</td> #end
        <tr>
            <td>Author</td><td>$!item.authorDisplayName
##            #foreach($clin in $item.clinicians)
##                #if($clin.role.equals('S'))
##                    <td><div class="fa fa-pencil" data-qtip='/es/ $!{clin.signature} - Signed: $hmp.formatDateTime($!clin.signedDateTime)'></div></td>
##                #end
##            #end
##            #if($item.cosigner)<td>Exp. Cosigner</td><td>$!item.cosignerDisplayName</td>#end
            #foreach($clin in $item.clinicians)
                #if($clin.role.toString().equals('SIGNER'))
                    <div class="fa fa-pencil" data-qtip='/es/ $!{clin.signature} - Signed: $hmp.formatDate($!clin.signedDateTime)'></div>
                #end
            #end
            </td>

            #if($item.cosigner)
                #foreach($clin in $item.clinicians)
                    #if($clin.role.toString().equals('COSIGNER'))
                        <td>Cosigner</td><td>$!item.cosignerDisplayName
                        <div class="fa fa-pencil" data-qtip='/ecs/ $!{clin.signature} - Co-signed: $hmp.formatDate($!clin.signedDateTime)'></div></td>
                    #end
                #end
            #else
                #foreach($clin in $item.clinicians)
                    #if($clin.role.toString().equals('EXPECTED_COSIGNER'))
                        <td>Expected Cosigner</td><td>$!clin.name</td>
                    #end
                #end
            #end
        </tr>
        <tr>
            ## <td>Urgency</td><td>#if($item.urgency)$!item.urgency#else<span class="text-muted">&lt;Unknown&gt;</span>#end</td>
            <td>Status</td><td>#if($item.status)$!item.status#else<span class="text-muted">&lt;Unknown&gt;</span>#end</td>
        </tr>
        #if($item.attending)<tr><td>Attending</td><td>$!item.attendingDisplayName</td></tr>#end
    </table>
#end

#macro(documentbody $item $content)
    <pre class="cpe-document-body">$content</pre>
#end

#macro(addendum $txt $content)
	<table class="hmp-labeled-values">
        <tr>
            <td>Date of Addendum</td><td>$hmp.formatDateTime($!txt.dateTime)</td>
            #if($txt.enteredDateTime)<td>Entry Date</td><td>$hmp.formatDateTime($!txt.enteredDateTime)</td>#end
        </tr>
        <tr>
            <td>Author</td><td>$!txt.authorDisplayName
##            #foreach($clin in $txt.clinicians)
##                #if($clin.role.equals('S'))
##                    <td><div class="fa fa-pencil" data-qtip='/es/ $!{clin.signature} - Signed: $hmp.formatDateTime($!clin.signedDateTime)'></div></td>
##                #end
##            #end
##            #if($txt.cosigner)<td>Exp. Cosigner</td><td>$!txt.cosignerDisplayName</td>#end
            #foreach($clin in $txt.clinicians)
                #if($clin.role.toString().equals('SIGNER'))
                    <div class="fa fa-pencil" data-qtip='/es/ $!{clin.signature} - Signed: $hmp.formatDate($!clin.signedDateTime)'></div>
                #end
            #end
            </td>

            #if($item.cosigner)
                #foreach($clin in $txt.clinicians)
                    #if($clin.role.toString().equals('COSIGNER'))
                        <td>Cosigner</td><td>$!item.cosignerDisplayName
                        <div class="fa fa-pencil" data-qtip='/ecs/ $!{clin.signature} - Co-signed: $hmp.formatDate($!clin.signedDateTime)'></div></td>
                    #end
                #end
            #else
                #foreach($clin in $txt.clinicians)
                    #if($clin.role.toString().equals('EXPECTED_COSIGNER'))
                        <td>Expected Cosigner</td><td>$!clin.name</td>
                    #end
                #end
            #end
        </tr>
        <tr>
            ## <td>Urgency</td><td>#if($txt.urgency)$!txt.urgency#else<span class="hmp-unknown">&lt;Unknown&gt;</span>#end</td>
            <td>Status</td><td>$!txt.status</td>
        </tr>
        #if($txt.attending)<tr><td>Attending</td><td>$!txt.attendingDisplayName</td></tr>#end
    </table>
	<pre class="cpe-document-body">$!content</pre>
#end

#macro(order $ord $content)
	<table class="hmp-labeled-values">
	    <tr>
	        <td>Name</td>
	        <td>$!ord.name</td>
	    </tr>
	    <tr>
	        <td>Facility</td>
	        <td>$!ord.facilityName</td>
	    </tr>
	    <tr>
	        <td>Start</td>
	        <td>$!hmp.formatDate($!ord.start)</td>
	    </tr>
	    <tr>
	        <td>Stop</td>
	        <td>$!hmp.formatDate($!ord.stop)</td>
	    </tr>
	    <tr>
	        <td>Status</td>
	        <td>$!ord.statusName</td>
	    </tr>
	    <tr>
	        <td>Location</td>
	        <td>$!ord.locationName</td>
	    </tr>
	    <tr>
	        <td>Ordering Provider</td>
	        <td>$!ord.providerName</td>
	    </tr>
	</table>
	<hr />
	<pre class="cpe-document-body">$!content</pre>
#end

#macro(procedure $result $content)
<table class="hmp-labeled-values">
        <tr><td>Local Title</td><td>$!result.document.localTitle</td></tr>
		#if($result.document.nationalTitle)
			<tr><td>Standard Title</td><td>$!result.document.nationalTitle.title</td></tr>
		#end
        <tr>
            <td>Date of Note</td><td>$hmp.formatDateTime($!result.document.text[0].dateTime)</td>
			#if($result.document.enteredDateTime)
				<td>Entry Date</td><td>$hmp.formatDateTime($!result.document.enteredDateTime)</td>
			#end
        </tr>
        <tr>
            <td>Author</td><td>$!result.document.authorDisplayName
##            #foreach($clin in $result.document.clinicians)
##                #if($clin.role.equals('S'))
##                    <td><div class="fa fa-pencil" data-qtip='/es/ $!{clin.signature} - Signed: $hmp.formatDateTime($!clin.signedDateTime)'></div></td>
##                #end
##            #end
##			#if($result.document.cosigner)
##				<td>Exp. Cosigner</td><td>$!result.document.cosignerDisplayName</td>
##			#end
            #foreach($clin in $result.document.clinicians)
                #if($clin.role.toString().equals('SIGNER'))
                    <div class="fa fa-pencil" data-qtip='/es/ $!{clin.signature} - Signed: $hmp.formatDate($!clin.signedDateTime)'></div>
                #end
            #end
            </td>

            #if($item.cosigner)
                #foreach($clin in $result.document.clinicians)
                    #if($clin.role.toString().equals('COSIGNER'))
                        <td>Cosigner</td><td>$!item.cosignerDisplayName
                        <div class="fa fa-pencil" data-qtip='/ecs/ $!{clin.signature} - Co-signed: $hmp.formatDate($!clin.signedDateTime)'></div></td>
                    #end
                #end
            #else
                #foreach($clin in $item.clinicians)
                    #if($clin.role.toString().equals('EXPECTED_COSIGNER'))
                        <td>Expected Cosigner</td><td>$!clin.name</td>
                    #end
                #end
            #end


        </tr>
        <tr>
            ##<td>Urgency</td><td>
			##	#if($result.document.urgency)
			##		$!result.document.urgency
			##	#else
			##		<span class="hmp-unknown">&lt;Unknown&gt;</span>
			##	#end
			</td>
			<td>Status</td><td>$!result.document.statusDisplayName</td>
        </tr>
		#if($result.document.attending)
			<tr><td>Attending</td><td>$!result.document.attendingDisplayName</td></tr>
		#end
    </table>
    #foreach($txt in $result.document.text)
        #if($foreach.count>1 && $txt.content)
            #set($docid="proc-result-addendum-$txt.uid")
            #set($anumb="Addendum-$foreach.count")
            #addendumlink($docid $anumb)
        #end
    #end

    <br/>
	## TODO: not sure if this should be $!content ?
  	<pre class="cpe-document-body">$!result.document.text[0].content</pre>

	#foreach($txt in $result.document.text)
		#if($foreach.count>1 && $txt.content)
			#set($docid="proc-result-addendum-$txt.uid")
			#set($addendumid="Addendum-$foreach.count")
        #adddocument($docid $txt $txt.content "addendum" $addendumid)
		#end
	#end

#end

#macro(procaddendum $txt $content)
	<table class="hmp-labeled-values">
        <tr>
            <td>Date of Addendum</td><td>$hmp.formatDateTime($!txt.dateTime)</td>
			#if($txt.enteredDateTime)<td>Entry Date</td><td>$hmp.formatDateTime($!txt.enteredDateTime)</td>#end
		</tr>
        <tr>
            <td>Author</td><td>$!txt.getAuthorDisplayName()
##            #foreach($clin in $result.document.clinicians)
##                #if($clin.role.equals('S'))
##                    <td><div class="fa fa-pencil" data-qtip='/es/ $!{clin.signature} - Signed: $hmp.formatDate($!clin.signedDateTime)'></div></td>
##                #end
##            #end
##			#if($txt.cosigner)<td>Exp. Cosigner</td><td>$!txt.cosignerDisplayName</td>#end
            #foreach($clin in $txt.document.clinicians)
                #if($clin.role.toString().equals('SIGNER'))
                    <div class="fa fa-pencil" data-qtip='/es/ $!{clin.signature} - Signed: $hmp.formatDate($!clin.signedDateTime)'></div>
                #end
            #end
            </td>

            #if($item.cosigner)
                #foreach($clin in $txt.document.clinicians)
                    #if($clin.role.toString().equals('COSIGNER'))
                        <td>Cosigner</td><td>$!item.cosignerDisplayName
                        <div class="fa fa-pencil" data-qtip='/ecs/ $!{clin.signature} - Co-signed: $hmp.formatDate($!clin.signedDateTime)'></div></td>
                    #end
                #end
            #else
                #foreach($clin in $txt.document.clinicians)
                    #if($clin.role.toString().equals('EXPECTED_COSIGNER'))
                        <td>Expected Cosigner</td><td>$!clin.name</td>
                    #end
                #end
            #end

        </tr>
        <tr>
            ##<td>Urgency</td><td>#if($txt.urgency)$!txt.urgency#else<span class="hmp-unknown">&lt;Unknown&gt;</span>#end
            <td>Status</td><td>$!txt.status</td>
        </tr>
		#if($txt.attending)<tr><td>Attending</td><td>$!txt.attendingDisplayName</td></tr>#end
    </table>
	Date of Addendum: $hmp.formatDate($!txt.dateTime)<br>
	Author: $!txt.authorDisplayName<br>
	Status: $!txt.status<br>
	## #if($txt.urgency)Urgency: $!txt.urgency<br>#end
	#if($txt.cosigner)Exp. Cosigner: $!txt.cosignerDisplayName#end
	#if($txt.enteredDateTime)Entry Date: $hmp.formatDate($!txt.enteredDateTime)#end
	#if($txt.attending)Attending: $!txt.attendingDisplayName#end
	<pre class="cpe-document-body">$!content</pre>
#end

#macro(allergy $item $includeCausativeAgentAndNatureOfReaction)
<table class="hmp-labeled-values">
    #if($includeCausativeAgentAndNatureOfReaction)
        <tr>
            <td>Causative Agent</td>
            <td>$hmp.nameCase($!item.summary)</td>
            <td>Signs/Symptoms</td>
            <td>
                #foreach($reaction in $item.reactions)#if($velocityCount > 1),&nbsp; #end$hmp.nameCase($!reaction.name)
                #end
            </td>
        </tr>
    #end
    <tr>
        <td>Originator</td>
        <td>$hmp.nameCase($!item.originatorName)</td>
        <td>Nature of reaction</td>
        #if ($item.mechanism == 'PHARMACOLOGIC')
        ## Display PHARMACOLOGIC == Adverse Reaction like CPRS does
            <td>Adverse Reaction</td>
        #else
            <td>$!item.mechanism</td>
        #end
    </tr>
    <tr>
        <td>Originated</td>
        <td>$hmp.formatDateTime($!item.entered)</td>
        <td>Observed/Historical</td>
        #if($item.historical)
            <td>Historical</td>
        #else
            <td>Observed</td>
        #end
    </tr>
    <tr>
        <td>Verified</td>
        <td>$!esc.html($!item.verifierName)</td>
        <td>Obs dates/severity</td>
        <td>
            #foreach($obs in $item.observations)
                #if ($obs)
                    <div>$hmp.formatDate($obs.date)&nbsp;$obs.severity</div>
                #end
            #end
        </td>
    </tr>
    <tr>
        <td >Drug Classes</td>
        <td colspan="3">
            #foreach($drugCls in $item.drugClasses)
                #if ($drugCls.name)
                    <div>$drugCls.name</div>
                #end
            #end
        </td>
    </tr>
    <tr>
        <td>Comments</td>
        <td colspan="3">
            #foreach($comment in $item.comments)
                #if ($comment)
                    <blockquote>
                        <p>$comment.comment</p>
                        <small>$hmp.formatDateTime($comment.entered) by $comment.enteredByName</small>
                    </blockquote>
                #end
            #end
        </td>
    </tr>
</table>
#end