<div style="background-color: black; height: 26px; width: 100%"></div>
<noscript>
    <style type="text/css">
         body { margin: 0; }
    </style>
    <div>
        <div style="width: 100%;text-align: center; padding-top: 186px; background: url(#springUrl('/images/hmp_logo_straight.jpg')) no-repeat;background-position: center 110px">
            <div style="font-size: 16px;color: #333"><h3>Oops!</h3>The #springMessage("platform.name") won't work because JavaScript is disabled...</div>
        </div>
    </div>
</noscript>
<div id="splash" style="visibility:hidden;background-color: transparent">
    <div style="width: 100%;text-align: center; padding-top: 186px; background: url(#springUrl('/images/tri-64a.png')) no-repeat;background-position: center 110px">
        <div style="font-size: 16px">Loading Page</div>
    </div>
</div>