<html>
<head>
    <title>#springMessage("platform.name") Supported Browsers</title>
    <style type="text/css">
        div.body {
            display: block;
            margin: 75px auto;
            text-align: center;
            max-width: 600px;

            font: 14/18px Arial, "Helvetica Neue", sans-serif;
        }

        h1 {
            font-size: 34px;
            font-weight: bold;
            line-height: 38px;
            margin-bottom: 10px;
        }

        p {
            font-size: 20px;
            font-weight: bold;
            line-height: 26px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
<div class="body">
    <h1>Please upgrade to a modern browser.</h1>

    <p>
        The #springMessage("platform.name") supports
        <a href="http://www.microsoft.com/ie">Internet Explorer 9</a> and above,
        <a href="http://www.firefox.com">Firefox 4</a> and above,
        <a href="http://www.apple.com/safari">Safari 5.0.5</a> and above,
        and <a href="http://www.google.com/chrome">Chrome 9</a> and above.
    </p>

    <p>
        Please upgrade to use the #springMessage("platform.name"). Thanks!
    </p>
    <p>
        <a href="http://beta.html5test.com">
            <img src="http://www.w3.org/html/logo/img/html5-display.png">
        </a>
    </p>
</div>
</body>
</html>