<div class="row darkBG inputRow">
    <div id="patient-search-tab" class="col-md-12"></div>
    <div id="patient-search-input" class="col-md-10"></div>
    {{{helpIconLink 'patient_search'}}}
    <div id="close-button-container"></div> 
</div>
<div class="patient-search-output col-md-12">
    <div class="pillsAndHeader col-md-8">
        <div class="col-md-12 row">
            <div id="patient-search-pills" class="col-md-5 sidebar"></div>
            <div id="resultsNum" class="col-md-7">
            </div>
        </div>
        <div id="patient-search-main"></div>
    </div>
    <div id="patient-search-confirmation" class="col-md-2 mediumColumn"></div>
</div>
