<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
    <title>Event Admin</title>
</head>

#set($eventClassList=['gov.va.cpe.vpr.frameeng.CallEvent','gov.va.cpe.vpr.pom.PatientEvent'])

<body>
$params<br/>
Messages: $msgs<br/>

	Create/Push new event:
	<hr/>
	<form method="get">
		Event Type/Class: 
		<select name="eventClass">
			#foreach($i in $eventClassList)
				<option title="asd" name="$i" value="$i"
					#if($i==$params.eventClass)selected#end
				>$i</option>
			#end
		</select><br/>
		
		#if($params.eventClass=='gov.va.cpe.vpr.frameeng.CallEvent')
			FrameID: <input type="text" name="frameID" value="$!params.frameID" size="20"/><br/>
		#end
		#if($params.eventClass=='gov.va.cpe.vpr.pom.PatientEvent')
			UID: <input type="text" name="uid" value="$!params.uid" size="20"><br/>
		#end
		#if(!$params.eventClass)
			<input type="submit" value="Next"/>
		#end
		
		<!-- specify miscellanious event params -->
		#if($params.eventClass)
			<table border="1" width="500">
			<tr>
				<td colspan="2" align="center">Misc Parameters</td>
			</tr>
			<tr>
				<td>Key</td>
				<td>Value</td>
			</tr>
			#foreach($it in $eventParams.keySet())
				<tr>
					<td>$it</td>
					<td>${eventParams.get($it).toString()}</td>
				</tr>
				<input type="hidden" name="$it" value="$eventParams.get($it)"/>
			#end
			<tr>
				<td><input type="text" name="_NEW_KEY_" value="" size="10"/></td>
				<td><input type="text" name="_NEW_VAL_" value="" size="20"/></td>
			</tr>
			</table>
			<input type="submit" name="_ACTION_" value="Execute"/>
			<input type="submit" name="_ACTION_" value="Enqueue"/>
		#end
		<a href="/frame/event/push">RESET</a>
		
		
	</form>
	
	<h2>Samples</h2>
	<li> <a href="?eventClass=gov.va.cpe.vpr.frameeng.CallEvent&frameID=gov.va.cpe.vpr.queryeng.LabViewDef&pid=1627">Call LabViewDef for pid=1627</a>
	<li> <a href="?eventClass=gov.va.cpe.vpr.pom.PatientEvent&uid=urn:va:F484:100846:med:36898">PatientEvent for Med (urn:va:F484:100846:med:36898)</a>
	

</body>
</html>