// loaded patients
.#{$prefix}grid-row .hmp-pt-loaded {
  table {
    color: $color;
    font-size: $font-size;
  }
}

.#{$prefix}grid-row-selected .hmp-pt-loaded {
  table {
    color: $grid-row-cell-selected-color;
    font-size: $font-size;

    td {
      color: $grid-row-cell-selected-color;
    }

    .text-muted {
      @include muted-for-background($grid-row-cell-selected-background-color);
    }
  }
}

// unloaded patients
.#{$prefix}grid-row .hmp-pt-not-loaded {
  color: $gray-light;
  //text-decoration: line-through;

  table {
    color: $gray-light;
    font-size: $font-size;
  }
}

.#{$prefix}grid-row-selected .hmp-pt-not-loaded {
  @include muted-for-background($grid-row-cell-selected-background-color);
  //text-decoration: line-through;

  table {
    @include muted-for-background($grid-row-cell-selected-background-color);
    font-size: $font-size;
  }
}