//.hmp-favorite-checked .x-menu-item-icon {
//  background-image: url('/images/glyphicons-halflings.png');
//  background-position: -120px 0;
//}
//
//.hmp-favorite-checked.x-menu-item-active .x-menu-item-icon {
//  background-image: url('/images/glyphicons-halflings-white.png');
//}
//
//.hmp-favorite-unchecked .x-menu-item-icon {
//  background-image: none;
//}

.hmp-chart-tabs-toolbar {
  margin-right: 4px;

  .hmp-chart-tabs-strip {
    position: relative;
    top: -1px;
    border-top: 1px solid $tab-border-color-active;
    clear: both;
  }
}