.hmp-clearbutton {
  width: 12px;
  height: 12px;
  -moz-user-focus: ignore; /* https://developer.mozilla.org/en/CSS/-moz-user-focus */
  cursor: pointer;
  position: absolute;
  overflow:  hidden; /* IE 6 :-( */
  margin-top: 0px;
  background-color: white;

  i.fa {
    color: $gray-light;
  }
  i.fa:hover {
    color: $gray;
  }
}

.hmp-clearbutton-mouse-over-input {
  background-position: 0 -12px;
}

.hmp-clearbutton-mouse-over-button {
  background-position: 0 -24px;
}

.hmp-clearbutton-mouse-down {
  background-position: 0 -36px;
}

.hmp-clearbutton-on {
  opacity: 1;
  visibility: visible;
  transition: opacity .2s linear;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  -ms-transition: opacity .2s linear;
  -khtml-transition: opacity .2s linear;
}

.hmp-clearbutton-off {
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s linear, visibility .0s linear .2s;
  -webkit-transition: opacity .2s linear, visibility .0s linear .2s;
  -moz-transition: opacity .2s linear, visibility .0s linear .2s;
  -o-transition: opacity .2s linear, visibility .0s linear .2s;
  -ms-transition: opacity .2s linear, visibility .0s linear .2s;
  -khtml-transition: opacity .2s linear, visibility .0s linear .2s;
}
