.#{$prefix}infiniteboundlist {
  border-color: #ccc;
  border-color: $boundlist-border-color;
  @include border-radius($boundlist-border-radius);
  padding: 5px 0;
  @include box-shadow(0 5px 10px rgba(0,0,0,.2));
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  .#{$prefix}grid-header-ct {
    border-width: 0;
  }

  .#{$prefix}grid-body {
    padding: 5px 0;
  }
}
