/*
display: inline-block; width: 18px; height: 40px; margin: 0px 2px; background-color: #afafaf
*/
.layout-picker-cols {
  text-align: center;
  position: relative;
  line-height: $line-height-base;
  margin-top: 6px;
}

.layout-picker-col {
  display: inline-block;
  width: $layout-picker-column-width;
  height: $layout-picker-column-height;
  background-color: $layout-picker-column-background-color;
  margin: 0px 2px;
}

.layout-picker-cols-label {
  text-align: center;
  line-height: $line-height-base;
  margin-top: 6px;
}

