/* make sure the element has position: relative */
[data-notifications] {
  position: relative;
}

/* append the notification badge after it */
[data-notifications]:after {
  content: ' ';
  background: $gray-light;
  display: block;
  height: 6px;
  position: absolute;
  width: 6px;
  bottom: -8px;
  left: 50%;
  margin-left: -3px;
  z-index: 1;
  border-radius: 50%;
}