// popup buttons
@include extjs-button-extra-small-ui(
  $ui: 'popup'
);
@include extjs-button-small-ui(
  $ui: 'popup'
);
@include extjs-button-medium-ui(
  $ui: 'popup'
);
@include extjs-button-large-ui(
  $ui: 'popup'
);
@include extjs-button-toolbar-extra-small-ui(
  $ui: 'popup'
);
@include extjs-button-toolbar-small-ui(
  $ui: 'popup'
);
@include extjs-button-toolbar-medium-ui(
  $ui: 'popup'
);
@include extjs-button-toolbar-large-ui(
  $ui: 'popup'
);

.hmp-popupbutton-menu {
  background-color: $menu-background-color;
  border-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: $popup-border-color;

  .#{$prefix}menu-body {
    padding: 10px 0px 0px 0px;
  }

  .#{$prefix}menu-item {
    padding: 0px 10px;
  }

  .#{$prefix}menu-item-active {
    background-color: transparent;
    background-image: none;
    cursor: default;
  }

  .#{$prefix}toolbar-footer {
    padding: 10px;
    background-color: $popup-footer-background-color;
    border-top-width: 1px !important;
    border-top-style: solid;
    border-top-color: $popup-footer-border-color;
  }
}