/* master-detail nested in grid rowbody */
.hmp-rowbody-masterdetail {
  color: $color;
  width: 100%;
  height: 100%;
  
   /* less margin/padding than default Bootstrap .nav */
    .nav > li > a {
       color: $color;
       line-height: 18px;
       padding: 4px 6px;
       margin: 0;
    }

    .nav > li.active > a {
      color: $grid-row-cell-selected-color;
    }

    /* styles for the li-scroller display */
    .li-scroller div.wrapper {
      overflow: hidden;
    }

    .li-scroller div.arrow_up,
    .li-scroller div.arrow_dn {
      z-index: 1;
      color: $link-color;
      background-color: $well-bg;
      font-weight: bold;
      text-decoration: normal;
      text-align: center;
      cursor: pointer;
      background-repeat: no-repeat;
    }

    .li-scroller div.arrow_up:hover,
    .li-scroller div.arrow_dn:hover {
      color: $link-hover-color;
      text-decoration: underline;
    }

    .li-scroller div.arrow_up {
      background-image: url('/images/icons/arrow_up.png');
    }

    .li-scroller div.arrow_dn {
      background-image: url('/images/icons/arrow_down.png');
    }
  

  .hmp-rowbody-master {
    padding: 4px 0px 0px 0px;
    min-width: 120px;
    height: 100%;
    vertical-align: top;

    b,strong {
      color: $color;
    }

    .nav-stacked > li {
      position:relative;
    }
    .nav-stacked > li > a {
      white-space: nowrap;
      @include border-right-radius(0);

      .label,.badge {
        z-index: 3;
      }
    }

    .nav-stacked > li:before,
    .nav-stacked > li:after,
    .nav-stacked > li > a:before,
    .nav-stacked > li > a:after {
      /* All pseudo elements are
         abs. positioned and on right */
      position: absolute;
      right: 0;
    }
    .nav-stacked > li:hover,
    .nav-stacked > li:focus,
    .nav-stacked > li > a:hover,
    .nav-stacked > li > a:focus {
      z-index: 30;
    }
    /* Only active tabs need pseudo elements at all */
    .nav-stacked .active:after,
    .nav-stacked .active:before,
    .nav-stacked .active a:after,
    .nav-stacked .active a:before {
      content: "";
    }
    .nav-stacked .active:before,
    .nav-stacked .active:after {
      background: $grid-row-cell-selected-background-color;

      /* Squares below circles */
      z-index: 1;
    }
    /* Squares */
    .nav-stacked > li:before,
    .nav-stacked > li:after {
      background: $grid-row-cell-selected-background-color;
      width: 5px;
      height: 5px;
    }
    .nav-stacked > li:before {
      top: -5px;
    }
    .nav-stacked > li:after {
      bottom: -5px;
    }
    /* Circles */
    .nav-stacked > li > a:after,
    .nav-stacked > li > a:before {
      width: 10px;
      height: 10px;
      /* Circles are circular */
      -webkit-border-radius: 5px;
      -moz-border-radius:    5px;
      border-radius:         5px;
      background: #fff;

      /* Circles over squares */
      z-index: 2;
    }
    .nav-stacked .active a:after,
    .nav-stacked .active a:before {
      background: #fff;
    }

    .nav-stacked li a:before {
      top: -10px;
    }
    .nav-stacked li a:after {
      bottom: -10px;
    }
  }

  .hmp-rowbody-detail {
    min-width: 200px;
    height: 100%;
    vertical-align: top;

    background-color: lighten(#dde2e9, 9%);
    border-left: 2px solid $grid-row-cell-selected-background-color;

    .hmp-labeled-values {
      td {
        color: $color;
      }
      td:nth-child(odd) {
        color: $form-label-color;
      }
    }
  }
}