input.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9; /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0; // Remove the default margin on all inputs
  @include  border-radius(15px);
}

.search-group-field {
  border-right-width: 0px;

  .#{$prefix}form-trigger-wrap,
  input {
    font-size: 14px;
    line-height: 20px;
    height: 36px;

    border-right-width: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.#{$prefix}btn.search-group-btn {
  .#{$prefix}btn-inner,
  .#{$prefix}btn-glyph {
    font-size: 14px;
    line-height: 26px;
  }
}