.search-query .#{$prefix}form-trigger-wrap {
  padding-right: 14px;
  padding-left: 7px;
  @include border-radius(15px);

//  .#{$prefix}trigger-cell {
//    background-color: transparent;
//  }
//
//  .#{$prefix}form-trigger {
//    background-image: none;
//    border: none;
//  }

  .#{$prefix}form-text {
    padding-left: 0px;
    padding-right: 0px;
    border-right-width: 0px;
  }

//  i {
//    margin: 0;
//    line-height: 1.5;
//    color: $form-field-empty-color;
//  }
//
//  i.icon-sort-down {
//    font-size: 11px;
//  }

  // actionable trigger icons
  .hmp-actionable:hover {
    color: $gray;
  }
}