/* sparkline wrapper/scrollers */

.hmp-sparkline-left {
  cursor: pointer;
  background-color: red;
  visibility: hidden;
  width: 10px;
  position: relative; left: 10; top: 10;
}

.hmp-sparkline-active {
  visibility: visible !important;
}

.hmp-sparkline-wrapper {
  padding-top: 3px;
}

/* Small timelines */
.hmp-timeline {
  background-color: white !important;
  border: 1px solid rgb(204, 204, 204);
}