.hmp-team-position-tile {
  height: 36px;
  padding: 4px;
  margin: 2px 6px 6px 6px;
  font-size: $font-size-large;
}

.hmp-team-position-tile img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.hmp-team-position-tile span {
  margin-left: 4px;
  line-height: 24px;
}

.hmp-team-position-tile .x-form-clear-trigger {
  width: 16px;
  height: 16px;
}

.hmp-team-position-tile-over {
  border-radius: 12px;
  border: 1px solid $form-field-border-color;
  background-color: $form-field-background-color !important;
}

.hmp-team-position-tile-unassigned {
  border-radius: 12px;
  border: 1px solid $form-field-border-color;
  background-color: $well-bg;
  text-align: center;
}

.x-grid-row-selected .hmp-team-position-tile-unassigned {
  background-color: transparent;
}