
#set($doc = $docs[0])
<span #if($doc.historical)class="text-muted"#end">
    ## mute historical allergies
	#if($doc.historical)Entered in Error: #else Active: #end
	$doc.summary
	
	#if( $doc.allergy_reaction)
	(<span class="text-muted">Signs/Symptoms</span>
	#foreach ($react in $doc.allergy_reaction) 
		#if($velocityCount > 1),&nbsp; #end $react
	#end)
	#end
</span>
	
