.#{$prefix}tree-icon-parent {
  display: none !important;
}

.#{$prefix}tree-icon-leaf {
  display: none !important;
}

.#{$prefix}grid-cell-treecolumn {
  line-height: $line-height-base;
}

//arrows
.#{$prefix}tree-arrows {
  .#{$prefix}tree-expander {
    background-image: none;
    padding-left: 6px;
    font-size: $font-size-large;
    @include fa-icon($fa-var-caret-right);
  }

  .#{$prefix}tree-expander-over .#{$prefix}tree-expander {
    color: $gray;
  }

  .#{$prefix}grid-tree-node-expanded .#{$prefix}tree-expander {
    padding-left: 4px;

    @include fa-icon($fa-var-caret-down);
  }

  .#{$prefix}grid-tree-node-expanded .#{$prefix}tree-expander-over .#{$prefix}tree-expander {
    color: $gray;
  }
}

// well and sidebar styled Ext.tree.Panels
@each $ui in well, sidebar {
  .#{$prefix}panel-body-#{$ui},
  .#{$prefix}panel-body-#{$ui}-framed {
    background: none;
    //background-color: transparent;
    .#{$prefix}grid-row .#{$prefix}grid-cell-treecolumn {
      background-color: transparent;
    }

    // non-parent tree nodes styled like bootstrap .dropdown-nav
    .#{$prefix}grid-row:not(.#{$prefix}grid-tree-node-leaf) > .#{$prefix}grid-cell-treecolumn {
      font-size: $font-size-small;
      font-weight: bold;
      line-height: $line-height-base;
      text-transform: uppercase;
    }

    .#{$prefix}grid-tree-node-expanded .#{$prefix}grid-cell-treecolumn {
      font-size: $font-size-small;
      font-weight: bold;
      line-height: $line-height-base;
      text-transform: uppercase;
    }

    .#{$prefix}grid-row-selected {
      color: $component-active-color;
      background-color: $component-active-bg;
    }
  }
}

.#{$prefix}panel-body-well,
.#{$prefix}panel-body-well-framed {
  .#{$prefix}grid-row:not(.#{$prefix}grid-tree-node-leaf):not(.#{$prefix}grid-row-selected) > .#{$prefix}grid-cell-treecolumn {
    color: $dropdown-header-color;
  }
  .#{$prefix}grid-row:not(.#{$prefix}grid-row-selected) .#{$prefix}grid-tree-node-expanded .#{$prefix}grid-cell-treecolumn {
    color: $dropdown-header-color;
  }
}

.#{$prefix}panel-body-sidebar,
.#{$prefix}panel-body-sidebar-framed {
  .#{$prefix}grid-row:not(.#{$prefix}grid-tree-node-leaf):not(.#{$prefix}grid-row-selected) > .#{$prefix}grid-cell-treecolumn {
    color: $panel-sidebar-header-color;
  }
  .#{$prefix}grid-row:not(.#{$prefix}grid-row-selected) .#{$prefix}grid-tree-node-expanded .#{$prefix}grid-cell-treecolumn {
    color: $panel-sidebar-header-color;
  }
}