<nav role="navigation" class="navbar navbar-default">
    <div class="navTitle">
        <p class="navbar-text" alt="Patient Selection">Patient Selection
        {{#each navTabs}}
        <button type="button" route-id="{{routeName}}" class="btn navigation-tab btn-sm" title="{{toTitleCase finalTitle}}" id="{{toLowerCase finalID}}">{{toTitleCase title}}</button>
        {{/each}}
        </p>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a id="eHMP-CurrentUser" data-target="#" class="dropdown-toggle" data-toggle="dropdown" tabIndex="0">
                    <span class="fa fa-user"></span><span class="sr-only">, Current user menu, Press enter, to open menu, , current user,</span> {{lastname}}, {{firstname}}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <div class="container-fluid" role="presentation">
                        <dt class="text-muted">{{facility}}</dt>
                        <dd class="text-info">{{title}}</dd>
                    </div>
                    <li class="divider"></li>
                    {{#each pages}}
                    <li role="presentation"><a href="#{{pageName}}">{{pageName}}</a>
                    </li>
                    {{/each}}
                    <li role="presentation">
                        <a id="logoutButton" role="menuitem" tabindex="0">
                            <span class="sr-only">, Sign out button, Press enter, to sign out and return to logon screen,</span>
                            <span class="fa fa-power-off"></span>&nbsp; Sign Out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    {{{helpIconLink 'user_info' 'helpIconLinkRight'}}}
</nav>
