<h3>Multi-Select Side by Side Version 2</h3>
<div class="description">
    <p><strong><i class="fa fa-leanpub"></i> Description:</strong> Multi-Select Side by Side allows the user to select and remove multiple items quickly.</p>
    <p><strong><i class="fa fa-wheelchair"></i> 508 Guidelines:</strong> The screen reader will announce the different options with the arrow keys. Tab to navigate to an option then use enter to add or remove the selected option</p>
</div>
<div class="row">
    <div class="mssbs">
        <div class="col-md-6">
            <div class="panel panel-default panel-w-list-group">
                <div class="panel-heading">
                    <div class="mssbs-header-search">
                        <div class="control form-group">
                            <label for="available-providers-search" class="sr-only">Search</label>
                            <input id="available-providers-search" class="form-control input-sm" type="text" name="name" title="Please enter in a search" placeholder="Search" />
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11 col-xs-11">
                                Vehu, Five
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <button title="Press enter to add provider" class="btn icon-btn icon-btn-mini" type="button"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11 col-xs-11">
                                Vehu, One
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <button title="Press enter to add provider" class="btn icon-btn icon-btn-mini" type="button"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11 col-xs-11">
                                Vehu, Ten
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <button title="Press enter to add provider" class="btn icon-btn icon-btn-mini" type="button"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11 col-xs-11">
                                Vehu, Three
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <button title="Press enter to add provider" class="btn icon-btn icon-btn-mini" type="button"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11 col-xs-11">
                                Vehu, Four
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <button title="Press enter to add provider" class="btn icon-btn icon-btn-mini" type="button"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="faux-table">
                <div class="sr-only">This table represents symptoms categorized by date and time.</div>
                <div class="header">
                    <div class="table-row">
                        <div>
                            <div>Symptoms</div>
                        </div>
                        <div>
                            <div>Date</div>
                        </div>
                        <div>
                            <div>Time</div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="table-row">
                        <div>
                            <span>Itchy Watery Eyes</span>
                        </div>
                        <div>
                            <span>
                                <div class="control form-group">
                                    <label for="date1" class="sr-only">Calendar</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" class="form-control" title="Please enter in a date in the following format, MM/DD/YYYY" placeholder="MM/DD/YYYY" id="date1" />
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div>
                            <span>
                                <div class="control form-group">
                                    <label for="time1" class="sr-only">Time Picker</label>
                                    <div class="input-group bootstrap-timepicker">
                                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                        <input type="text" class="form-control timepicker" title="Please enter in a time in the following format, HH:MM." placeholder="HH:MM" id="time1" />
                                    </div>ㄷ
                                </div>
                            </span>
                        </div>
                        <div>
                            <span>
                                <button type="button" class="btn icon-btn icon-btn-mini" title="Press enter to remove symptom"><i class="fa fa-times-circle"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="table-row">
                        <div>
                            <span>Symptom Name</span>
                        </div>
                        <div>
                            <span>
                                <div class="control form-group">
                                    <label for="date2" class="sr-only">Calendar</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" class="form-control" title="Please enter in a date in the following format, MM/DD/YYYY" placeholder="MM/DD/YYYY" id="date2" />
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div>
                            <span>
                                <div class="control form-group">
                                    <label for="time2" class="sr-only">Time Picker</label>
                                    <div class="input-group bootstrap-timepicker">
                                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                        <input type="text" class="form-control timepicker" title="Please enter in a time in the following format, HH:MM." placeholder="HH:MM" id="time2" />
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div>
                            <span><button type="button" class="btn icon-btn icon-btn-mini" title="Press enter to remove symptom"><i class="fa fa-times-circle"></i>
                        </button></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div role="tabpanel" class="tabpanel">
    <ul role="tablist" class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#markup-multi-select-side-by-side-ver2" aria-controls="markup-multi-select-side-by-side-ver2" role="tab" data-toggle="tab">Multi-Select Side by Side Version 2</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="markup-multi-select-side-by-side-ver2">
            <pre>
&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;mssbs&quot;&gt;
        &lt;div class=&quot;col-md-6&quot;&gt;
            &lt;div class=&quot;panel panel-default panel-w-list-group&quot;&gt;
                &lt;div class=&quot;panel-heading&quot;&gt;
                    &lt;div class=&quot;mssbs-header-search&quot;&gt;
                        &lt;div class=&quot;control form-group&quot;&gt;
                            &lt;label for=&quot;available-providers-search&quot; class=&quot;sr-only&quot;&gt;Search&lt;/label&gt;
                            &lt;input id=&quot;available-providers-search&quot; class=&quot;form-control input-sm&quot; type=&quot;text&quot; name=&quot;name&quot; title=&quot;Please enter in a search&quot; placeholder=&quot;Search&quot; /&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;ul class=&quot;list-group&quot;&gt;
                    &lt;li class=&quot;list-group-item&quot;&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-md-11 col-xs-11&quot;&gt;
                                Vehu, Five
                            &lt;/div&gt;
                            &lt;div class=&quot;col-md-1 col-xs-1&quot;&gt;
                                &lt;button title=&quot;Press enter to add provider&quot; class=&quot;btn icon-btn icon-btn-mini&quot; type=&quot;button&quot;&gt;&lt;i class=&quot;fa fa-plus&quot;&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li class=&quot;list-group-item&quot;&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-md-11 col-xs-11&quot;&gt;
                                Vehu, One
                            &lt;/div&gt;
                            &lt;div class=&quot;col-md-1 col-xs-1&quot;&gt;
                                &lt;button title=&quot;Press enter to add provider&quot; class=&quot;btn icon-btn icon-btn-mini&quot; type=&quot;button&quot;&gt;&lt;i class=&quot;fa fa-plus&quot;&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li class=&quot;list-group-item&quot;&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-md-11 col-xs-11&quot;&gt;
                                Vehu, Ten
                            &lt;/div&gt;
                            &lt;div class=&quot;col-md-1 col-xs-1&quot;&gt;
                                &lt;button title=&quot;Press enter to add provider&quot; class=&quot;btn icon-btn icon-btn-mini&quot; type=&quot;button&quot;&gt;&lt;i class=&quot;fa fa-plus&quot;&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li class=&quot;list-group-item&quot;&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-md-11 col-xs-11&quot;&gt;
                                Vehu, Three
                            &lt;/div&gt;
                            &lt;div class=&quot;col-md-1 col-xs-1&quot;&gt;
                                &lt;button title=&quot;Press enter to add provider&quot; class=&quot;btn icon-btn icon-btn-mini&quot; type=&quot;button&quot;&gt;&lt;i class=&quot;fa fa-plus&quot;&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li class=&quot;list-group-item&quot;&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-md-11 col-xs-11&quot;&gt;
                                Vehu, Four
                            &lt;/div&gt;
                            &lt;div class=&quot;col-md-1 col-xs-1&quot;&gt;
                                &lt;button title=&quot;Press enter to add provider&quot; class=&quot;btn icon-btn icon-btn-mini&quot; type=&quot;button&quot;&gt;&lt;i class=&quot;fa fa-plus&quot;&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-6&quot;&gt;
            &lt;div class=&quot;faux-table&quot;&gt;
                &lt;div class=&quot;sr-only&quot;&gt;This table represents symptoms categorized by date and time.&lt;/div&gt;
                &lt;div class=&quot;header&quot;&gt;
                    &lt;div class=&quot;table-row&quot;&gt;
                        &lt;div&gt;
                            &lt;div&gt;Symptoms&lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;div&gt;Date&lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;div&gt;Time&lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;div&gt;&lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;body&quot;&gt;
                    &lt;div class=&quot;table-row&quot;&gt;
                        &lt;div&gt;
                            &lt;span&gt;Itchy Watery Eyes&lt;/span&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;span&gt;
                                &lt;div class=&quot;control form-group&quot;&gt;
                                    &lt;label for=&quot;date1&quot; class=&quot;sr-only&quot;&gt;Calendar&lt;/label&gt;
                                    &lt;div class=&quot;input-group date&quot;&gt;
                                        &lt;span class=&quot;input-group-addon&quot;&gt;&lt;i class=&quot;fa fa-calendar&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                                        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; title=&quot;Please enter in a date in the following format, MM/DD/YYYY&quot; placeholder=&quot;MM/DD/YYYY&quot; id=&quot;date1&quot; /&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/span&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;span&gt;
                                &lt;div class=&quot;control form-group&quot;&gt;
                                    &lt;label for=&quot;time1&quot; class=&quot;sr-only&quot;&gt;Time Picker&lt;/label&gt;
                                    &lt;div class=&quot;input-group bootstrap-timepicker&quot;&gt;
                                        &lt;span class=&quot;input-group-addon&quot;&gt;&lt;i class=&quot;fa fa-clock-o&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                                        &lt;input type=&quot;text&quot; class=&quot;form-control timepicker&quot; title=&quot;Please enter in a time in the following format, HH:MM.&quot; placeholder=&quot;HH:MM&quot; id=&quot;time1&quot; /&gt;
                                    &lt;/div&gt;ㄷ
                                &lt;/div&gt;
                            &lt;/span&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;span&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn icon-btn icon-btn-mini&quot; title=&quot;Press enter to remove symptom&quot;&gt;&lt;i class=&quot;fa fa-times-circle&quot;&gt;&lt;/i&gt;
                                &lt;/button&gt;
                            &lt;/span&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;table-row&quot;&gt;
                        &lt;div&gt;
                            &lt;span&gt;Symptom Name&lt;/span&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;span&gt;
                                &lt;div class=&quot;control form-group&quot;&gt;
                                    &lt;label for=&quot;date2&quot; class=&quot;sr-only&quot;&gt;Calendar&lt;/label&gt;
                                    &lt;div class=&quot;input-group date&quot;&gt;
                                        &lt;span class=&quot;input-group-addon&quot;&gt;&lt;i class=&quot;fa fa-calendar&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                                        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; title=&quot;Please enter in a date in the following format, MM/DD/YYYY&quot; placeholder=&quot;MM/DD/YYYY&quot; id=&quot;date2&quot; /&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/span&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;span&gt;
                                &lt;div class=&quot;control form-group&quot;&gt;
                                    &lt;label for=&quot;time2&quot; class=&quot;sr-only&quot;&gt;Time Picker&lt;/label&gt;
                                    &lt;div class=&quot;input-group bootstrap-timepicker&quot;&gt;
                                        &lt;span class=&quot;input-group-addon&quot;&gt;&lt;i class=&quot;fa fa-clock-o&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                                        &lt;input type=&quot;text&quot; class=&quot;form-control timepicker&quot; title=&quot;Please enter in a time in the following format, HH:MM.&quot; placeholder=&quot;HH:MM&quot; id=&quot;time2&quot; /&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/span&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;span&gt;&lt;button type=&quot;button&quot; class=&quot;btn icon-btn icon-btn-mini&quot; title=&quot;Press enter to remove symptom&quot;&gt;&lt;i class=&quot;fa fa-times-circle&quot;&gt;&lt;/i&gt;
                        &lt;/button&gt;&lt;/span&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
            </pre>
        </div>
    </div>
</div>
