<h3>Panel with List Group</h3>

<div class="description">
    <p><strong><i class="fa fa-leanpub"></i> Description:</strong> A panel with list group displays content that pertains to the subject in a full width list manner.</p>
    <p><strong><i class="fa fa-wheelchair"></i> 508 Guidelines:</strong> The panel with list group contains a list, which will follow the same guidelines as in the list section.</p>
</div>

<h4>Panel with List Group</h4>
<div id="panel-list-groupCopy">
    <div class="panel panel-default panel-w-list-group">
        <div class="panel-heading">
            Panel Heading
        </div>
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>
<hr />

<div role="tabpanel" class="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#markup-panel-list-group" aria-controls="markup-panel-list-group" role="tab" data-toggle="tab">Panel with List Group</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="markup-panel-list-group">
            <pre>
&lt;div class="panel panel-default panel-w-list-group"&gt;
    &lt;div class="panel-heading">
        Panel Heading
    &lt;/div>
    &lt;ul class="list-group">
        &lt;li class="list-group-item">Cras justo odio&lt;/li>
        &lt;li class="list-group-item">Dapibus ac facilisis in&lt;/li>
        &lt;li class="list-group-item">Morbi leo risus&lt;/li>
        &lt;li class="list-group-item">Porta ac consectetur ac&lt;/li>
        &lt;li class="list-group-item">Vestibulum at eros&lt;/li>
    &lt;/ul>
&lt;/div>
            </pre>
            <a onclick="copyToClipboard('panel-list-groupCopy')" role="button" tabindex="0" class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" data-content="Copied" data-template='<div class="popover popover-sm" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'>Copy</a>
        </div>
    </div>
</div>
