.#{$prefix}tab {
  z-index: 1;
}

.#{$prefix}tab-bar-strip-default-top {
  position: relative;
  top: -2px;
}

.#{$prefix}tab-bar-strip-default-bottom {
  position: relative;
  top: -30px;
}

.#{$prefix}tab-bar-strip-default-plain {
  background-color: $tabbar-strip-background-color;
}

// pills
@include extjs-tab-panel-ui(
  $ui: 'pills',

  $ui-tab-background-color: $tab-pills-background-color,
  $ui-tab-background-color-over:  $tab-pills-background-color-over,
  $ui-tab-background-color-active:  $tab-pills-background-color-active,
  $ui-tab-background-color-disabled:  $tab-pills-background-color-disabled,

  $ui-tab-border-radius: $tab-pills-border-radius,
  $ui-tab-border-width: 0px,

  $ui-tab-padding: $tab-pills-padding,

  $ui-tab-color: $tab-pills-color,
  $ui-tab-color-over: $tab-pills-color-over,
  $ui-tab-color-active: $tab-pills-color-active,
  $ui-tab-color-disabled: $tab-pills-color-disabled,

  $ui-tab-border-color: $tab-pills-background-color,
  $ui-tab-border-color-over: $tab-pills-background-color-over,
  $ui-tab-border-color-active: $tab-pills-background-color-active,
  $ui-tab-border-color-disabled: $tab-pills-background-color-disabled,

  $ui-tab-background-gradient: null,
  $ui-tab-background-gradient-over: null,
  $ui-tab-background-gradient-active: null,
  $ui-tab-background-gradient-disabled: null,

  $ui-strip-height: $tabbar-strip-height,
  $ui-strip-border-width: 0px,
  $ui-strip-plain-border-width: $tabbar-strip-plain-border-width,
  $ui-strip-border-color: $tabbar-strip-border-color,
  $ui-strip-background-color: $tab-pills-background-color
);

.#{$prefix}tab-bar-strip-pills {
  background-color: $tab-pills-background-color;
}

.#{$prefix}tab-pills-top,
.#{$prefix}tab-pills-left,
.#{$prefix}tab-pills-right
.#{$prefix}tab-pills-bottom {
  border-width: 0px;
  border: none;
}

// underline
//@include extjs-tab-panel-ui(
//  $ui: 'underline',
//
//  $ui-tab-font-weight: $tab-underline-font-weight,
//  $ui-tab-font-weight-over: $tab-underline-font-weight,
//  $ui-tab-font-weight-active: $tab-underline-font-weight,
//  $ui-tab-font-weight-disabled: $tab-underline-font-weight,
//
//  $ui-tab-color: $tab-underline-color,
//  $ui-tab-color-over: $tab-underline-color-over,
//  $ui-tab-color-active: $tab-underline-color-active,
//  $ui-tab-color-disabled: $tab-underline-color-disabled,
//
//  $ui-tab-border-width: $tab-underline-border-width,
//  $ui-tab-border-radius: $tab-underline-border-radius,
//  $ui-tab-border-color: transparent,
//  $ui-tab-border-color-over: transparent transparent $link-color transparent,
//  $ui-tab-border-color-active:transparent transparent $link-color transparent,
//  $ui-tab-border-color-disabled: transparent,
//
//  $ui-tab-background-color: $tab-underline-background-color,
//  $ui-tab-background-color-over: $tab-underline-background-color,
//  $ui-tab-background-color-active: $tab-underline-background-color,
//  $ui-tab-background-color-disabled: $tab-underline-background-color,
//
//  $ui-tab-background-gradient: null,
//  $ui-tab-background-gradient-over: null,
//  $ui-tab-background-gradient-active: null,
//  $ui-tab-background-gradient-disabled: null
//);
//
//.#{$prefix}tab-bar-strip-underline-horizontal {
//  position: relative;
//  top: -1px;
//}