.#{$prefix}form-spinner-up {
  @include border-bottom-radius(0);
  padding-top: 5px;
  i {
    line-height: 7px;
  }
}

.#{$prefix}form-spinner-down {
  @include border-top-radius(0);
  i {
    line-height: 7px;
  }
}

