.#{$prefix}boundlist {
  border-width: $boundlist-border-width;
  border-style: $boundlist-border-style;
  border-color: #ccc;
  border-color: $boundlist-border-color;
  background: $boundlist-background-color;

  @include border-radius($boundlist-border-radius);
  padding: 5px 0;
  @include box-shadow(0 5px 10px rgba(0,0,0,.2));
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  ul {
    margin: 0
  }
}

.#{$prefix}boundlist-item {
  padding: $boundlist-item-padding;
  font: $boundlist-item-font-weight $boundlist-item-font-size $boundlist-item-font-family;
  @if not is-null($boundlist-item-height) {
    line-height: $boundlist-item-height - vertical($boundlist-item-border-width) - vertical($boundlist-item-padding);
  }

  cursor: pointer;
  cursor: hand;
  position: relative; /*allow hover in IE on empty items*/

  // Must have layout to allow line-height to work
  zoom: 1;

  border-width: $boundlist-item-border-width;
  border-style: $boundlist-item-border-style;
  border-color: $boundlist-item-border-color;

  white-space: nowrap;
}

.#{$prefix}boundlist-selected {
  color: $boundlist-item-selected-color;
  background: $boundlist-item-selected-background-color;
  border-color: $boundlist-item-selected-border-color;
}

.#{$prefix}boundlist-item-over {
  color: $boundlist-item-over-color;
  background: $boundlist-item-over-background-color;
  border-color: $boundlist-item-over-border-color;
}

.#{$prefix}boundlist-above {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.#{$prefix}boundlist-item {
  white-space: nowrap;
}