$datepicker-background-color: $body-bg !default;
$datepicker-border-color: $dropdown-border !default;
$datepicker-arrow-width: 12px !default;
$datepicker-arrow-height: 12px !default;
$datepicker-arrow-opacity: 1 !default;
$datepicker-arrow-opacity-over: 1 !default;
$datepicker-month-button-arrow-width: 8px !default;
$datepicker-header-background-color: $panel-default-heading-bg !default;
$datepicker-column-header-color: $dropdown-header-color !default;
$datepicker-column-header-border-color: $neutral-color !default;
$datepicker-column-header-background-color: $datepicker-background-color !default;
$datepicker-item-hover-background-color: $dropdown-link-hover-bg !default;
$datepicker-item-selected-background-color: $component-active-bg !default;
$datepicker-item-selected-border-color: $component-active-bg !default;
$datepicker-item-today-border-color: darkred !default;
$datepicker-column-header-border-width: 0 !default;
$datepicker-column-header-font-weight: bold !default;
$datepicker-footer-border-width: $datepicker-column-header-border-width !default;
$datepicker-footer-background-color: $panel-footer-bg !default;
$datepicker-footer-button-spacing: 5px !default;
$datepicker-month-button-color: $text-color !default;
$datepicker-monthpicker-yearnav-button-height: $datepicker-arrow-height !default;
$datepicker-monthpicker-yearnav-button-width: $datepicker-arrow-width !default;
$datepicker-monthpicker-yearnav-button-opacity: $datepicker-arrow-opacity !default;
$datepicker-monthpicker-yearnav-button-opacity-over: $datepicker-arrow-opacity-over !default;