/** @class Ext.tab.Tab */
//

$tab-base-color: $body-bg !default;
$tab-base-color-over: $nav-link-hover-bg !default;
$tab-base-color-active: $body-bg !default;
$tab-base-color-disabled: $body-bg !default;

$tab-color: $link-color !default;
$tab-color-over: darken($link-color,10%) !default;
$tab-color-active: $text-color !default;

$tab-background-gradient: 'none' !default;
$tab-background-gradient-over: 'none' !default;
$tab-background-gradient-active: 'none' !default;
$tab-background-gradient-disabled: 'none' !default;

$tab-border-color: $tab-base-color !default;
$tab-border-color-over: $tab-base-color-over !default;
$tab-border-color-active: $nav-tabs-active-link-hover-border-color !default;
$tab-border-color-disabled: $tab-border-color !default;
$tab-border-radius: 4px 4px 0 0 !default;
$tab-border-width: 1px !default;
$tab-inner-border-width: 0 !default;

$tab-padding: 6px 10px !default;

$tab-line-height: 16px !default;
$tab-margin: 0 2px 0 0 !default;

$tab-icon-width: 16px !default;
$tab-icon-height: 16px !default;
$tab-icon-spacing: 4px !default;

//$tab-text-opacity-disabled: .3 !default;
$tab-closable-icon-width: 12px !default;
$tab-closable-icon-height: 12px !default;
$tab-closable-icon-include-hover-background-position: true !default;
$tab-closable-icon-include-pressed-background-position: true !default;
//$tab-closable-icon-opacity-disabled: $tab-text-opacity-disabled !default;

$tab-font-weight: normal !default;

// pills
$tab-pills-background-color: #fff;
$tab-pills-background-color-over: $gray-lighter;
$tab-pills-background-color-active: $link-color;
$tab-pills-background-color-disabled: #fff;

$tab-pills-border-radius: 5px;
$tab-pills-padding: 6px 10px;

$tab-pills-color: $link-color;
$tab-pills-color-over: darken($link-color,10%);
$tab-pills-color-active: #fff;
$tab-pills-color-disabled: $gray-light;

// underline
//$tab-underline-color: $gray-light;
//$tab-underline-color-over: $gray-dark;
//$tab-underline-color-active: $gray-dark;
//$tab-underline-color-disabled: $gray-lighter;
//$tab-underline-font-weight: bold;
//$tab-underline-background-color: #fff;
//$tab-underline-border-radius: 0px;
//$tab-underline-border-width: 1px;