$form-checkboxgroup-alt-background: $input-group-addon-bg !default;
$form-checkboxgroup-alt-border-top: 1px dotted $input-group-addon-border-color !default;
$form-checkboxgroup-alt-border-bottom: 1px dotted $input-group-addon-border-color !default;