<ul id="allergen-search-result-composite-outer-div" class="allergen-search-result-header list-unstyled">
    <li>
        <div id="allergen-search-result-composite-inner-div" class="text allergen-search-result-header-text">
            <a href="#" onclick="return false">
                <span role="heading">{{fileName}}</span>
            </a>
        </div>
        <div class="text allergen-search-result-header-text allergen-search-result-composite-count">
            <div>
                <span role="heading">{{results.length}}</span>
            </div>
        </div>
    </li>
</ul>
<ul id="allergen-search-result-item-container" class="list-group"></ul>

