<!DOCTYPE html>
<html>
<head>
<title>#springMessage("platform.name") &raquo; Setup</title>
    #parse("/layouts/main.vm")
<script type="text/javascript">
Ext.require('Ext.container.Viewport');
Ext.onReady(function () {
    Ext.create('Ext.Viewport', {
        layout: 'border',
        items: [
            {
                xtype: 'container',
                region: 'center',
                width: '100%',
                height: '100%',
                layout: {
                    type: 'border'
                },
                autoScroll: true,
                items: [
                    {
                        xtype: 'form',
                        frame: false,
                        border: 0,
                        width: 791,
                        margin: '0 80',
                        // Fields will be arranged vertically, stretched to full width
                        layout: 'vbox',
                        fieldDefaults: {
                            labelAlign: 'right'
                        },
                        defaultType: 'component',
                        items: [
                            {
                                xtype: 'panel',
                                width: 791,
                                defaults: { bodyStyle: 'padding:10px'},
                                layout: {
                                    type: 'table',
                                    columns: 3
                                },
                                items: [
                                    {
                                        #if($status.complete)
                                            html: '<h1>#springMessage("platform.name") Setup</h1><p>The #springMessage("platform.name") setup complete.</p>',
                                        #else
                                            html: '<h1>#springMessage("platform.name") Setup</h1><p>The #springMessage("platform.name") needs some more information before it is fully installed.</p>',
                                        #end
                                        colspan: 3
                                    }
                                ]
                            },
                            {
                                xtype: 'panel',
                                //layout:'hbox',
                                width: 791,
                                flex: 1,
                                items: [
                                    {
                                        xtype: 'panel',
                                        layout: 'anchor',
                                        //padding:'0 0 40 0',
                                        defaults: {
                                            width: '100%',
                                            anchor: '100%',
                                            labelSeparator: null
                                        },
                                        flex: 1,
                                        items: [
                                            {
                                                html: '<h2>Enter #springMessage("platform.name") Settings</h2>',
                                                itemId: 'platformConfigTitle'
                                            },
                                            {
                                                xtype: 'container',
                                                itemId: 'platformConfig',
                                                layout: 'anchor',
                                                defaults: {
                                                    anchor: '100%',
                                                    labelSeparator: null
                                                },
                                                items: [
                                                    {
                                                        xtype: 'textfield',
                                                        fieldLabel: 'Server ID',
                                                        name: 'serverId',
                                                        value: '${setup.serverId}',
                                                        readOnly: true
                                                    },
                                                    {
                                                        xtype: 'textfield',
                                                        fieldLabel: 'Server Host',
                                                        name: 'serverHost',
                                                        value: '${setup.serverHost}'
                                                    },
                                                    {
                                                        xtype: 'numberfield',
                                                        fieldLabel: 'HTTP Port',
                                                        name: 'httpPort',
                                                        value: '${setup.httpPort}'
                                                    },
                                                    {
                                                        xtype: 'numberfield',
                                                        fieldLabel: 'HTTPS Port',
                                                        name: 'httpsPort',
                                                        value: '${setup.httpsPort}'
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        xtype: 'panel',
                                        layout: 'anchor',
                                        //padding:'0 0 0 40',
                                        defaults: {
                                            width: '100%',
                                            anchor: '100%',
                                            labelSeparator: null
                                        },
                                        flex: 1,
                                        items: [
                                            {
                                                html: '<h2>VistA System Configuration</h2><p>Configure a VistA system for The #springMessage("platform.name") to use as a data source.</p>',
                                                itemId: 'initialVistaAccountConfigTitle'
                                            },
                                            {
                                                xtype: 'container',
                                                itemId: 'initialVistaAccountConfig',
                                                layout: 'anchor',
                                                defaults: {
                                                    anchor: '100%',
                                                    labelSeparator: null
                                                },
                                                defaultType: 'textfield',
                                                items: [
                                                    {
                                                        xtype: 'hiddenfield',
                                                        itemId: 'vistaIdField',
                                                        name: 'vista.vistaId',
                                                    },
                                                    #if(!$vistaAccounts.isEmpty())
                                                        {
                                                            xtype: 'combobox',
                                                            itemId: 'divisionCombo',
                                                            fieldLabel: 'Facility',
                                                            autoSelect: false,
                                                            emptyText: '-- select one --',
                                                            store: Ext.create('Ext.data.Store', {
                                                                autoLoad: true,
                                                                fields: [
                                                                    'id', 'vistaId', 'division', 'name', 'host', 'port', 'production'
                                                                ],
                                                                data: [
                                                                    #foreach($vistaAccountInstance in $vistaAccounts)
                                                                        {
                                                                            "id": "${vistaAccountInstance.id}",
                                                                            "vistaId": "${vistaAccountInstance.vistaId}",
                                                                            "division": "${vistaAccountInstance.division}",
                                                                            "name": "${vistaAccountInstance.name}",
                                                                            "host": "${vistaAccountInstance.host}",
                                                                            "port": "${vistaAccountInstance.port}",
                                                                            "production": "${vistaAccountInstance.production}"
                                                                        },
                                                                    #end
                                                                ]
                                                            }),
                                                            valueField: 'vistaId',
                                                            displayField: 'name',
                                                            editable: false,
                                                            disableKeyFilter: true,
                                                            queryMode: 'local',
                                                            allowBlank: false,
                                                            forceSelection: true,
                                                            listeners: {
                                                                select: function (comboBox, selection) {
                                                                    var record = selection[0];
                                                                    var formComponent = this.up('form');
                                                                    formComponent.down('hiddenfield[name="vista.vistaId"]').setValue(record.get("vistaId"));
                                                                    formComponent.down('textfield[name="vista.division"]').setValue(record.get("division"));
                                                                    formComponent.down('textfield[name="vista.name"]').setValue(record.get("name"));
                                                                    formComponent.down('textfield[name="vista.host"]').setValue(record.get("host"));
                                                                    formComponent.down('numberfield[name="vista.port"]').setValue(record.get("port"));
                                                                    formComponent.down('checkboxfield[name="vista.production"]').setValue(record.get("production"));
                                                                }
                                                            }
                                                        },
                                                    #end
                                                    {
                                                        xtype: 'textfield',
                                                        fieldLabel: '#springMessageText("vistaAccount.division.label" "Station Number")',
                                                        name: 'vista.division',
                                                        allowBlank: false
                                                    },
                                                    {
                                                        xtype: 'textfield',
                                                        fieldLabel: '#springMessageText("vistaAccount.name.label" "Name")',
                                                        name: 'vista.name',
                                                        allowBlank: false
                                                    },
                                                    {
                                                        xtype: 'textfield',
                                                        fieldLabel: '#springMessageText("vistaAccount.host.label" "Host")',
                                                        name: 'vista.host',
                                                        allowBlank: false
                                                    },
                                                    {
                                                        xtype: 'numberfield',
                                                        fieldLabel: '#springMessageText("vistaAccount.port.label" "Port")',
                                                        name: 'vista.port',
                                                        allowBlank: false
                                                    },
                                                    {
                                                        xtype: 'checkboxfield',
                                                        fieldLabel: '#springMessageText("vistaAccount.production.label" "Production")',
                                                        name: 'vista.production'
                                                    }
                                                ]
                                            },
                                            {
                                                html: '<h2>VPR Synchronization User Configuration</h2>',
                                                itemId: 'vprSyncUserConfigTitle'
                                            },
                                            {
                                                xtype: 'container',
                                                itemId: 'vprSyncUserConfig',
                                                padding: '5',
                                                layout: 'anchor',
                                                defaultType: 'textfield',
                                                defaults: {
                                                    anchor: '100%',
                                                    labelSeparator: null
                                                },
                                                items: [
                                                    {
                                                        fieldLabel: 'Access Code',
                                                        name: 'access',
                                                        inputType: 'password',
                                                        allowBlank: false
                                                    },
                                                    {
                                                        fieldLabel: 'Verify Code',
                                                        name: 'verify',
                                                        inputType: 'password',
                                                        allowBlank: false
                                                    },
                                                    {
                                                        xtype: 'fieldcontainer',
                                                        fieldLabel: '',
                                                        hideEmptyLabel: false,
                                                        layout: {
                                                            type: 'hbox',
                                                            align: 'middle'
                                                        },
                                                        items: [
                                                            {
                                                                xtype: 'button',
                                                                text: 'Test Connection',
                                                                handler: function () {
                                                                    //op.skipErrors = true;
                                                                    // The getForm() method returns the Ext.form.Basic instance:
                                                                    var formComponent = this.up('form');
                                                                    var form = formComponent.getForm();
                                                                    if (form.isValid()) {
                                                                        formComponent.setLoading("Testing Connection...", true);
                                                                        // Submit the Ajax request and handle the response
                                                                        form.submit({
                                                                            url: '/setup/test',
                                                                            skipErrors: 'true',
                                                                            success: function (form, action) {
                                                                                formComponent.setLoading(false);

                                                                                var r = Ext.JSON.decode(action.response.responseText, true);

                                                                                var vistaIdCmp = formComponent.down('#vistaIdField');
                                                                                vistaIdCmp.setValue(r.data.vistaId);

                                                                                var statusCmp = formComponent.down('#status');
                                                                                statusCmp.removeAll();
                                                                                statusCmp.add({html: '<span class="text-success">Connection Successful</span>'});

                                                                                var completeButton = formComponent.down('#setupComplete');
                                                                                completeButton.setDisabled(false);
                                                                                //op.skipErrors = true;
                                                                            },
                                                                            failure: function (form, action) {
                                                                                formComponent.setLoading(false);

                                                                                var r = Ext.JSON.decode(action.response.responseText, true);
                                                                                var errorMsg = r.error.message;

                                                                                var statusCmp = formComponent.down('#status');
                                                                                statusCmp.removeAll();
                                                                                statusCmp.add({html: '<span class="text-danger">Connection Failed: ' + errorMsg + '</span>'});
                                                                            }
                                                                        });
                                                                    }
                                                                }
                                                            },
                                                            {
                                                                xtype: 'container',
                                                                itemId: 'status',
                                                                margin: '0 0 0 5',
                                                                flex: 1
                                                            }
                                                        ]
                                                    },
                                                    {

                                                        xtype: 'fieldcontainer',
                                                        fieldLabel: '',
                                                        hideEmptyLabel: false,
                                                        layout: 'vbox',
                                                        margin: '40 0 0 0',
                                                        items: [
                                                            {
                                                                xtype: 'button',
                                                                text: 'Finish Configuration',
                                                                itemId: 'setupComplete',
                                                                disabled: true,
                                                                flex: 1,
                                                                handler: function () {
                                                                    var formComponent = this.up('form');
                                                                    // The getForm() method returns the Ext.form.Basic instance:
                                                                    var form = formComponent.getForm();
                                                                    if (form.isValid()) {
                                                                        formComponent.setLoading("Finishing Configuration...", true);
                                                                        form.standardSubmit = true;
                                                                        form.submit({
                                                                            url: '/setup',
                                                                            params: {
                                                                                done: true
                                                                            }
                                                                        });
                                                                    }
                                                                }
                                                            }
                                                        ]
//
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    });
});
</script>
</head>
<body>
<div id="center"></div>
</body>
</html>