<!DOCTYPE html>
<html>
<head>
    <title>#springMessage("platform.name") &raquo; Setup</title>
    #parse("/layouts/main.vm")
    <script type="text/javascript" charset="utf-8">
        Ext.require('gov.va.hmp.Viewport');
        Ext.onReady(function () {
            Ext.create('gov.va.hmp.Viewport', {
                items: [
                    {
                        xtype: 'component',
                        region: 'center',
                        padding: 60,
                        html:'<div class="hero-unit"><h1>Setup Complete</h1><p>Your configuration was saved successfully.</p><p>Please restart the #springMessage("platform.name") to continue.</p></div>'
                    }
                ]
            });
        });
    </script>
</head>
<body>
</body>
</html>