<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
    <title>HMP Config</title>
    #parse("/layouts/main.vm")
    <script type="text/javascript"t>
        Ext.require('gov.va.cpe.multi.BoardBuilderApp');
        Ext.onReady(function () {
            Ext.create('gov.va.cpe.multi.BoardBuilderApp');
        });
    </script>
</head>
<body>
</body>
</html>
