$tip-background-color: $popover-bg;

$tip-body-color: $color;
$tip-body-font-size: $font-size-base;
$tip-body-padding: 3px 8px;
$tip-border-color: #ccc;
$tip-border-radius: $border-radius-base;

$tip-header-color: $tip-body-color;
$tip-header-background-color: $popover-title-bg;
$tip-header-font-size: $tip-body-font-size;
$tip-header-font-weight: normal;
$tip-header-body-padding: 7px 12px;

$tip-error-border-radius: $tip-border-radius;
$tip-error-background-color: $btn-danger-bg;
$tip-error-border-color: $btn-danger-border;
$tip-error-body-padding: 3px 8px;
$tip-error-body-color: $btn-danger-color;
$tip-error-body-font-size: $font-size-small;
