$popup-border-color: $dropdown-border;
//$popup-border-color: $button-default-border-color-pressed;

// footer
$popup-footer-border-color: $panel-inner-border;
$popup-footer-background-color: $panel-footer-bg;