<div id='event_{{id}}' class="row equalHeights noMargin gistItemInner" {{#if userWorkspace}} draggable='true' {{/if}}>
    <div class='col-sm-6 quickDraw selectable info-display noPadding'>
        <div class="row equalHeights noMargin border-vertical">
            <div id='event_name_{{id}}' class="col-sm-8 problem-name">
                {{groupName}}
                {{#if allGroupedComments}}
                <sup>
                    <span id='comment_{{id}}' class="fa fa-comment"></span>
                </sup>
                {{else}}
                <sup>
                    <span id='transparent_{{id}}' class="fa fa-transparent-comment"></span>
                </sup>
                {{/if}}
            </div>
            <div id='acuity_{{id}}'
                 class="col-sm-4 eventsAcuity">
                    {{acuityName}}
            </div>
        </div>
    </div>
    <div class="col-sm-6 quickDraw selectable noPadding" id='quickDraw_{{id}}' data-toggle="popover" title="{{groupName}} {{acuityName}}" data-content="{{tooltip}}">
        <div class="row equalHeights noMargin">
            <div id="quickLook_{{id}}" class="quickviewOverlay right-side"></div>
            <div class="border-vertical col-sm-3">
                <div id='time_since_{{id}}'
                     class="eventsTimeSince counter2 text-center">{{timeSince}}</div>
            </div>
            <div id='encounter_count_{{id}}'
                 class="eventsCount col-sm-2 counter2 text-center">{{encounterCount}}</div>
            <div id="chartArea"
                 class="col-sm-7 chart text-center noPadding">
                    <div id='graph_{{id}}'
                         class="gChartMin"></div>
            </div>
        </div>
    </div>
</div>
