<!DOCTYPE html>
<html>
<head>
    <title>PLLLLLBBBBBBBBBBBB</title>
    <meta name="layout" content="api"/>
</head>
<body>
    #foreach($entry in $resourcesByType.entrySet())
    <h2>${entry.key}</h2>
    <dl>
        #foreach($r in $entry.value)
            <dt>${r.path}</dt>
            <dd>${r.title}</dd>
        #end
    </dl>
    #end
</body>
</html>