{{#unless failed}}
<span id="ccow-notifications" data-toggle="modal" data-target="#mainModal" tabIndex="-1"></span>
<div id="locator" aria-hidden="true">
{{#if participantUrl}}
	<OBJECT ID="WebLocator" CLASSID="CLSID:EE986640-0821-4482-B4A3-C41EB8A18597" codebase="{{localUrl}}/WebXContextlets.cab#version=3,3,1,8907" name="WebLocator" width=1 height=1 VIEWASTEXT>
		<PARAM NAME="contextParticipantUrl" VALUE="{{participantUrl}}">
	    <PARAM NAME="descriptiveData" VALUE="">
	    <PARAM NAME="debug" VALUE="debug">
	</OBJECT>
{{/if}}
</div>
<div id="listener" aria-hidden="true">
{{#if contextCoupon}}
	<OBJECT ID="WebListener" style="display: none;" CLASSID="CLSID:2FE0947E-3FB9-455d-82D0-14C52EAC2D70" codebase="{{localUrl}}/WebXContextlets.cab#version=3,3,1,8907"name="WebListener" width=1 height=1 VIEWASTEXT>
        <PARAM NAME="contextManagerUrl" VALUE="{{contextManagerUrl}}">
        <PARAM NAME="participantCoupon" VALUE="{{participantCoupon}}">
        <PARAM NAME="contextCoupon" VALUE="{{contextCoupon}}">
        <PARAM NAME="debug" VALUE="debug">
    </OBJECT>
{{/if}}
</div>
{{/unless}}