.#{$prefix}grid-row {
  vertical-align: middle;
}

.#{$prefix}grid-cell-inner {
  overflow: hidden;
  white-space: nowrap;
}

// empty text
.#{$prefix}grid-empty {
  padding: $grid-cell-inner-padding;
  white-space: normal;
}

.#{$prefix}grid-row-selected {
  .#{$prefix}grid-td {
    border-bottom-color: $grid-row-cell-selected-background-color;
  }
  a,b {
    color: $grid-row-cell-selected-color;
  }
  th {
    color: $grid-row-cell-selected-color;
  }
  dt {
    @include muted-for-background($grid-row-cell-selected-background-color);
  }
  .text-muted {
    @include muted-for-background($grid-row-cell-selected-background-color);
  }
  .text-warning {
    @include text-contrast($grid-row-cell-selected-background-color, tint($grid-row-cell-selected-background-color, 70%), $state-warning-text);
  }
  .text-danger {
    @include text-contrast($grid-row-cell-selected-background-color, tint($grid-row-cell-selected-background-color, 70%), $state-danger-text);
  }
  .text-info {
    @include text-contrast($grid-row-cell-selected-background-color, tint($grid-row-cell-selected-background-color, 70%), $state-info-text);
  }
  .text-success {
    @include text-contrast($grid-row-cell-selected-background-color, tint($grid-row-cell-selected-background-color, 70%), $state-success-text);
  }
  .label-primary,
  .badge-primary {
    background-color: $grid-row-cell-selected-color;
    color: $grid-row-cell-selected-background-color;
  }
  .#{$prefix}grid-rowbody {
    .#{$prefix}panel {
      a {
        color: $link-color;
      }
      .hmp-addendum-link .fa {
        color: $text-color;
      }
    }
  }
}

.#{$prefix}grid-row-before-focused.#{$prefix}grid-row-before-selected {
  .#{$prefix}grid-td {
    border-bottom-color: $table-border-color;
  }
}
// grids with ui: condensed
@include extjs-panel-ui(
$ui: 'condensed'
);
@include extjs-panel-ui(
$ui: 'condensed-framed',

$ui-border-color: $panel-frame-border-color,
$ui-border-width: $panel-frame-border-width,
$ui-border-radius: $panel-frame-border-radius,
$ui-padding: $panel-frame-padding,

$ui-header-background-color: $panel-frame-header-background-color,
$ui-header-border-color: $panel-frame-border-color,
$ui-header-border-width: $panel-frame-header-border-width,
$ui-header-inner-border-color: $panel-frame-header-inner-border-color,
$ui-header-inner-border-width: $panel-frame-header-inner-border-width,
$ui-header-padding: $panel-frame-header-padding,

$ui-body-border-width: $panel-frame-body-border-width,
$ui-body-background-color: $panel-frame-background-color
);
.#{$prefix}panel-condensed,
.#{$prefix}panel-condensed-framed {
  .#{$prefix}grid-empty {
    padding: $grid-condensed-cell-inner-padding;
  }
  .#{$prefix}grid-row .#{$prefix}grid-cell-inner {
    padding: $grid-condensed-cell-inner-padding;
  }
}

// grids with ui: well
@include extjs-panel-ui(
  $ui: 'well',
  $ui-header-background-color: $well-bg,
  $ui-header-border-color: $well-border,
  $ui-body-background-color: $well-bg,
  $ui-body-border-color: $well-bg
);
@include extjs-panel-ui(
  $ui: 'well-framed',

  $ui-border-color: $panel-frame-border-color,
  $ui-border-width: $panel-frame-border-width,
  $ui-border-radius: $panel-frame-border-radius,
  $ui-padding: $panel-frame-padding,

  $ui-header-background-color: $well-bg,
  $ui-header-border-color: $well-border,
  $ui-header-border-width: $panel-frame-header-border-width,
  $ui-header-inner-border-color: $well-bg,
  $ui-header-inner-border-width: $panel-frame-header-inner-border-width,
  $ui-header-padding: $panel-frame-header-padding,

  $ui-body-border-width: $panel-frame-body-border-width,
  $ui-body-background-color: $well-bg,
  $ui-body-border-color: $well-bg
);
.#{$prefix}panel-well,
.#{$prefix}panel-well-framed {
  .#{$prefix}grid-body,
  .#{$prefix}grid-empty {
    background-color: $well-bg;
    border-color: $well-bg;
  }

  .#{$prefix}grid-row .#{$prefix}grid-cell {
    background-color: $well-bg;
    border-top-color: $well-border;
  }

  .#{$prefix}grid-row-over .#{$prefix}grid-cell {
    background-color: $gray-lighter;
  }

  .#{$prefix}grid-row-selected .#{$prefix}grid-cell {
    background-color: $grid-row-cell-selected-background-color;
  }

  .#{$prefix}grid-table,
  .#{$prefix}grid-with-row-lines .#{$prefix}grid-table {
    border-top: $grid-row-cell-border-width solid $well-bg;
  }
}

// grids with ui: sidebar
@include extjs-panel-ui(
  $ui: 'sidebar',
  $ui-header-background-color: $panel-sidebar-background-color,
  $ui-header-border-color: $panel-sidebar-border-color,
  $ui-body-background-color: $panel-sidebar-background-color,
  $ui-body-border-color: $panel-sidebar-background-color
);
@include extjs-panel-ui(
  $ui: 'sidebar-framed',

  $ui-border-color: $panel-frame-border-color,
  $ui-border-width: $panel-frame-border-width,
  $ui-border-radius: $panel-frame-border-radius,
  $ui-padding: $panel-frame-padding,

  $ui-header-background-color: $panel-sidebar-background-color,
  $ui-header-border-color: $panel-sidebar-border-color,
  $ui-header-border-width: $panel-frame-header-border-width,
  $ui-header-inner-border-color: $panel-sidebar-background-color,
  $ui-header-inner-border-width: $panel-frame-header-inner-border-width,
  $ui-header-padding: $panel-frame-header-padding,

  $ui-body-border-width: $panel-frame-body-border-width,
  $ui-body-background-color: $panel-sidebar-background-color,
  $ui-body-border-color: $panel-sidebar-background-color
);
.#{$prefix}panel-sidebar,
.#{$prefix}panel-sidebar-framed {
  .#{$prefix}grid-body,
  .#{$prefix}grid-empty {
    background-color: $panel-sidebar-background-color;
    border-color: $panel-sidebar-background-color;
  }

  .#{$prefix}grid-row .#{$prefix}grid-cell {
    background-color: $panel-sidebar-background-color;
    border-top-color: $panel-sidebar-border-color;
  }

  .#{$prefix}grid-row-over .#{$prefix}grid-cell {
    background-color: $gray-lighter;
  }

  .#{$prefix}grid-row-selected .#{$prefix}grid-cell {
    background-color: $grid-row-cell-selected-background-color;
  }

  .#{$prefix}grid-table,
  .#{$prefix}grid-with-row-lines .#{$prefix}grid-table {
    border-top: $grid-row-cell-border-width solid $panel-sidebar-background-color;
  }
}
// grids with ui: underlined-title
@include extjs-panel-ui(
$ui: 'underlined-title',
$ui-padding: null,
$ui-border-radius: 0px,
$ui-header-color: $panel-underlined-title-header-color,
$ui-header-font-weight: $panel-underlined-title-header-font-weight,
$ui-header-inner-border-color: $panel-underlined-title-header-inner-border-color,
$ui-header-inner-border-width: $panel-underlined-title-header-inner-border-width,
$ui-header-padding: $panel-underlined-title-header-padding
);
.#{$prefix}panel-underlined-title,
.#{$prefix}panel-underlined-title-framed {
  .#{$prefix}grid-empty {
    padding-left: 1px;
    padding-right: 1px;
  }
  .#{$prefix}grid-row .#{$prefix}grid-cell-first .#{$prefix}grid-cell-inner {
    padding-left: 1px;
    padding-right: 1px;
  }
}
@include extjs-panel-ui(
$ui: 'underlined-title-condensed',
$ui-padding: null,
$ui-border-radius: 0px,
$ui-header-color: $panel-underlined-title-header-color,
$ui-header-font-weight: $panel-underlined-title-header-font-weight,
$ui-header-inner-border-color: $panel-underlined-title-header-inner-border-color,
$ui-header-inner-border-width: $panel-underlined-title-header-inner-border-width,
$ui-header-padding: $panel-underlined-title-header-padding
);
.#{$prefix}panel-underlined-title-condensed,
.#{$prefix}panel-underlined-title-condensed-framed {
  .#{$prefix}grid-empty {
    padding-left: 1px;
    padding-right: 1px;
  }
  .#{$prefix}grid-row .#{$prefix}grid-cell-inner {
    padding: $grid-condensed-cell-inner-padding;
  }
  .#{$prefix}grid-row .#{$prefix}grid-cell-first .#{$prefix}grid-cell-inner {
    padding-left: 1px;
    padding-right: 1px;
  }
}