.#{$prefix}tool {
  color: $gray-light;
  cursor: $tool-cursor;
  line-height: $panel-header-line-height;
}

.#{$prefix}tool-over {
  color: $gray;
}

.#{$prefix}tool-pressed {
  color: $gray-dark;
}

.#{$prefix}tool-placeholder {
  visibility: hidden;
}

.#{$prefix}tool-img.#{$prefix}tool-close {
  background-image: none;
  @include fa-icon($fa-var-times);
}

.#{$prefix}tool-img.#{$prefix}tool-minimize {
  background-image: none;
  @include fa-icon($fa-var-compress);
}

.#{$prefix}tool-img.#{$prefix}tool-maximize {
  background-image: none;
  @include fa-icon($fa-var-expand);
}

.#{$prefix}tool-restore {
  background-position: 0 ($tool-size * -3);
}

.#{$prefix}tool-toggle {
  @include fa-icon($fa-var-chevron-circle-down);

  .#{$prefix}panel-collapsed & {
    @include fa-icon($fa-var-chevron-circle-up);
  }
}

.#{$prefix}tool-img.#{$prefix}tool-gear {
  background-image: none;
  @include fa-icon($fa-var-cog);
}

.#{$prefix}tool-img.#{$prefix}tool-prev {
  background-image: none;
  @include fa-icon($fa-var-arrow-circle-left);
}

.#{$prefix}tool-img.#{$prefix}tool-next {
  background-image: none;
  @include fa-icon($fa-var-arrow-circle-right);
}

.#{$prefix}tool-pin {
  background-position: 0 ($tool-size * -9);
}

.#{$prefix}tool-unpin {
  background-position: 0 ($tool-size * -10);
}

.#{$prefix}tool-img.#{$prefix}tool-right {
  background-image: none;
  @include fa-icon($fa-var-chevron-right);
}

.#{$prefix}tool-img.#{$prefix}tool-left {
  background-image: none;
  @include fa-icon($fa-var-chevron-left);
}

.#{$prefix}tool-img.#{$prefix}tool-down {
  background-image: none;
  @include fa-icon($fa-var-chevron-down);
}

.#{$prefix}tool-img.#{$prefix}tool-up {
  background-image: none;
  @include fa-icon($fa-var-chevron-up);
}

.#{$prefix}tool-img.#{$prefix}tool-refresh {
  background-image: none;
  @include fa-icon($fa-var-repeat);
}

.#{$prefix}tool-img.#{$prefix}tool-plus {
  background-image: none;
  @include fa-icon($fa-var-plus);
}

.#{$prefix}tool-img.#{$prefix}tool-minus {
  background-image: none;
  @include fa-icon($fa-var-minus);
}

.#{$prefix}tool-img.#{$prefix}tool-search {
  background-image: none;
  @include fa-icon($fa-var-search);
}

.#{$prefix}tool-img.#{$prefix}tool-save {
  background-image: none;
  @include fa-icon($fa-var-floppy-o);
}

.#{$prefix}tool-img.#{$prefix}tool-help {
  background-image: none;
  @include fa-icon($fa-var-question);
}

.#{$prefix}tool-img.#{$prefix}tool-print {
  background-image: none;
  @include fa-icon($fa-var-print);
}

.#{$prefix}tool-expand {
  background-position: 0 ($tool-size * -22);
}

.#{$prefix}tool-collapse {
  background-position: 0 ($tool-size * -23);
}

.#{$prefix}tool-resize {
  background-position: 0 ($tool-size * -24);
}

.#{$prefix}tool-img.#{$prefix}tool-move {
  @include fa-icon($fa-var-arrows);
}

.#{$prefix}tool-expand-bottom,
.#{$prefix}tool-collapse-bottom {
  @include fa-icon($fa-var-chevron-down);
}

.#{$prefix}tool-expand-top,
.#{$prefix}tool-collapse-top {
  @include fa-icon($fa-var-chevron-up);
}

.#{$prefix}tool-expand-left,
.#{$prefix}tool-collapse-left {
  @include fa-icon($fa-var-caret-square-o-left);
//  font-size:18px;
}

.#{$prefix}tool-expand-right,
.#{$prefix}tool-collapse-right {
  @include fa-icon($fa-var-caret-square-o-right);
}