// default and default-framed panels
@include extjs-panel-ui(
  $ui: 'default',
  $ui-padding: null,
  $ui-border-radius: 0px
);
@include extjs-panel-ui(
  $ui: 'default-framed',

  $ui-border-color: $panel-frame-border-color,
  $ui-border-width: $panel-frame-border-width,
  $ui-border-radius: $panel-frame-border-radius,
  $ui-padding: $panel-frame-padding,

  $ui-header-background-color: $panel-frame-header-background-color,
  $ui-header-border-color: $panel-frame-border-color,
  $ui-header-border-width: $panel-frame-header-border-width,
  $ui-header-inner-border-color: $panel-frame-header-inner-border-color,
  $ui-header-inner-border-width: $panel-frame-header-inner-border-width,
  $ui-header-padding: $panel-frame-header-padding,

  $ui-body-border-width: $panel-frame-body-border-width,
  $ui-body-background-color: $panel-frame-background-color
);

// bootstrap style panels
@mixin bootstrap-panel-ui(
$ui:$ui,
$ui-header-color: $panel-header-color,
$ui-border-color: $panel-frame-border-color,
$ui-header-background-color: $panel-frame-header-background-color
){
  @include extjs-panel-ui(
    $ui: $ui,
    $ui-padding: null,
    $ui-border-radius: 0px
  );
  @include extjs-panel-ui(
    $ui:'#{$ui}-framed',

    $ui-border-color: $ui-border-color,
    $ui-border-width: $panel-frame-border-width,
    $ui-border-radius: $panel-frame-border-radius,
    $ui-padding: $panel-frame-padding,

    $ui-header-color: $ui-header-color,
    $ui-header-border-color: $ui-border-color,
    $ui-header-border-width: $panel-frame-header-border-width,
    $ui-header-inner-border-color: $panel-frame-header-inner-border-color,
    $ui-header-inner-border-width: $panel-frame-header-inner-border-width,
    $ui-header-padding: $panel-frame-header-padding,
    $ui-header-background-color: $ui-header-background-color,

    $ui-body-border-width: $panel-frame-body-border-width,
    $ui-body-background-color: $panel-frame-background-color
  );
};

// primary
@include bootstrap-panel-ui(
  $ui: 'primary',
  $ui-header-color: $panel-primary-text,
  $ui-border-color: $panel-primary-border,
  $ui-header-background-color: $panel-primary-heading-bg
);
.#{$prefix}-panel-header-body-primary-framed a,.#{$prefix}btn-inner {
  color: $panel-primary-text;
}
// success
@include bootstrap-panel-ui(
  $ui: 'success',
  $ui-header-color: $panel-success-text,
  $ui-border-color: $panel-success-border,
  $ui-header-background-color: $panel-success-heading-bg
);
// info
@include bootstrap-panel-ui(
  $ui: 'info',
  $ui-header-color: $panel-info-text,
  $ui-border-color: $panel-info-border,
  $ui-header-background-color: $panel-info-heading-bg
);
// warning
@include bootstrap-panel-ui(
  $ui: 'warning',
  $ui-header-color: $panel-warning-text,
  $ui-border-color: $panel-warning-border,
  $ui-header-background-color: $panel-warning-heading-bg
);
// danger
@include bootstrap-panel-ui(
  $ui: 'danger',
  $ui-header-color: $panel-danger-text,
  $ui-border-color: $panel-danger-border,
  $ui-header-background-color: $panel-danger-heading-bg
);
