.fill {
width:100%
}
#dp-collection {
width: 105px;
}

#collectionDate {
clear: both;
}

.horizontal_line {
border-top: 1px solid #e5e5e5;
}


.add-lab-order-styles .padded {
padding: 5px;
}
.grid-filter {
background-color: #f2f2f2;
padding: 10px 10px 7px 10px;
margin-bottom: 0px;
}

#add-lab-order-form div.col-sm-5.right{
text-align:right;
}


#add-lab-order-form .row.row-buffer.labTests{
padding-bottom: 15px;
}