<!DOCTYPE html>
<html>
<head>
    #parse("/layouts/viewport.vm")
    <script type="text/javascript">
    	Ext.require(['gov.va.cpe.designer.CPEDesigner', 'gov.va.cpe.designer.PanelEditor']);
		Ext.onReady(function() {
            var viewport = Ext.ComponentQuery.query('viewport')[0];
			viewport.setCenter({xtype: 'cpedesigner'})
		});
    </script>
</head>
<body>
<div id="center"/>
</body>
</html>