<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>eHMP Bootstrap UI Library - Systems Error Modal</title>
    <link rel="stylesheet" href="../../../_assets/css/vendor.css" />
    <link rel="stylesheet" href="../../../_assets/css/adk.css" />
    <link rel="stylesheet" href="../../css/main-styles.css" />
</head>

<body class="library">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a href="../../index.html" class="navbar-brand">eHMP UI Bootstrap Library (v2.0)</a> </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../../views.html">Views</a>
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Documentation <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="../../color-palette.html">Color Palette</a></li>
                                <li><a href="#">Style Guide</a></li>
                            </ul>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--end navigation-->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="../../index.html">eHMP UI Bootstrap Library</a></li>
            <li><a href="../../views.html">Views</a></li>
            <li class="active">System Error Modal</li>
        </ol>
        <h1>System Error Modal</h1>
        <div class="description">
            <p><strong><i class="fa fa-leanpub"></i> Description:</strong> This is the 508 compliant static HTML/CSS mock up of the Systems Error Modal view.</p>
            <p><strong><i class="fa fa-file-text-o"></i> Documents:</strong> Please also view <a href="">CPRS Encounters wireframe</a>, <a href="../../docs/workflow/psi8/workflow-system-error-modal-v1-0.pdf">Workflow Diagram</a><small>[PDF, 132KB]</small>, and <a href="">Use Scenario Case Documentation</a> <small>[PDF, XXXKB]</small> for full details on implementation.</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="To close, press enter."><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-circle alert-icon"></i> System 500 Error</h4>
                </div>
                <div class="modal-body">
                   <p>We're sorry. There was an error submitting your form.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" title="To close, press enter.">Ok</button>
                </div>
            </div>
        </div>
         <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="To close, press enter."><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel2"><i class="fa fa-warning alert-icon"></i> Delete Workspace</h4>
                </div>
                <div class="modal-body">
                   <p>Are you sure you want to delete this workspace User Defined Workspace 1?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" title="To select the cancel button and return to the previous screen, select the cancel button.">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" title="To delete the workspace, select the delete button.">Delete</button>
                </div>
            </div>
        </div>
         <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="To close, press enter"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel3"><i class="fa fa-warning alert-icon"></i> Missing Encounter Information</h4>
                </div>
                <div class="modal-body">
                   <p>This note title is marked to prompt for the following missing encounter information:</p>
                   <ul>
                   <li>A diagnosis.</li>
                   <li>A visit type or procedure.</li>
                   </ul>
                   <p>You must enter the encounter information before you can sign the note. Would you like to access the form now?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" title="To not access the form now, select the no button.">No</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" title="To access the form now, select the yes button.">Yes</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
