<h3>Checklist Boxes</h3>
<div class="description">
    <p><strong><i class="fa fa-leanpub"></i> Description:</strong> </p>
    <p><strong><i class="fa fa-wheelchair"></i> 508 Guidelines:</strong> </p>
    <p><strong><i class="fa fa-lightbulb-o"></i> TIP:</strong> </p>
</div>
<div id="checklist-copy">
    <form action="#" method="post" class="form-container">
        <div class="col-md-6">
            <div class="well read-only-well">
                <fieldset>
                    <legend>Condition List Items</legend>
                    <div class="well-scroll">
                        <div class="control form-group">
                            <div class="checkbox border-bottom">
                                <label for="conditionListItem1">
                                    <input type="checkbox" checked value="option1" name="conditionList" title="To select this option press enter on the checkbox" id="conditionListItem1" /> Hypertension (ICD-9-CM 401.9)</label>
                            </div>
                        </div>
                        <div class="control form-group">
                            <div class="checkbox border-bottom">
                                <label for="conditionListItem2">
                                    <input type="checkbox" checked value="option2" name="conditionList" title="This option is already selected and cannot be unselected" disabled="disabled" id="conditionListItem2" /> Hyperlipidemia (ICD-9-CM 272.4)</label>
                            </div>
                        </div>
                        <div class="control form-group">
                            <div class="checkbox border-bottom">
                                <label for="conditionListItem3">
                                    <input type="checkbox" value="option3" name="conditionList" title="To select this option press enter on the checkbox" id="conditionListItem3" /> Acute Myocardial infarction, unspecified site, episode of care unspecified (ICD-9-CM 410.90)</label>
                            </div>
                        </div>
                        <div class="control form-group">
                            <div class="checkbox border-bottom">
                                <label for="conditionListItem4">
                                    <input type="checkbox" value="option4" name="conditionList" title="To select this option press enter on the checkbox" id="conditionListItem4" /> Chronic Systolic Heart failure (ICD-9-CM 428.22)</label>
                            </div>
                        </div>
                        <div class="control form-group">
                            <div class="checkbox border-bottom">
                                <label for="conditionListItem5">
                                    <input type="checkbox" value="option5" name="conditionList" title="To select this option press enter on the checkbox" id="conditionListItem5" /> Diabetes Mellitus Type II or unspecified (ICD-9-CM 250.00)</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
</div>
<hr />
<div role="tabpanel" class="tabpanel">
    <ul role="tablist" class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#markup-checklist-boxes" aria-controls="markup-checklist-boxes" role="tab" data-toggle="tab">Checklist Boxes</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="markup-checklist-boxes">
            <pre>
&lt;form action=&quot;#&quot; method=&quot;post&quot; class=&quot;form-container&quot;&gt;
    &lt;div class=&quot;col-md-6&quot;&gt;
        &lt;div class=&quot;well read-only-well&quot;&gt;
            &lt;fieldset&gt;
                &lt;legend&gt;Condition List Items&lt;/legend&gt;
                &lt;div class=&quot;well-scroll&quot;&gt;
                    &lt;div class=&quot;control form-group&quot;&gt;
                        &lt;div class=&quot;checkbox border-bottom&quot;&gt;
                            &lt;label for=&quot;conditionListItem1&quot;&gt;
                                &lt;input type=&quot;checkbox&quot; checked value=&quot;option1&quot; name=&quot;conditionList&quot; title=&quot;To select this option press enter on the checkbox&quot; id=&quot;conditionListItem1&quot; /&gt; Hypertension (ICD-9-CM 401.9)&lt;/label&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;control form-group&quot;&gt;
                        &lt;div class=&quot;checkbox border-bottom&quot;&gt;
                            &lt;label for=&quot;conditionListItem2&quot;&gt;
                                &lt;input type=&quot;checkbox&quot; checked value=&quot;option2&quot; name=&quot;conditionList&quot; title=&quot;This option is already selected and cannot be unselected&quot; disabled=&quot;disabled&quot; id=&quot;conditionListItem2&quot; /&gt; Hyperlipidemia (ICD-9-CM 272.4)&lt;/label&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;control form-group&quot;&gt;
                        &lt;div class=&quot;checkbox border-bottom&quot;&gt;
                            &lt;label for=&quot;conditionListItem3&quot;&gt;
                                &lt;input type=&quot;checkbox&quot; value=&quot;option3&quot; name=&quot;conditionList&quot; title=&quot;To select this option press enter on the checkbox&quot; id=&quot;conditionListItem3&quot; /&gt; Acute Myocardial infarction, unspecified site, episode of care unspecified (ICD-9-CM 410.90)&lt;/label&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;control form-group&quot;&gt;
                        &lt;div class=&quot;checkbox border-bottom&quot;&gt;
                            &lt;label for=&quot;conditionListItem4&quot;&gt;
                                &lt;input type=&quot;checkbox&quot; value=&quot;option4&quot; name=&quot;conditionList&quot; title=&quot;To select this option press enter on the checkbox&quot; id=&quot;conditionListItem4&quot; /&gt; Chronic Systolic Heart failure (ICD-9-CM 428.22)&lt;/label&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;control form-group&quot;&gt;
                        &lt;div class=&quot;checkbox border-bottom&quot;&gt;
                            &lt;label for=&quot;conditionListItem5&quot;&gt;
                                &lt;input type=&quot;checkbox&quot; value=&quot;option5&quot; name=&quot;conditionList&quot; title=&quot;To select this option press enter on the checkbox&quot; id=&quot;conditionListItem5&quot; /&gt; Diabetes Mellitus Type II or unspecified (ICD-9-CM 250.00)&lt;/label&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/fieldset&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/form&gt;
            </pre>
            <a onclick="copyToClipboard('checklist-copy')" role="button" tabindex="0" class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" data-content="Copied" data-template='<div class="popover popover-sm" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'>Copy</a>
        </div>
    </div>
</div>
