<div class="gridster">
    <div id="left" data-row="1" data-col="1" data-sizex="4" data-sizey="4">   </div>
    <div id="left2" data-row="5" data-col="1" data-sizex="4" data-sizey="4">  </div>
    <div id="left3" data-row="9" data-col="1" data-sizex="4" data-sizey="4">  </div>

    <div id="center" data-row="1" data-col="5" data-sizex="4" data-sizey="3"> </div>
    <div id="center2" data-row="5" data-col="5" data-sizex="4" data-sizey="5"></div>
    <div id="center3" data-row="9" data-col="5" data-sizex="4" data-sizey="4"></div>

    <div id="right" data-row="1" data-col="9" data-sizex="4" data-sizey="3">  </div>
    <div id="right2" data-row="5" data-col="9" data-sizex="4" data-sizey="4"> </div>
    <div id="right3" data-row="9" data-col="9" data-sizex="4" data-sizey="5"> </div>

</div>