.#{$prefix}tbar-page-number {
  width: 30px;

  .#{$prefix}form-field {
    border-right-width: 0px;
    @include border-radius(4px);
  }
}

@include extjs-toolbar-ui(
  'paging',
  $background-color: $toolbar-background-color
);

.#{$prefix}toolbar-paging {
  .#{$prefix}btn,
  .#{$prefix}btn-icon-el {
    height: 24px;
    width: 24px;
  }

  .#{$prefix}btn {
    padding: 0px;
  }

  .#{$prefix}btn:not(.#{$prefix}btn-over):not(.#{$prefix}btn-pressed) {
    border-color: transparent;
  }
}

@mixin paging-tb-button($buttonCls, $content) {
  .#{$prefix}#{$buttonCls} {
    font-family: FontAwesome;
    font-size: 14px;
    color: $gray-light;
    padding: 1px 0px 0px 2px;
  }

  .#{$prefix}#{$buttonCls}:before {
    content: $content;
  }

  .#{$prefix}btn-over .#{$prefix}#{$buttonCls} {
    color: $gray;
  }

//  .#{$prefix}item-disabled .#{$prefix}#{$buttonCls} {
//
//  }
}

@include paging-tb-button('tbar-page-first', $fa-var-fast-backward);
@include paging-tb-button('tbar-page-prev', $fa-var-step-backward);
@include paging-tb-button('tbar-page-next', $fa-var-step-forward);
@include paging-tb-button('tbar-page-last', $fa-var-fast-forward);
@include paging-tb-button('tbar-loading', $fa-var-refresh);
