$fieldset-header-font-size: $font-size !default;
$fieldset-header-font-weight: normal !default;
$fieldset-header-font-family: $font-family !default;
$fieldset-header-line-height: $line-height-base !default;
$fieldset-header-color: $gray-dark !default;

$fieldset-border-color: #e5e5e5 !default;
$fieldset-border-width: 1px !default;
$fieldset-border-style: solid !default;
$fieldset-border: 0 0 $fieldset-border-width 0 $fieldset-border-style $fieldset-border-color !default;

$fieldset-padding: 0 !default;
$fieldset-margin: 0 !default;

$fieldset-collapse-tool-margin: 14px 3px 0 0 !default;
$fieldset-collapse-tool-padding: 0 !default;
$fieldset-checkbox-margin: $fieldset-collapse-tool-margin !default;

$fieldset-collapse-tool-size: 14px !default;