$green: #549947;
[data-appletid="documents"] {
    #documentPanelHeader {
        padding: 0;
    }
    .capitalize {
        text-transform: capitalize;
    }
    .docDetailTitle {
        // font-size:225%;
        margin-top: 0;
        margin-left: 10px;
        line-height: normal;
    }

    #data-grid-documents {
        tr.active>td {
            background-color: #ddd;
        }
    }

    .docApp {
        /* .panel-primary {
            border-color: white;
        }
        .panel-heading {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            padding: 10px 15px 33px;
        }
        .panel-body {
            margin: 0;
            padding: 0;
        } */

        #grid-panel-documents {
            overflow-y: visible;
        }

        #applet-main {
            padding: 0;
            overflow-y: scroll;
            max-height: 600px;
            .fa-spin {
                margin-left: 25px;
            }
            #documents-dateDisplay {
                width: 8%;
            }
            #documents-localTitle {
                width: 25%;
            }
            #documents-kind {
                width: 22%;
            }
            #documents-authorDisplayName {
                width: 26%;
            }
            #documents-facilityName {
                width: 10%;
            }
        }
    }
    #doc-detail-wrapper {
        // max-height: 600px;
        overflow-y: auto; //scroll;
        padding-top: 15px;
        #doc_detail_top {
            .affix {
                position: fixed;
                top: 0;
                width: 225px;
            }
        }
        #bottomDetailCloseBtn {
            width: 15%;
            margin-left: 40%;
            margin-top: 5%;
        }
        #detailCloseBtn {
            font-size: 27px;
            margin-right: 20px;
            // margin-top: -3px;
        }
        .docHorizLine {
            margin-top: 0;
        }
    }
}

.documentDetail {
    %floatLeftRightAlign {
        display: inline-block;
        float: left;
        text-align: right;
    }
    %floatRightLeftAlign {
        display: inline-block;
        text-align: left;
    }
    .addendaLabel {
        @extend %floatLeftRightAlign;
        min-width: 110px;
    }
    .addendaInfo {
        @extend %floatRightLeftAlign;
        padding-left: 7px;
    }
    .boldText {
        font-weight: bold;
    }
    .detailLabel {
        @extend %floatLeftRightAlign;
        // font-weight: bold;
        font-size: 110%;
        min-width: 130px;
    }
    .detailInfo {
        @extend %floatRightLeftAlign;
        font-size: 110%;
        // font-weight: bold;
        padding-left: 7px;
    }
    pre {
        font-size: 11.5px;
        white-space: pre;
    }
    .dodContent {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 9.5px;
        overflow-x: auto;
        width: 100%;
    }
    .resultsLabel {
        @extend %floatLeftRightAlign;
        min-width: 110px;
    }
    .resultsInfo {
        @extend %floatRightLeftAlign;
        padding-left: 7px;
    }
    .subDetail {
        list-style: none;
        margin-left: 10px;
    }
    .topDetailLabel {
        @extend %floatLeftRightAlign;
        font-weight: bold;
        font-size: 110%;
        min-width: 75px;
    }
    .topDetailInfo {
        @extend %floatRightLeftAlign;
        font-size: 110%;
        font-weight: bold;
        padding-left: 7px;
    }
    .labelStyleColor {
        color: $grey-darker;
    }
    a {
        cursor: pointer;
    }
    .resultDoc {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 8px;
        margin-bottom: 12px;
    }
}
