$menu-background-color: $dropdown-bg !default;
$menu-separator-size: 1px !default;
$menu-padding:  5px 0 !default;

$menu-border-color: $dropdown-border !default;
$menu-border-width: 1px !default;
$menu-border-radius: 6px !default;

$menu-item-active-background-color: $dropdown-link-active-bg !default;
$menu-text-color: $color !default;
$menu-text-active-color: $dropdown-link-active-color !default;

$menu-item-margin: 0 !default;
$menu-item-border-width: 0 !default;
$menu-item-trailing-padding: 4px !default;

$menu-glyph-opacity: 1 !default;
$menu-glyph-color: $gray-light !default;