<div class="row">
  <div class="col-md-4 text-right text-muted">Lot Number:</div>
  <div class="col-md-8 text-left">{{administeredFormatted}}</div>
</div>
<div class="row">
  <div class="col-md-4 text-right text-muted">Expiration Date:</div>
  <div class="col-md-8 text-left">{{administeredFormatted}}</div>
</div>
<div class="row">
  <div class="col-md-4 text-right text-muted">Administration Date/Time:</div>
  <div class="col-md-8 text-left">{{administeredFormatted}}</div>
</div>
<div class="row">
  <div class="col-md-4 text-right text-muted">Lot Number:</div>
  <div class="col-md-8 text-left">{{administeredFormatted}}</div>
</div>
<div class="row">
  <div class="col-md-4 text-right text-muted">Manufacturer:</div>
  <div class="col-md-8 text-left">{{administeredFormatted}}</div>
</div>
<div class="row">
  <div class="col-md-4 text-right text-muted">Administrating Provider:</div>
  <div class="col-md-8 text-left">{{administeredFormatted}}</div>
</div>
<div class="row">
  <div class="col-md-4 text-right text-muted">Ordering Provider:</div>
  <div class="col-md-8 text-left">{{visit.selectedProvider.displayName}}</div>
</div>
<div class="row">
  <div class="col-md-4 text-right text-muted">Route of Administration:</div>
  <div class="col-md-8 text-left">{{administeredFormatted}}</div>
</div>
<div class="row">
  <div class="col-md-4 text-right text-muted">Dose:</div>
  <div class="col-md-8 text-left">{{administeredFormatted}}</div>
</div>
<div class="row">
  <div class="col-md-4 text-right text-muted">Reaction:</div>
  <div class="col-md-8 text-left">{{administeredFormatted}}</div>
</div>
<div class="row">
  <div class="col-md-4 text-right text-muted">Repeat Contraindication:</div>
  <div class="col-md-8 text-left">{{administeredFormatted}}</div>
</div>
<div class="row">
  <div class="col-md-4 text-right text-muted">Information Statement:</div>
  <div class="col-md-8 text-left">{{administeredFormatted}}</div>
</div>    
<div class="row">
  <div class="col-md-4 text-right text-muted">VIS Date:</div>
  <div class="col-md-8 text-left">{{administeredFormatted}}</div>
</div>
<div class="row">
  <div class="col-md-12" style=""><hr/></div>
</div>
    <label for='comments'>Please Provide a Reason for Entered in Error</label>
    <textarea class='form-control' id='comments'></textarea>