.panel-primary>.panel-heading {
    color: #206473;
    background-color: #eee;
    background-image: none;
    border-color: rgba(239, 246, 254, 0.75);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    filter: none;
}
.btn-xs {
    background: transparent;
    color: #206473;
    font-size: 12px;
    padding: 2px 6px;
    text-decoration: none;
}
.panel {
    margin-bottom: 15px;
}
.applet-view {
    background-color: #A2BBC1;
    height: 60px;
    padding: 10px;
    margin: 5px;
}
.c-r-l {
    background: #ddd;
    border: 1px solid #aaa;
    padding: 2px;
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
    text-align: center;
    min-width: 230px;
}
.c-r-l [class*=col] > div{
    background: #A9D2D2;
    margin: 5px 0;
    padding: 0px 10px;
    border: 1px solid #eee;
}
.c-r-l [class*=col] {
    padding: 0px 5px;
}
.c-r-l .row {
    margin: 0;
}
.c-r-l.nm [class*=col], .c-r-l.nm {
    padding: 0;
}

.adk .home-button {
    background-color: #3D5157;
}
.adk .navbar {
  border-color: #3D5157;
}
.adk .navbar .navbar-brand {
  color: #3D5157;
}
.adk .toc li>a {
  color: #3D5157!important;
}
.adk .page-description {
    background-color: #3D5157;
    color: white;
}