<div id="smokingStatusModal">
    <div class="error-container" tabindex="-1"></div>
    <div>Please select one:</div>
    <div class="radio">
        <label>
            <input type="radio" name="smokingStatus" id="ssEveryDay" value="449868002" checked>
            Current every day smoker
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="smokingStatus" id="ssSomeDay" value="428041000124106">
            Current some day smoker
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="smokingStatus" id="ssFormer" value="8517006">
            Former smoker
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="smokingStatus" id="ssNever" value="266919005">
            Never smoker
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="smokingStatus" id="ssSmokerUnknown" value="77176002">
            Smoker, current status unknown
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="smokingStatus" id="ssUnknown" value="266927001">
            Unknown if ever smoked
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="smokingStatus" id="ssHeavy" value="428071000124103">
            Heavy tobacco smoker
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="smokingStatus" id="ssLight" value="428061000124105">
            Light tobacco smoker
        </label>
    </div>
</div>