<!DOCTYPE html>
<html>
<head>
  <title>$!item.summary</title>
  #parse("/layouts/detail.vm")
</head>
<body>
  ## Render parent(main) document HEADER -----------------
  #set($numdocuments = 0)
  <table class="hmp-labeled-values">
      #if($isChild)<tr><td>Title</td><td>$!item.localTitle</td></tr>#end
      #if($item.facilityName)<td>Facility</td><td>$!item.facilityName</td> #end
      <tr>
        <td>Author</td><td>$!item.authorDisplayName
        #foreach($clin in $item.clinicians)
          #if($clin.role.toString().equals('SIGNER'))
            <span class="fa fa-pencil" data-qtip='/es/ $!{clin.signature} - Signed: $hmp.formatDate($!clin.signedDateTime)'></span>
          #end
        #end
      </td>

        #if($item.cosigner)
          #foreach($clin in $item.clinicians)
            #if($clin.role.toString().equals('COSIGNER'))
              <td>Cosigner</td><td>$!item.cosignerDisplayName
              <span class="fa fa-pencil" data-qtip='/ecs/ $!{clin.signature} - Co-signed: $hmp.formatDate($!clin.signedDateTime)'></span></td>
            #end
          #end
        #else
          #foreach($clin in $item.clinicians)
            #if($clin.role.toString().equals('EXPECTED_COSIGNER'))
            <td>Expected Cosigner</td><td>$!clin.name</td>
            #end
          #end
        #end
      </tr>
      <tr>
        <td>Status</td><td>#if($item.statusDisplayName)$!item.statusDisplayName#else<span class="text-muted">&lt;Unknown&gt;</span>#end</td>
      </tr>
      #if($item.attending)<tr><td>Attending</td><td>$!item.attendingDisplayName</td></tr>#end
      <tr><td>Date/Time</td><td>$hmp.formatDateTime($item.referenceDateTime)</td></tr>
      #if($item.procedures && $item.procedures.size())
          #foreach($proc in $item.procedures)
              <tr><td>$hmp.getKind($proc.uid)</td><td><div style="max-width: 400px">$proc.typeName ($hmp.formatDateTime($proc.dateTime))</div></td></tr>
          #end
      #end

  </table>

  ## Render links to addendums -----------------
  #if($item.text && $item.text.size()>1)
    #set($numb=1)
    <div><b>Addenda</b></div>
    #foreach($txt in $item.text)
      #if($foreach.count>1)
        #if($txt.content)
          #set($docid="ADDENDUM-${numdocuments}-${numb}")
          #set($adlink = $hmp.formatDateTime($txt.dateTime)+" Added by "+$hmp.nameCase($txt.author))
          #addendumlink($docid $adlink)
          #set($numb = $numb+1)
        #end
      #end
    #end
  #end

## Render links to the child documents ------------------
    #if($item.childDocs && $item.childDocs.size()>0)
        #set($ctr=0)
        <br>
		<div><b>Child Documents</b></div>
        #foreach($childdoc in $item.childDocs)
##            #set($title="Child Document-$ctr")
            #set($title=$childdoc.localTitle)
            #set($docid="CHILDDOC-${ctr}")
            #addendumlink($docid $title)
            #set($ctr = $ctr+1)
        #end
    #end
  <br>

  #if($item.text && $item.text[0].content)
      ## Render parent(main) document body
      #if($highlights && $highlights['body'] && $highlights['body'][0])
          <pre class="cpe-document-body">$highlights['body'][0]</pre>
      #else
        <pre class="cpe-document-body">$item.text[0].content</pre>
      #end
  #end

  ## Render all parent(main) Addendums
  #if($item.text && $item.text[0])
    #set($numb=1)
    #foreach($txt in $item.text)
      #if($foreach.count>1)
        #if($txt.content)
          #set($docid="ADDENDUM-${numdocuments}-${numb}")
          #if($highlights && $highlights['body'] && $highlights['body'].length == $item.text.length)
            #adddocument($docid $txt $highlights['body'][$numb] "addendum")
          #else
            #adddocument($docid $txt $txt.content "addendum")
          #end
		  
          #set($numb = $numb+1)
        #end
      #end
    #end
  #end

  <hr class="hmp-document-title-hr"/>


##  -----------PRINT CHILD DOCUMENTS-----------
    ## Render child document header -----------------
    #if($item.childDocs)
        #set($child_doc_ctr=0)
        #foreach($childdoc in $item.childDocs)
            #header($childdoc)
            ## print child document addendum links -----------------
                #set($numb=1)
                #foreach($txt in $childdoc.text)
                    #if($foreach.count>1)
                        #if($txt.content)
							#set($adlink = $hmp.formatDateTime($txt.dateTime)+" Added by "+$hmp.nameCase($txt.author))
                            #set($docid="ADDENDUM-${child_doc_ctr}-${numb}")
                            #addendumlink($docid $adlink)
                            #set($numb = $numb+1)
                        #end
                    #end
                #end
            ## Render child document body --------------------
            #set($docid="CHILDDOC-${child_doc_ctr}")

            #if($childhighlights && $childhighlights.get($child_doc_ctr)['body'] && $childhighlights.get($child_doc_ctr)['body'].length == $item.childDocs.get($child_doc_ctr).text.length)
                #adddocument($docid $txt $childhighlights.get($child_doc_ctr)['body'].get(0) "document")
            #else
                #adddocument($docid $childdoc.text[0] $childdoc.text[0].content "document")
            #end

            ## Render child document addendums -----------------------
            #set($addnumb=1)
            #set($number=0)
            #foreach($txt in $childdoc.text)
                #if($foreach.count>1)
                    #if($txt.content)
                        #set($docid="ADDENDUM-${child_doc_ctr}-${addnumb}")
                        #if($childhighlights && $childhighlights.get($number)['body'] && $childhighlights.get($number)['body'].length == $item.childDocs.get($number).text.length)
                            #adddocument($docid $txt $childhighlights.get($child_doc_ctr)['body'][$addnumb] "addendum")
                        #else
                            #adddocument($docid $txt $txt.content "addendum")
                        #end
                        #set($addnumb = $addnumb+1)
                        #set($number=$number+1)
                    #end
                #end
            #end
            #set($child_doc_ctr = $child_doc_ctr+1)
            <hr class="hmp-document-title-hr"/>
        #end
    #end

</body>
</html>
