<!DOCTYPE html>
<html>
<head>
    <title>$!item.summary</title>
    #parse("/layouts/detail.vm")
</head>

<body>
<table class="hmp-labeled-values">
    <tr>
          <td>Facility</td>
          <td>$!item.facilityName</td>
    </tr>
    <tr>
        <td>Type</td>
        <td>$!item.kind</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>$!item.statusName</td>
    </tr>
    <tr>
        <td>Date Time</td>
        <td>$!hmp.formatDateTime($!item.dateTime)</td>
    </tr>
    #if($item.providers)
        #if($item.providers.size())
            <tr>
            <td>Providers</td>
            <td>
			    <ul>
					#foreach($prov in $item.providers)
						<li>$!prov.providerDisplayName</li>
					#end
				</ul>
            </td>
            </tr>
        #end
    #end
</table>
<br/>

#if($item.orderUid)
    <div><b>Order Information</b></div>
    <table class="hmp-labeled-values">
        #if($item.service)
            <tr><td>To Service</td><td>$!hmp.nameCase($!item.service)</td></tr>
        #end
        #if($item.fromService)
            <tr><td>From Service</td><td>$!hmp.nameCase($!item.fromService)</td></tr>
        #end
        #if($item.providerName)
            <tr><td>Requesting Provider</td><td>$!hmp.nameCase($!item.providerName)</td></tr>
        #end
        #if($item.patientClassName)
            <tr><td></td><td>Service is to be rendered on an $item.patientClassName basis.</td></tr>
        #end
        #if($item.place)
            <tr><td>Place</td><td>$!hmp.nameCase($!item.place)</td></tr>
        #end
        #if($item.urgency)
            <tr><td>Urgency</td><td>$!hmp.nameCase($!item.urgency)</td></tr>
        #end
        #if($item.earliestDate)
            <tr><td>Earliest Date</td><td>$!hmp.formatDateTime($item.earliestDate)</td></tr>
        #end
        #if($item.orderName)
            <tr><td>Orderable Item</td><td>$!item.orderName</td></tr>
        #end
        #if($item.consultProcedure)
            <tr><td>Procedure</td><td>$!hmp.nameCase($!item.consultProcedure)</td></tr>
        #end
        #if($item.reason)
            <tr><td>Reason</td><td>$!hmp.nameCase($!item.reason)</td></tr>
        #end
    </table>
#end

#if($item.results)
  #if($item.results.size() > 0)
  <div><b>Results</b></div>
    #set($doclinknum = 0)
    #foreach($doc in $item.results)
    	#if($doc.document && $doc.document.text && $doc.document.text[0])
          #set($linkid = "proc-doc-$doc.document.uid")
            #addendumlink($linkid $doc.document.localTitle)
        #end
        #set($doclinknum = $doclinknum+1)
    #end
  #end
  #set($docnum = 0)
  #foreach($doc in $item.results)

    #if($doc.document && $doc.document.text && $doc.document.text[0])
      #set($docid="proc-doc-$doc.document.uid")

      #set($linkid = "document-$docnum")
      #adddocument($docid $doc $doc.content "procedure" $docnum)
    #end
    #set($docnum = $docnum+1)
  #end
#end


#if($item.activity&&$item.activity.size())
    <div><b>Activity</b></div>
        #foreach($activity in $item.activity)
        <ul><li>
            $activity.name
            <table class="hmp-labeled-values">
                <tr><td>Date/time</td><td>$!hmp.formatDateTime($!activity.dateTime)</td></tr>
                <tr><td>Responsible</td><td>$!hmp.nameCase($!activity.responsible)</td></tr>
                #if($activity.name == 'ADDED COMMENT')
                    <tr><td>Comment</td><td>$activity.comment</td></tr>
                #end
            </table>
        </li></ul>
        #end
    #end
</body>
</html>