<!DOCTYPE html>
<html>
<head>
    <title>$!item.summary</title>
    #parse("/layouts/detail.vm")
</head>
<body>
<table class="hmp-labeled-values">
   <tr>
        <td>Due</td>
        <td>$!hmp.formatDateTime($item.dueDate)</td>
    </tr>
    <tr>
        <td>Type</td>
        <td>$!item.type</td>
    </tr>
    <tr>
        <td>Description</td>
        <td class="hmp-richtext">$!item.description</td>
    </tr>
    <tr>
        <td>Regarding</td>
        <td>
            #if($item.linkUid)
            <span>$!item.link.kind $!item.link.summary</span>
        #else
           <span class="text-muted">No Linked Items</span>
        #end</td>
    </tr>
    <tr>
        <td>Created By</td>
        <td>$!item.createdByName</td>
    </tr>
    <tr>
        <td>Claimed By</td>
        <td>$!item.claimedBy.name</td>
    </tr>
</table>
</body>
</html>