#* uncomment to let this view standalone outside CPE 
<html>
<head>
<g:render template="/layouts/main"/>
</head>
<body>
*#

${task.getFrame().renderSVG($params.pid, $results)}

##</body>
##</html>

 
 