[data-appletid="ui_components_demo"] {
    .text-color-white {
        color: white;
    }
    div.handOff-status {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0px auto;
        &.bg-danger {
            background-color: #a94442;
        }
        &.bg-success {
            background-color: #3c763d;
        }
        &.bg-warning {
            background-color: #eb9316;
        }
    }
    .row.status-legend {
        margin: 10px auto;
        display: table;
        padding: 10px;
        min-width: 350px;
    }
    .status-legend-item {
        padding: 0 10px;
        text-align: center;
        div.handOff-status {
            width: 15px;
            height: 15px;
        }
    }
    .panel-body .col-xs-6, .panel-body .col-xs-12 {
        padding: 10px 20px;
        ul {
            margin: 10px;
            li {
                list-style-type: none;
                border: 0px
            }
        }
        p.extra-notes {
            padding: 10px;
        }
    }
    span.feature-title {
        color: #AAAAAA;
    }
    .faux-table .body>div>div a {
        &.control-label, &.documentation-link {
            color: #428bca;
        }
    }
    h3 {
        padding: 0;
        font-size: 12px;
    }
    .row {
        margin-right: -10px;
        margin-left: -10px;
    }
}

body.ui-components-demo {
    background-color: #FFFFFF;
}
