<h3>Well</h3>
<div class="description">
    <p><strong><i class="fa fa-leanpub"></i> Description:</strong> Wells are visual indicators to draw users focus to specific content.</p>
    <p><strong><i class="fa fa-wheelchair"></i> 508 Guidelines:</strong> Wells are visual indicators, the screen reader and keyboard accessibility should function as expected depending on what type of content is inside of the well.</p>
</div>
<div id="wellCopy">
    <div class="well">...</div>
</div>
<hr />

<div role="tabpanel" class="tabpanel">
    <ul role="tablist" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" role="tab" aria-controls="well" href="#well">Well</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="well">
            <pre>
&lt;div class=&quot;well&quot;&gt;...&lt;/div&gt;
			</pre>
            <a onclick="copyToClipboard('wellCopy')" role="button" tabindex="0" class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" data-content="Copied" data-template='<div class="popover popover-sm" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'>Copy</a>
        </div>
    </div>
</div>
