
// link buttons
@each $ui in link, link-toolbar {
  @each $size in extra-small, small, medium, large {
    .#{$prefix}btn-#{$ui}-#{$size} {
      border-color: transparent;
      background-color: transparent;

      cursor: pointer;

      .#{$prefix}btn-inner {
        background-color: transparent;
        color: $link-color;
        text-decoration: none;
        font-family: $font-family;
        line-height: 22px;
        padding: 0;

        @if $size == mini {
          font-size: $button-mini-font-size;
        } @else if $size == small {
          font-size: $button-small-font-size;
        } @else if $size == medium {
          font-size: $button-medium-font-size;
        } @else if $size == large {
          font-size: $button-large-font-size;
        }
      }

      .#{$prefix}btn-arrow {
        background: none;
      }

      @if $size == mini {
        padding: $button-mini-padding;
      } @else if $size == small {
        padding: $button-small-padding;
      } @else if $size == medium {
        padding: $button-medium-padding;
      } @else if $size == large {
        padding: $button-large-padding;
      }
    }

    .#{$prefix}btn-#{$ui}-#{$size}-over {
      .#{$prefix}btn-inner {
        color: $link-color;
        text-decoration: underline;
      }
    }

    .#{$prefix}btn-#{$ui}-#{$size}-disabled {
      cursor: default;
      color: $btn-link-disabled-color;
      a:hover {
        text-decoration: none;
      }
      .#{$prefix}btn-inner {
        color: $btn-link-disabled-color;
      }
    }
  }
}

// link
//a:link, a:visited {
//  color: $link-color;
//  text-decoration: none;
//}
//
//a:hover {
//  color: $link-color;
//  text-decoration: underline;
//}

