// pills
@mixin pill-button-ui(
$ui,

$border-color: $button-pill-border-color,
$border-color-over: $button-pill-border-color-over,
$border-color-focus: $button-pill-border-color-active,
$border-color-pressed: $button-pill-border-color-active,
$border-color-disabled: $button-pill-border-color-disabled,

$background-color: $button-pill-background-color,
$background-color-over: $button-pill-background-color-over,
$background-color-focus: $button-pill-background-color-active,
$background-color-pressed: $button-pill-background-color-active,
$background-color-disabled: $button-pill-background-color-disabled,

$color: $button-pill-color,
$color-over: $button-pill-color-over,
$color-focus: $button-pill-color-active,
$color-pressed: $button-pill-color-active,
$color-disabled: $button-pill-color-disabled
) {
  @include extjs-button-extra-small-ui(
    $ui: $ui,

    $border-color: $border-color,
    $border-color-over: $border-color-over,
    $border-color-focus: $border-color-focus,
    $border-color-pressed: $border-color-pressed,
    $border-color-disabled: $border-color-disabled,

    $background-color: $background-color,
    $background-color-over: $background-color-over,
    $background-color-focus:$background-color-focus,
    $background-color-pressed: $background-color-pressed,
    $background-color-disabled: $background-color-disabled,

    $color: $color,
    $color-over: $color-over,
    $color-focus: $color-focus,
    $color-pressed: $color-pressed,
    $color-disabled: $color-disabled,

    $box-shadow-pressed: null
  );
  @include extjs-button-small-ui(
    $ui: $ui,

    $border-color: $border-color,
    $border-color-over: $border-color-over,
    $border-color-focus: $border-color-focus,
    $border-color-pressed: $border-color-pressed,
    $border-color-disabled: $border-color-disabled,

    $background-color: $background-color,
    $background-color-over: $background-color-over,
    $background-color-focus:$background-color-focus,
    $background-color-pressed: $background-color-pressed,
    $background-color-disabled: $background-color-disabled,

    $color: $color,
    $color-over: $color-over,
    $color-focus: $color-focus,
    $color-pressed: $color-pressed,
    $color-disabled: $color-disabled,

    $box-shadow-pressed: null
  );
  @include extjs-button-medium-ui(
    $ui: $ui,

    $border-color: $border-color,
    $border-color-over: $border-color-over,
    $border-color-focus: $border-color-focus,
    $border-color-pressed: $border-color-pressed,
    $border-color-disabled: $border-color-disabled,

    $background-color: $background-color,
    $background-color-over: $background-color-over,
    $background-color-focus:$background-color-focus,
    $background-color-pressed: $background-color-pressed,
    $background-color-disabled: $background-color-disabled,

    $color: $color,
    $color-over: $color-over,
    $color-focus: $color-focus,
    $color-pressed: $color-pressed,
    $color-disabled: $color-disabled,

    $box-shadow-pressed: null
  );
  @include extjs-button-large-ui(
    $ui: $ui,

    $border-color: $border-color,
    $border-color-over: $border-color-over,
    $border-color-focus: $border-color-focus,
    $border-color-pressed: $border-color-pressed,
    $border-color-disabled: $border-color-disabled,

    $background-color: $background-color,
    $background-color-over: $background-color-over,
    $background-color-focus:$background-color-focus,
    $background-color-pressed: $background-color-pressed,
    $background-color-disabled: $background-color-disabled,

    $color: $color,
    $color-over: $color-over,
    $color-focus: $color-focus,
    $color-pressed: $color-pressed,
    $color-disabled: $color-disabled,

    $box-shadow-pressed: null
  );
}
