// select the base accordion for base styling
.accordion-container.panel-group {
	// with .ftar also added to the .accordion-container element
	// apply styling overrides to the accordion to make ftar (faux-table-accordion-row) styling
	&.ftar { 
		.panel {
			box-shadow: none;
			border-left: 1px solid $grey-light;
			border-bottom: 1px solid $grey-light;
			border-right: 1px solid $grey-light;
			border-top: none;
			margin: 0;
			.panel-heading {
				padding:0;
				border-radius: 0;
				background: none;
				> * {
					padding: 2px 0 2px 10px;
					&:hover {
						background-color: $secondary-lighter;
					}
					> a {
						display: block;
						width: 100%;
						text-transform: none;
						font-weight: normal;
						color: $grey-darkest;
						> div {
							width: 19.62%;
							display: inline-block;
							.applet-badges {
								margin-left: 10px;
							}
						}
					}
					> a + span {
						display: inline-block;
					}
				}
				.panel-title {
				    cursor: default;
				    font-size: 11px;
				    text-transform: capitalize;
				    font-weight: normal;
				    padding: 0 10px;
				    &:hover {
				        background: none;
				    }
				    p {
				    	margin: 0px;
				    }
				    .form-group, .checkbox  {
				        margin: 0;
				        .checkbox-inline input {
				            margin-top: -6px;
				        }
				    }
					> * {
						display: inline-block;
						> a, a {
						    padding: 1px;
						    display: inline-block;
						    cursor: pointer;
						}
					}
					.control.form-group {
					    margin: -6px 0px;
					    input[type="text"], select {
					    	text-align: right;
					        padding: 0px 2px;
					        margin-bottom: 2px;
					        &.input-sm {
					        	height: 20px;
					        }
					    }
					}
				}
				&:hover {
				    background-color: $secondary-lighter;
				}
			}
			.panel-body {
				padding: 6px;
				border: none;
			}
		}
		&.applet-scrolling-data {
		    height: 150px;
		    overflow-y: scroll;
		    border: 1px solid #ccc;
		}
	}
}


// .ftar-container and main-header styles, ONLY!
// not all ftar will have a main header. those that do should use a 
// div with a class of .ftar-container as a wrapper element that will 
// contain .main-header element (styled below) and .ftar element (styled above)
.ftar-container { 
    margin-bottom: 10px;
    .main-header {
        background-color: $primary-lightest;
        border: 1px solid $grey;
        color: $grey-darkest;
        font-size: 11px;
        font-weight: normal;
        margin: 0;
        padding: 0 10px;
        white-space: nowrap;
        > div {
            display: inline-block;
            width: 19.62%;
        }
    }
}