.graph-container {
	height: 21px;
	.normalValue {
		stroke: $secondary;
		fill: $secondary;
	}
	.abnormalValue {
		stroke: $quaternary;
		fill: $quaternary;
	}
	.previousValue {
		stroke: $white;
		fill: $black;
	}
	.criticalValue {
		stroke: $red;
		fill: $red;
	}
	.abnormalRange, .textureHashed rect{
		stroke: $grey-lighter;
		fill: $grey-lighter;
	}
	.criticalRange.lowRange{
		stroke: $grey-light;
		fill: $grey-light;
	}

	/* demonstration purposes rule, do not add to actual application */
	#sparkline_1 pre{
		height:500px;
		overflow-y:auto;
	}
	/* end of demonstration purpose rule */
}
