.twitter-typeahead {
	width: 100%;
}
.tt-dropdown-menu {
	background-color: $white;
	border: 1px solid $grey-light;
	font-size: 12px;
	margin: 5px 0px;
	max-height: 110px;
	overflow-y: auto;
	width: 100%;
	.tt-suggestion {
		padding: 5px;
		width: 100%;
		&:hover {
			background-color: #0097cf;
			cursor: pointer;
			color: #fff;
		}
	}
}  