.#{$prefix}segmentedbutton-default .#{$prefix}btn {
  margin: 0;

  @include border-radius(0);

  &.#{$prefix}first {
    @include border-left-radius($button-medium-border-radius);
  }
  &.#{$prefix}last {
    @include border-right-radius($button-medium-border-radius);
  }

  &:not(#{$prefix}first) {
    border-left: 0;
  }
}

.#{$prefix}segmentedbutton-pill .#{$prefix}btn {
  &:not(#{$prefix}first) {
    margin-left: 2px;
  }
}