<nav role="navigation" class="navbar navbar-default">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">
            <span class="fa fa-home"></span>&nbsp;<b>eHMP</b>
        </a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li><a href="#medication-review-screen">Medication Review</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Sample Applets 
               <b class="caret"></b>
            </a>
                <ul class="dropdown-menu">
                    <li><a href="#allergy-list">Allergies</a>
                    </li>
                    <li><a href="#vital-list">Vitals</a>
                    </li>
                    <li><a href="#lab-list">Labs</a>
                    </li>
                    <li><a href="#consult-list">Consults</a>
                    </li>
                    <li><a href="#immunization-list">Immunizations</a>
                    </li>
                    <li><a href="#medication-list">Medications</a>
                    </li>
                    <li><a href="#order-list">Orders</a>
                    </li>
                    <li><a href="#problem-list">Problem History</a>
                    </li>
                    <li><a href="#radiology-list">Radiology</a>
                    </li>
                    <li><a href="#document-list">Notes</a>
                    </li>
                    <li><a href="#medication-review-screen">Med Review</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Sample Layouts 
               <b class="caret"></b>
            </a>
                <ul class="dropdown-menu">
                    <li><a href="#grid-two-screen">Grid 2</a>
                    </li>
                    <li><a href="#grid-three-screen">Grid 3</a>
                    </li>
                    <li><a href="#grid-four-screen">Grid 4</a>
                    </li>
                    <li><a href="#grid-nine-screen">Grid 9</a>
                    </li>
                </ul>
            </li>
            <li class="admin">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Admin
               <b class="caret"></b>
            </a>
                <ul class="dropdown-menu">
                    <li><a href="#admin-resources-screen">Resources</a>
                    </li>
                    <li><a href="#admin-health-check-screen">Health Check</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{lastname}}, {{firstname}}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <div class="container-fluid">
                        <dt class="text-muted">{{facility}}</dt>
                        <dd class="text-info">{{title}}</dd>
                    </div>
                    <li class="divider"></li>
                    {{#each pages}}
                    <li><a href="#{{pageName}}">{{pageName}}</a>
                    </li>
                    {{/each}}
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-question-circle"></span>&nbsp;Help
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Contact</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" id="logoutButton">
                    <span class="fa fa-power-off"></span>&nbsp;Signout
                </a>
            </li>
        </ul>
    </div>
</nav>