.fill-warning {
  fill: $brand-warning;
}
.fill-error {
  fill: $brand-danger;
}
.fill-info {
  fill: $brand-info;
}
.fill-success {
  fill: $brand-success;
}

.stroke-warning {
  stroke: $brand-warning;
}
.stroke-error {
  stroke: $brand-danger;
}
.stroke-info {
  stroke: $brand-info;
}
.stroke-success {
  stroke: $brand-success;
}
