.select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    .select2-selection__rendered {
        color: #444;
        line-height: 22px;
    }
    .select2-selection__clear {
        cursor: pointer;
        float: right;
        font-weight: bold;
    }
    .select2-selection__placeholder {
        color: #999;
    }
    .select2-selection__arrow {
        height: 22px;
        position: absolute;
        right: 1px;
        top: 0px;
        width: 20px;
        b {
            border-color: #888 transparent transparent transparent;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            height: 0;
            left: 50%;
            margin-left: -4px;
            margin-top: -2px;
            position: absolute;
            top: 50%;
            width: 0;
        }
    }
}

&[dir="rtl"] {
    .select2-selection--single {
        .select2-selection__clear {
            float: left;
        }
        .select2-selection__arrow {
            left: 1px;
            right: auto;
        }
    }
}

&.select2-container--disabled {
    .select2-selection--single {
        background-color: #eee;
        cursor: default;
        .select2-selection__clear {
            display: none;
        }
    }
}
&.select2-container {
    display: block;
}

// SORRY ABOUT THE IMPORTANTS, THEY ARE NECESSARY TO OVERRIDE INLINE STYLES SET BY THE SCRIPT.//

&.select2-container--open {
    display: none;
    &:last-of-type{
        display: block;
        clear: both;
        left: auto !important;
        height: 100%;
        position: relative !important;
        top: auto !important;
        z-index: 0;
        &:after{
          content:"";
          display: table;
          clear: both;
        }
        .select2-dropdown {
          background-color: transparent;
          border: none;
          position: relative;
          width: 100% !important;
          height: 100%;
        }
    }
}