$grid-grouped-title-color: $dropdown-header-color !default;
$grid-grouped-title-font: normal 14px $font-family !default;
$grid-grouped-header-border-width: 0 0 1px 0 !default;
$grid-grouped-header-border-color: $panel-default-border !default;
$grid-grouped-header-padding: 3px 6px 3px 2px !default;
$grid-grouped-icon-padding: 0 0 0 17px !default;
$grid-grouped-header-background-color: $body-bg !default;