<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
        	<span class="pull-right">
        	<button id="change-med-btn" type="button" class="btn btn-default btn-xs">Change</button>
        	</span>
        	<span id="medicationName">Outpatient Medications</span>
        </h4>
    </div>
    <div class="panel-body">
        <div id="lookup-med-container"></div>
        <div id="med-order-form-container"></div>
        <div id="warning-container"></div>
    </div>
</div>
