<div id="allActivitiesTitle" class="center-block">All Events</div>
<div id="trendHistoryChartContainer" class="center-block"></div>
<!-- <div id="selectedActivities">
	<div class="selectedActvitiesLegend pull-left col-md-5">
		<span class="label label-default op-color">&nbsp&nbsp&nbsp</span><span> Outpatient</span>
		<span class="label label-default ip-color">&nbsp&nbsp&nbsp</span><span> Inpatient</span>
	</div>
	<div class="selectedActivitiesTitle col-md-7">
	</div>
</div> -->
<div id="trendHistoryChartContainerDetail" class="center-block">
	<div>

	</div>
</div>