.#{$prefix}mask-msg.alert {
  padding: $alert-padding;

  .#{$prefix}mask-icon {
    display: none;
  }

  .#{$prefix}mask-msg-text {
    // Headings for larger alerts
    h1,h2,h3,h4,h5,h6 {
      margin-top: 0;
      // Specified for the h to prevent conflicts of changing $headings-color
      color: inherit;
    }
    // Provide class for links that match alerts
    .alert-link {
      font-weight: $alert-link-font-weight;
    }

    // Improve alignment and spacing of inner content
    > p,
    > ul {
      margin-bottom: 0;
    }
    > p + p {
      margin-top: 5px;
    }
  }
}
.#{$prefix}mask-msg.alert-danger {
  background-color: $alert-danger-bg;
  border-color: $alert-danger-border;

  .#{$prefix}mask-msg-text {
      color: $alert-danger-text;
  }
}