.#{$prefix}mask-msg {
  .#{$prefix}mask-icon {
    width: 32px;
    margin: 0px auto;

    i {
      display: block;
      height: 32px;
      width: 32px;
      margin-bottom: 4px;
      background-image: url('/images/spinner-32.gif');
      background-repeat: no-repeat;
      background-size: 32px 32px;
    }
  }
}

.#{$prefix}mask-msg-text {
  background-image: none;
}