@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic);
html {overflow-y: scroll;}
.sdk .numberCircle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 160px;
    padding: 8px;
    font-size: 24px;
    border: 4px solid #666;
    position: relative;
    margin: 10px auto;
}
.sdk .numberCircle.greenBlue {
    border-color: #3D5157;
}
.sdk .numberCircle.blue {
    border-color: #37779e;
}
.sdk .numberCircle.green {
    border-color: #598966;
}
.sdk .numberCircle .height_fix {
    margin-top: 100%;
}
.sdk .numberCircle .content {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -12px;
}
.sdk .col-lg-4 .btn-default {
    font-weight: bold;
}
.sdk .col-lg-4 p {
    text-align: center;
}
.sdk .jumbotron {
    margin-top: -22px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 25px 45px;
}

body {
    display: block;
    margin-top: 53px;
    margin-bottom: 50px;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
  line-height: 150%;
}
h2:before, h3:before {
    display: block;
    content: ' ';
    margin-top: -70px;
    height: 70px;
    visibility: hidden;
}
#markdown {
    margin-top: 22px;
}
.navbar {
    border-width: 0 0 3px;
    z-index: 1;
    background-color: #fff;
    border-color: #DADADA;
}
.navbar .navbar-header:hover a {
    color: #000000;
}
.navbar .navbar-header a {
    font-weight: 300;
    color: #777;
}
footer {
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
}
.jumbotron p {
    font-size: 18px;
}
.pos-relative {
    position: relative;
}
.home-button {
    position: absolute;
    border-radius: 50%;
    top: 38px;
    left: 5px;
    border: 0;
    background-color: #777;
    padding: 2px 0;
    font-size: 12px;
    font-weight: 200;
    width: 22px;
    height: 22px;
    text-align: center;
}
.home-button .fa {
    color: #fff;
}
.navbar-header {
    width: 100%;
}
.navbar .nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
    color: #999;
}
.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}



table {
    border: 2px solid #ddd;
    margin: 15px 0;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9;
}

.page-description {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    -webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,.05);
    box-shadow: inset 0 2px 0 rgba(0,0,0,.05);
    margin-bottom: 30px;
    padding: 10px;
    border: 0;
    background-color: #777;
    color: white;
}
.page-description h1 {
    font-size: 26px;
    margin: 5px auto;
}
.page-description p {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 200;
    color: #efefef;
}


/*.home-button {
    background-color: #777; //3D5157
}
.navbar-inverse {
  border-color: #777;
}
.navbar-inverse .navbar-brand {
  color: #777;
}
.toc li>a {
  color: #777!important;
}
.jumbotron {
  margin-bottom: 30px;
  padding: 10px;
  border: 0;
  background-color: rgb(61, 81, 87);
  color: white;
}*/



/*.fa {
    color: #999;
}
i.fa.center {
    width: 100%;
    text-align: center;
}
.note {
    color: #F93;
}
.pos-relative {
    position: relative;
}
*/
