<div class="popover gistPopover" role="tooltip">
    {{#if header}}<div class="col-md-12 popover-title-container">
        <div class="col-md-11 popover-title"></div>
        <div class="col-md-1 applet-title-button popover-close-button">
            <button type="button" class="applet-filter-button btn btn-xs btn-link" title="Close Popover">
                <span class="applet-title-button popover-close-button-icon fa fa-times"></span>
            </button>
        </div>
    </div>
    {{/if}}
    <div class="col-md-12 popover-content">
        <div class="data-content"></div>
    </div>
</div>