<div id="navigationPanel" class="panel no-margin bg-info">
    <div class="panel-heading container-fluid" style="position:relative">
        <div id="navigation-date">
            <div class="hidden well well-sm globalDatePicker-popupRegion" id="hiddenDiv">
                <div id="globalDate-region"></div>
            </div>
            <div id="globalDatePicker-compact">
                <button type="button" class="pull-left globalDatePickerButton btn btn-link" id="date-region-minimized" aria-label="Minimized global date range" tooltip-data-key='timeline_dateinterval'>
                </button>
                <div id="gdr-spikeline"></div>
            </div>
        </div>

        <div id="navigation-navbar" class="applet-nav-bar">
            <div class="nav nav-pills navbar-right">
                <div class="btn-group" id="nav-workspaceSelect"></div>
                <div class="btn-group" id="text-search-input"></div>
            </div>
        </div>
    </div>
    {{{helpIconLink 'coversheet'}}}
</div>
