<?xml version="1.0" encoding="UTF-8"?>
<!--
  Example LOGBACK Configuration File
  http://logback.qos.ch/manual/configuration.html
  -->
<configuration>
    <!-- enable configuration of logback at runtime via JMX -->
    <contextName>${project.name}</contextName>
    <jmxConfigurator/>
    <!--
      This default ConsoleAppender is used to log all messages to System.out
    -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
     ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="warn"/>

    <logger name="gov.va.hmp.Bootstrap" level="debug"/>
    <logger name="gov.va.cpe.vpr.sync.vista.VprUpdateJob" level="error"/>

    <!-- VistA RPC logging -->
    <logger name="gov.va.hmp.vista.rpc.RpcTemplate" level="error"/>
    <!--<logger name="gov.va.hmp.vista.rpc.RpcTemplate" level="debug"/>-->
    <!--<logger name="gov.va.hmp.vista.rpc.wire" level="debug"/>-->

    <!-- JDS logging -->
    <logger name="gov.va.cpe.vpr.pom.jds.JdsTemplate" level="error"/>
    <logger name="org.springframework.web.client.RestTemplate" level="error"/>

    <!-- HTTP logging (JDS and Solr) -->
    <!--<logger name="org.apache.http" level="debug"/>-->
    <!--<logger name="org.apache.http.wire" level="error"/>-->

    <!-- Access Policy Engine -->
    <!--<logger name="gov.va.hmp.access" level="debug"/>-->

    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>