<html>
<head>
    <title>Concept</title>
    <g:render template="/layouts/detail"/>
</head>

<body>
<table class="hmp-labeled-values" border="1">
	<tr>
		<td colspan="2">${c.URN}: ${c.description} (${c.code})</td>
	</tr>
	<tr>
		<td colspan="2">Computed Ancestors</td>
	</tr>
	<tr>
		<td colspan="2">
    		#foreach($ref in $c.getAncestorMap().entrySet())
    			<li><a title="${ref.key}" href="/term/display?urn=${ref.key}">${ref.value}</a></li>
    		#end
		</td>
	</tr>
	<tr>
		<td colspan="2">Computed Relationships</td>
	</tr>
	<tr>
		<td colspan="2">
		<ul>
			#foreach($ref in $c.GetRelationshipTree())
			<li>${ref}:</li>
			<ul>
				<g:each in="${rel.value}" var="item">
					<li><a title="${item.key}" href="/term/display?urn=${item.key}">${item.value}</a></li>
				</g:each>
			</ul>
			#end
		</g:each>
		</ul>
		</td>
	</tr>	
		<!--
	<g:if test="${c.attributes.size()}">
		<tr>
			<td colspan="2">Attributes (${c.attributes.size()})</td>
		</tr>
		<g:each in="${c.attributes}" var="attr">
			<tr>
				<td>${attr.key}</td>
				<td>${attr.value}</td>
			</tr>
		</g:each>
	</g:if>
	-->
</table>
<iframe src="/term/${c.URN}" style="height: 100%; width: 100%;"></iframe>
</body>
</html>