<!DOCTYPE html>
<html>
<head>
    <title>Framingham Score Calculator</title>
  #parse("/layouts/detail.vm")
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/css/hmp-theme.css?hmpver=$hmpVersion"/>
<link rel="stylesheet" type="text/css" href="$hmp.userPrefResource('ext.theme','/css/hmp-blue-dk.css')?hmpver=$hmpVersion"/>
<link rel="stylesheet" type="text/css" href="/css/hmp.css?hmpver=$hmpVersion"/>
##<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"  type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/feedback.css?hmpver=$hmpVersion"  type="text/css" media="screen" />
  
</head>
<html>
<body>
	#set($data = $job.getActions()[0].getData())
	#set($FraminghamScore = $job.getFrames()[0])

	<form action="/frame/exec" method="get">
	<input type="hidden" name="mode" value="/frame/framingham">
	<input type="hidden" name="pid" value="${data.pid}">
	<input type="hidden" name="frameID" value="gov.va.cpe.vpr.goals.FraminghamScore">
	<table class="hmp-labeled-values" style="float: left;">
    <tr>
        <td colspan="3"><a href="http://cvdrisk.nhlbi.nih.gov/calculator.asp" class="hmp-external-link" target="_blank">NIH Framingham Score Calculator</a></td>
    </tr>
    <tr>
    	<td>Age/Gender</td>
    	<td>${data.age}yo/${data.gender}</td>
    	<td>${FraminghamScore.calcBaseScore($data.male, $data.age)}</td>
    </tr>
    <tr>
    	<td>Smoker</td>
    	<td>
    		<input type="checkbox" name="smoker" #if($data.smoker) checked #end value="1">
    	</td>
    	<td>${FraminghamScore.calcSmokerScore($data.male, $data.age, $data.smoker)}</td>
    </tr>
    <tr>
    	<td>Cholesterol</td>
    	<td>&nbsp;</td>
    	<td>${FraminghamScore.calcCholScore($data.male, $data.age, $data.tchol, $data.hdl)}</td>
    </tr>
    <tr>
    	<td align="right">Total</td>
    	<td>
    		<input type="text" name="tchol" size="3" value="${data.tchol}"/><br>
    	</td>
    </tr>
    <tr>
    	<td align="right">HDL</td>
    	<td>
    		<input type="text" name="hdl" size="3" value="${data.hdl}"/>
    	</td>
    </tr>

    <tr>
    	<td>Blood Pressure</td>
    	<td>&nbsp;</td>
    	<td>${FraminghamScore.calcSBPScore($data.male, $data.age, $data.sbp, $data.sbptreated)}</td>
    </tr>

    <tr>
    	<td align="right">Systolic</td>
    	<td>
    		<input type="text" name="sbp" size="3" value="${data.sbp}"/><br/>
    	</td>
    </tr>
    <tr>
    	<td align="right">Treated?</td>
    	<td>
    		<input type="checkbox" name="sbptreated" value="1" #if($data.sbptreated) checked #end/>
    	</td>
    </tr>

    <tr style="border-top: 2px solid black;"><td colspan="2" align="right">Total Score</td><td align="right"><b>${data.score}</b></td></tr>
    <tr><td colspan="2">10-Year Risk%</td><td align="right"><b>${data.risk}</b></td></tr>
    <tr><td></td><td align="left"><input type="submit" value="Recompute"></td><td></td></tr>
    </table>
	</form>
</body>
</html>