<div id="columnHeader" class="row">
	<div class="columnName no-padding-right col-md-4 user_info-ps-th-name">Patient Name</div>
	<div class="columnName no-padding-right col-md-2 user_info-ps-th-ssn">SSN</div>
	<div class="columnName no-padding-right col-md-3 user_info-ps-th-datetime">Date/Time</div>
	<div class="columnName no-padding-right col-md-2 user_info-ps-th-dob">DOB</div>
	<div class="columnName no-padding-right col-md-1 user_info-ps-th-gender">Gender</div>
</div>
<div class="list-group"></div>