<li href="#myCprsList" id="myCPRSList">
    <a role="tab" data-toggle="tab" tabIndex="0" href=""><span data-toggle="tooltip" data-placement="bottom" title="This is your default patient list as displayed in CPRS; to change, go to tools menu in CPRS.">My CPRS List</span></a>
</li>
<li href="#mySite" id="mySite">
    <a role="tab" data-toggle="tab" tabindex="0" href=""><span class="sr-only">Search type selection tab set.</span>My Site</a>
</li>
<li href="#global" id="global">
    <a role="tab" data-toggle="tab" tabindex="0" href="">Nationwide</a>
</li>
