/*--- Color Palette 4/16/2015  ---*/

$primary:               #003E4F;
$primary-light:         #3F6D7A;
$primary-lighter:       #BFCED2;
$primary-lightest:      #E5EBED;

$secondary:             #328563;
$secondary-light:       #CBE0D7;

$tertiary:              #FFC234;

/*--- text  ---*/
$grey:                  #555555;
$white:                 #FFFFFF;

[data-appletid="activeMeds"] {
}