<div id="patientDemographics">
    <div id="patientName">{{fullName}}</div>
    <span style="margin-right:50px">{{formatSSN ssn false}}</span>
    <br>
    <span class="paddingRight">{{formatDate birthDate "MM/DD/YYYY"}} ({{getAge birthDate}}y)</span>
    <span>{{genderName}}</span>
</div>
<div class="patientSensitivity">
    <div class="label label-warning">{{ackTitle}}</div>
</div>
<!--<hr>
<div id="patientCWAD">
    <span class="label label-danger cwad">Directives</span>
    <span class="label label-danger cwad">Allergies</span>
    <span class="label label-danger cwad">Flags</span>
    <span class="label label-danger cwad">Crisis Notes</span>
</div>
<hr>
<div id="patientProvider">
    <p class="text-muted">Provider</p>
    <p>Last Name, First Name</p>
</div>
<div id="patientWard">
    <p class="text-muted">Ward</p>
    <p>WARD ID / Room #</p>
</div>
<hr>
<div id="primaryCareTeam">
    <p class="text-muted">Primary Care Team</p>
    <p>Care Team ##</p>
</div>
<div id="attendingProvider">
    <p class="text-muted">Attending Provider</p>
    <p>Last Name, First Name</p>
</div>
<div id="inpatientProvider">
    <p class="text-muted">Inpatient Provider</p>
    <p>Last Name, First Name</p>
</div>
<hr>-->
<br>