
/*What goes in this theming file:
Global styles, like button colors (i.e. hover and active),
panel colors and borders, backgrounds, etc. Any thing that should
be common across ehmp, rather than specific to a particular applet
*/

@import "variables.scss";
@import "compass";

/* There are lots of vendor specific prefixes to do css transitions correctly, so this is a helper */
@mixin transitionProperty($property) {
    @include transition-property($property);
    @include transition-duration(0.4s);
    @include transition-timing-function(ease-out);
}

body {
    color: $text1;
    font-size: 11px;
    font-family: 'Open Sans';
    height: 100%;
    overflow: hidden;
    background-color: $primary-lightest;
   /* background: url("../img/gradient-bg-v3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='../img/gradient-bg-v3.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/gradient-bg-v3.jpg', sizingMethod='scale')";*/
}

/*--- Label colors ---*/
.label {
    color: #FFFFFF;
    box-shadow: 0px 1px 1px #999999;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.label-danger {
    background-color: #CC0000;
}
.label-danger:hover {
    color: #990000;
    background-color: #FFA6A3;
}
.label-success {
    background-color: #339900;
}
.label-info {
    background-color: #666666;
}
.label-error {
    background-color: #CC0000;
}
.activeStatus {
    background-color: #01cccc;
}
.expiredStatus {
    background-color: #999999;
}
.discontinuedStatus {
    background-color: #ffa6a3;
}

/*--- Colors ---*/

.text-muted {
    color: $grey;
}
.white {
    color: white;
}

/*--- General Global Styles ---*/
.no-side-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.col-layout-sm {
    padding-right: 5px;
    padding-bottom: 1px;
    width: 22%;
    display: inline-block;
}
.col-layout-md {
    padding-right: 5px;
    padding-bottom: 1px;
    width: 30%;
    display: inline-block;
}
.col-layout-lg {
    padding-right: 5px;
    padding-bottom: 1px;
    width: 40%;
    display: inline-block;
}
.bold {
    font-weight: bold;
}
.center {
    text-align: center;
}
.expanded-row {
    background: #f5f5f5;
    white-space: normal;
}
.well {
    // background-color: transparent;
}
.well-sm {
    // padding: 9px 15px;
}

// .toolbar {
//     padding: 5px 0px 5px 0px;
//     label {
//         width: 50px;
//     }
//     .toolbar-button-sm {
//         width: 50px;
//     }
//     .toolbar-button-md {
//         width: 100px;
//     }
//     .toolbar-button-lg {
//         width: 150px;
//     }
// }
// .toolbar-spacer {
//     padding: 0px 20px 0px 0px;
// }

.no-margin {
    margin: 0;
}
.row-layout {
    p {
        clear: both;
        width: 100%;
        margin: 0;
    }
}
.selectable {
    cursor: pointer;
    cursor: hand;
}
.selectable:hover{
background: none;
}
.paddingRight {
    padding-right: 20px;
}


/*--- Button Styling ---*/
.btn-link{
	background: $BG1;
	border-radius:4px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color:#fff;
    padding: 6px 15px;
}

.btn-link:hover {
	text-decoration: none;
    color: #FFF;
    background-color: #00b6cd;
    -moz-box-shadow: 1px 1px 2px #3D5157;
    -webkit-box-shadow: 1px 1px 2px #3D5157;
    box-shadow: 1px 1px 2px #3D5157;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #00BCD4 0%, #00ACC1 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #00BCD4 0%, #00ACC1 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #00BCD4 0%, #00ACC1 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00BCD4), color-stop(1, #00ACC1));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #00BCD4 0%, #00ACC1 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #00BCD4 0%, #00ACC1 100%);
}
.tl_reset {
    margin: 3px 3px 0 0;
}
.btn-xs {
	background: transparent;
    color: $text2;
	font-size: 12px;
    padding: 2px 6px;
    text-decoration: none;
}
.btn-default.btn-xs {
    margin: 2px;
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #ccc;
}
.btn-default.btn-xs:hover {
    color: #333;
    background-color: #e0e0e0;
    background-position: 0 -15px;
}
.btn-xs:hover, .btn-xs:focus, .btn-xs:active {
    color: #FFFFFF;
    background-color: $primary-light;
    background-image: none;
}
.btn-xs.filterOpen {
    color:$grey;
    background-color: $primary-light;
}

.btn-primary {
    background-color: $secondary;
    background-image: none;
    border: none;
    border-radius: 0;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: $secondary;
}
.btn-primary.disabled {
    background-color: $secondary;
    opacity: 1;
}

/*--- Nav Styling ---*/
.navbar-default{
    background-color: $BG1;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    color:#fff;
    font-size:12px;
    text-shadow: none;
    .navbar-nav{
    	li a {
            background-color: transparent;
    		background-image: none;
            border:none;
	    	color:white;
	        cursor: pointer;
            padding: 1px 5px;
    	}
    	li a:hover, li a:focus, li a:active {
    		// color: white;
    		background-color: $hover2;
    		color: white;
			background-image: none;
    		border:none;
            border-radius:0;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
    	}
    	.dropdown-toggle{
    		// padding: 0;
    	}
    	.open{
    		a:hover, a:focus, a:active {
    			color: white;
    			background-color: $hover2;
                border-radius:0;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
    		}
    		a.dropdown-toggle {
    			border:none;
	        }
	        ul.dropdown-menu {
                box-shadow: 1px 1px 2px #3D5157;
	        	li a{
		            color: #333;
	        	}
	        	li a:hover, li a:focus, li a:active {
	        		color: white;
	        	}
	        }
    	}
    }
}

.nav-pills {
    font-size: 12px;
    li {
        a:hover, a:focus {
            background-color: $hover2;
            -moz-box-shadow: 1px 1px 2px #3D5157;
            -webkit-box-shadow: 1px 1px 2px #3D5157;
            box-shadow: 1px 1px 2px #3D5157;
            color: #ffffff;
            border-radius: 5px solid orange;
            -webkit-border-radius: 5px solid orange;
            -moz-border-radius: 5px solid orange;
            text-shadow: 1px 1px 2px #628896;
        }
    }
    li.active {
        a, a:hover, a:focus {
            background-color: $hover2;
            background-image: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            text-shadow: 1px 1px 2px #628896;
        }
    }
}
.nav {
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 0px;
    &.nav-tabs{
        border: none;
    }
}

/*--- TOP-REGION STYLES ---*/

// #top-region {
    #header-region, #patientDemographic-region {
        padding: 0;
    }
    .appNav {
        padding: 0;
        nav {
            min-height: 24px;
            background-image: none;
            background-color: $primary-light;
            border: 0;
            box-shadow: none;
            border-radius: 0;
            margin-bottom: 0px;
        }
        #patientSearchButton {
            float: left;
            font-size: 12px;
            height: 28px;
            // font-weight: 400;
            padding: 5px 0 5px 10px;
            color: #ffffff;
            cursor: pointer;
            &:hover {
                background-color: $primary;
            } 
            &:focus, &:active {
                background: $primary;
                color:$white;
            }
        }
        li.open a.dropdown-toggle {
            background: $primary;
            color: $white;
        }
        li.open a.dropdown-toggle:hover {
            background: $primary;
            color: $white;
            cursor: pointer;
        }
        a.dropdown-toggle {
            padding: 5px 10px;
            color: $white;
            text-shadow: none;
            font-size: 10px;
            line-height: 14px;
        }
        ul.dropdown-menu {
            min-width: 180px;
            margin-top: 2px;
            .navbar-text {
                font-size: 12px;
                text-align: center;
                margin: 5px;
                width: 100%;
            }
        }
        .navTitle {
            float: left;
            p {
                color: #FFFFFF;
                margin: 0;
                padding: 5px 10px;
            }
        }
    }
    .heightSmall {
        nav {
            /* for adk/applet test navs */
            margin-bottom: 0;
            min-height: 24px;
            border: none;
            box-shadow: none;
            background: #e4e4e4;
            border-radius: 0;
        }
        a {
            padding: 4px 10px;
        }
        .navbar-brand {
            height: auto;
        }
    }

    #patientDemographic-region {
    line-height: 18px;
        #patientDemographic-visitInfo {
        width: 15%;
        cursor: pointer;
        padding: 3px 10px;
        background: none;
            .fa-map-marker {
            padding: 0px 5px;
            display: block;
            font-size: 16px;
            color:$secondary;
            }
        }
        #patientDemographic-visitInfo:hover {
        background: none;
        }
        .panel {
        border-radius: 0;
        box-shadow: none;
        border: none;
        }
        .panel-heading {
        padding: 0;
        min-height: 55px;
        border-radius: 0;
        border: 0;
        background-color: #EFEFEF;
            box-shadow: 0 2px 2px -2px gray;
        }
        h6 {
        margin: 3px 0px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
        color: $primary;
        }
        h5 {
        text-transform: capitalize;
        margin-bottom: 15px;
        }
        #patientDemographic-cwad {
        width: auto;
        padding: 3px 10px;
            .label {
            display: inline-block;
            margin: 1px 0px;
            padding: 4px 6px;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            color: #FFFFFF;
            border-radius: 5px;
            cursor: pointer;
            }
            #cwad-details {
            position: absolute;
            background: white;
            box-shadow: 2px 2px 10px rgba(100,100,100,.5);
            padding: 0px 20px 15px 20px;
            margin: 13px 0 0 0px;
            z-index: 2;
            width: 520px;
                .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
                padding: 0px 5px;
                }
            .cwad-detail {
                margin-bottom: 20px;
            }
            .cwad-title {
                padding-bottom: 10px;
                    strong {
                    padding-right: 10px;
                    }
            }
            button.close {
                margin-top: -10px;
            }
            #cwad-detail-list {
                max-height: 350px;
                overflow-y: scroll;
            }
        }
    }
    .media {
        color: #333333;
        font-size: 11px;
        cursor: pointer;
    }
    .media-body {
        padding: 2px 0;
    }
    .media-heading {
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        text-transform: none;
    }
    .paddingRight {
        padding-right: 20px;
    }
    #patientDemographic-cwad, #patientDemographic-patientInfo, #patientDemographic-providerInfo, #patientDemographic-visitInfo {
        min-height: 55px;
        .media-body.warning {
            background-color: #990000;
            color: #FFFFFF;
        }
        #ccowStatus {
            font-size: 1.2em;
            .fa-chain {
                color: #66CD00;
            }
        }
    }
    #WebLocator,#WebListener {
        display: none;
    }
    #patientDemographic-patientInfo.warning {
            background-color: #990000;

            .media, .media-body .media-heading, span.text-muted  {
                color: #FFFFFF;
            }
    }
    #patientDemographic-providerInfo {
        min-width: 555px;
        cursor: pointer;
        background: none;
        padding: 2px 10px;
        .popover {
        max-width: 700px;
        width: 700px;
            h1 {
            text-transform: capitalize;
            font-size: 1.5em;
            margin-top: 0.5em;
            }
        }
    }
    #primaryCarePhone {
        padding: 0;
    }
    #patientDemographic-providerInfo:hover {
        background: none;
    }
    #patientDemographic-patientInfo {
        padding: 0;
        color: #333333;
        font-size: 11px;
        width: 25%;
        padding: 0 10px;
        background: none;
    }
    #patientDemographic-patientInfo:hover {
        background: none;
    }
    .borderRight {
        border-width: 0 1px 0 0;
        border-color: #D7d7d7;
        border-style: solid;
    }
    .paddingLeft {
        padding-left: 5px
    }
    .dropdown-menu.patient-info-dropdown {
        cursor: default;
        font-size: 11px;
        font-weight: 400;
        width: 800px;
        padding: 0px 5px 15px 5px;
        margin-left: 10px;
    }
}
    #navigation-region {
        padding: 0 15px;
    }
#eHMP-CurrentUser {
height: 24px;
padding-top: 5px;
    &:hover {
        background-color: $primary;
    }
    &:focus, &:active {
        background: $primary;
        color:$white;
    }
}


#smokingStatusModal {
    .radio {
        padding-left: 20px;
    }
    
    .error-container {
        font-size: 1.25em;
        padding: 0;
	    color: #a94442;
    }
}

/*--- SHELF ---*/

#patientDemographic-region #patientDemographic-btn {
    float: right;
    width: auto;
    padding: 0;
    background-color: #FFF;
}
#patientDemographic-btn .btn {
    background: none;
    height: 100%;
    text-transform: uppercase;
    color: $secondary;
    line-height: 40px;
    font-size: 12px;
    font-weight: bold;
    border-left: 1px solid #D7d7d7;
    border-radius: 0;
}
#patientDemographic-btn .btn:hover {
    background: none;
}
.new-order-dropdown {
    height: 100vh;
    position: fixed;
    background: #CFD8DC;
    left: inherit;
    right: 0;
    top: 81px;
    width: 186px;
    border-radius: 0;
    overflow-x: hidden;
}
#sidebar-wrapper {
right: 0;
width: 186px;
margin-top: 0px;
overflow-y: scroll;
height: 80vh;
z-index: 10000;
}
li.applet-add-button {
    cursor: pointer;
    line-height: 18px;
}
li.applet-add-button:hover {
    background-color: #ECEFF1;
}
.sidebar-nav {
width: auto;
list-style: none;
margin: 0;
padding: 0;
font-size: 13px;
}
.sidebar-nav .panel-close {
background: none;
text-align: right;
padding: 0;
width: 100%;
display: block;
border-bottom: 1px solid #90A4AE;
border-radius: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
}
.sidebar-nav li {
width: 80%;
margin: 0 auto;
margin-bottom: 20px;
background: #FFF;
text-align: center;
padding: 0px;
border-radius: 1px;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
box-shadow: 0px 1px 5px #999;
-webkit-box-shadow: 0px 1px 5px #999;
-moz-box-shadow: 0px 1px 5px #999;
}
.sidebar-nav li span{
    font-size: 70px;
    padding: 25px 0;
    color: #5596C9;
    }
.sidebar-nav .panel-title {
padding: 2px;
background-color: #DAE1E4;
}
.sidebar-nav li .applet-add-button {
width: 100%;
}

.sidebar-nav li button {
color: #000;
background: none;
border: none;
text-decoration: none;
line-height: 18px;
}

.sidebar-nav .toggle {
padding: 10px;
line-height: 10px;
color: #666;
background: none;
font-size: 20px;
border: 0;
margin: 0;
}

.sidebar-nav .toggle i {
cursor: pointer;
}

/*--- SHELF ANIMATION ---*/

.open > .new-order-dropdown  {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.new-order-dropdown {
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translateX(0px);
  transform: translateX(186px);
  display: initial;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
.dropup .new-order-dropdown {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

/*--- SEARCH INPUT ---*/
#suggestPanel {
    #search-text-group {
        .input-group-btn {
            width: auto;
        }
        .btn-primary {
            background-image: none;
            background-color: $secondary;
            border: 1px solid $secondary;
            border-radius: 0;
            box-shadow: inset 0px -1px 1px rgba(0,0,0,0.25);
            -webkit-box-shadow: inset 0px -1px 1px rgba(0,0,0,0.25);
            -moz-box-shadow: inset 0px -1px 1px rgba(0,0,0,0.25);
            color: white;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }
        .btn-primary:hover {
            background-color: $secondary;
            border-color: $secondary;
        }
    }
}

/*--- CONTENT REGION STYLES ---*/

#content-region-wrapper {
    padding: 0;
}
.contentPadding {
    padding: 5px 25px 0 25px;
}
.contentPadding.ready {
    padding: 0 15px;
}

/*--- BOTTOM REGION STYLES ---*/

#bottom-region {
    .well {
        margin-bottom: 0;
        border-radius: 0;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
        background-color: $primary-light;
        border: 0;
        box-shadow: none;
        filter: none;
        color: $white;
        padding: 0px 0px 0 10px;
        height: 24px;
        line-height: 24px;
    }
}
#bottom-region .col-md-12 {
    padding: 0;
}

/*--- Applet Styling ---*/

.panel-title {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: $white;
}
th.sortable {
    font-size: 10px;
}
.panel {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.panel-primary>.panel-heading {
    color: $text1;
    background:$primary;
    background-image: none;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    filter: none;
    @include transitionProperty(background-color)
}
.panel-primary>.panel-heading.panel-heading-filtered {
    background-color: #428bca;
    @include transitionProperty(background-color);

    .panel-title-label {
        color: white;
        @include transitionProperty(color);
    }
    .applet-filter-title {
        color: white;
        @include transitionProperty(color);
    }
    .btn-xs {
        color: white;
        @include transitionProperty(color);
    }
    .btn-xs.filterOpen {
        background-color: #1B598E;
        @include transitionProperty(background-color);
    }
    .btn-xs:focus {
        background-color: #1B598E;
        @include transitionProperty(background-color);
    }
    .btn-xs:hover {
        background-color: #1B598E;
        @include transitionProperty(background-color);
    }
    .btn-xs:active {
        background-color: #1B598E;
        @include transitionProperty(background-color);
    }
}
.filter-title {
    cursor: pointer;
    margin: 1px;
}
.filter-title:hover {
    cursor: hand;
    margin: 0;
    border: 1px solid gray;
}
.panel-footer {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: auto;
    background: white;
}
.panel-primary {
    background: none;
     border-color: transparent !important;
    /*border-color: rgba(239, 246, 254, .75);*/
}

/*--- Data Grid Styling ---*/
.cover-sheet .data-grid {
    overflow-y: hidden;
    height: auto;
}
.overview .data-grid {
    overflow: hidden;
    height: auto;
}
.data-grid {
    overflow-y: scroll;
    height: 63vh;
    table tr:nth-child(2n) {
        background-color: #f2f8fe;
    }
}

.gridster .data-grid {
    overflow-y: hidden;
    height: 100%;
}
.backgrid-filter.form-search {
    height: auto;
    width: 100%;
    margin-bottom: 2px !important;
}
.backgrid-filter{
    input[type="search"]
    {
        position: inherit;
    }
    .search{
        top: 14px;
    }
    .clear{
        top: 14px;
        left: 228px;
    }
}

.panel-body {
    .grid-filter-daterange {
        background-color: #f2f2f2;
        // padding: 10px 10px 7px 10px;
        margin-bottom: 0px;
        .row > div:nth-child(2) {
            padding-top: 10px;
        }
    }
    .backgrid-filter input[type="search"]
    {
        position: inherit;
    }
    .grid-filter {
        background-color: #f2f2f2;
        padding: 10px 10px 7px 10px;
        margin-bottom: 0px;
        overflow-x:auto;
        border-bottom: 1px solid #818181;
    }
    .filter-title-input {
        height: 16px;
    }
    .filter-container{
        width: 100%;
    }
    .filter-wrapper {
        padding: 5px 0px;
    }
    .udaf-border {
        margin-left: -10px;
        margin-right: -10px;
        height: 2px;
        border-bottom: solid thin #818181;
        box-shadow: 0 2px 2px #999;
    }
    .udaf {
        display:inline-block;
        vertical-align:middle;
        width:100%;
        max-height: 83px;
        overflow-y: auto;
        margin-top: 5px;
    }
        .udaf-height {
            max-height:83px;
            overflow: scroll;
            margin-top: 4px;
        }
    .udaf-tag{
        padding-right: 5px;
    }
    .filter-add{
        display: inline-block;
        position: absolute;
        left: 252px;
        top: 0px;
        height: 30px;
        padding: 5px 7px;
    }
    .clear-udaf-tag {
        z-index:1000;
        margin-left: 5px;
        color:gray;
    }
    .remove-all-div {
        float: right;
    }
    .filter-name {
        float: left;
    }
}
b {
    font-family: "Open Sans", Helvetica, Arial;
}
.grid-applet-heading {
    padding: 1px 5px;
}
.grid-applet-panel {
    padding: 0;
    background-color: white;
}
.grid-footer {
    padding: 0px;
}
.grid-container {
    h5 {
        padding: 5px 10px;
    }
}
.backgrid {
    th {
        text-align: left;
    }
    td {
        white-space: normal;
    }
}
.backgrid.table {
    tr.empty td {
        display: block;
        line-height: 20px;
        min-height: 40px;
        padding: 10px;
        text-align: left;
        border: none;
    }
}

/*  ------------------------------------------------------------------------ */
/*  --  Rows in the grid                                                  -- */
/*  ------------------------------------------------------------------------ */
$defaultRowHeight: 13px;
$defaultLineHeight: 13px; /* would prefer EM or REM, but messes up 23px tile height */
$defaultRowPadding: 5px 0;
$defaultChartHeight: 23px; /* with negative margins; so we can have the mid-height vertical separator */
$rowBorderBottom: #f0f0f0;
$rowBorderTop: #e5e5e5;
$rowBackgroundColor: #fff;
$rowEmptyRowColor: gray; /* Why the named color.  should be hex */

div.gistItem {
    color: #666;
    background-color: $rowBackgroundColor;
    border-radius: 0;
    /*
    border-top: 1px solid $rowBorderTop;
    border-bottom: 2px solid $rowBorderBottom;
    */
    border-top: 0;
    border-bottom: 0;
}
.row {
    /* equalHeights for 23px rows of a single row elements */
    &.equalHeights {
        display: table;
        height: $defaultRowHeight + 10px;
        line-height: $defaultLineHeight;
        min-height: $defaultRowHeight +10px;
        /* padding: $defaultRowPadding; */
        width: 100%;

        & > *[class*="col-"] {
            display: table-cell;
            float: none;
            line-height: $defaultLineHeight;
            padding-top: 5px;
            padding-bottom: 5px;
            vertical-align: middle;

            &.info-display {
                padding-right: 0;
            }

            &:hover {
                background: #f2f7fc;
            }
        }
        & > .row.equalHeights {
            padding-left: 10px;
            margin-left: 0;
        }

        .gistList {
            padding-top: 5px;
        }
        /* should be global, not nested? */
        .clearBoth {
            clear: both;
        }
        .emptyGistList {
            color: $rowEmptyRowColor;
            font-style: italic;
            line-height: $defaultLineHeight;
            min-height: $defaultRowHeight;
            padding: 10px;
        }
        .gChartMin,
        .gChartMinEnc {
            height: $defaultChartHeight;
            line-height: $defaultLineHeight;
            min-height: $defaultChartHeight;
            margin-top: -5px;
            margin-bottom: -5px;
        }
    }
}

    /*--- Grid Custom Filter REGION STYLES ---*/

    .grid-filter-daterange {
        margin-bottom: 7px;
        .default-range {
            background-color: #f2f2f2;
            padding: 1px 2px;
            font-size: 11px;
            margin: 6px 4px;
        }
        .active-range {
            background-color: #7aa9b9;
            color: white;
        }
        .daterange:not(.active-range):hover, .daterange:not(.active-range):focus {
            background-color: $hover2;
            color: white;
        }
    }

    .backgrid {
        background-color: #FFF;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    .backgrid th.sortable a {
        color: $text2;
    }
    .backgrid .ascending .sort-caret {
        border-bottom: 4px solid #5596C9;
    }
    .backgrid .descending .sort-caret {
        border-top: 4px solid #5596C9;
    }
    /*--- Modal Styling ---*/
    .modal-xlg {
        width: 97%;
    }
    .modal-title {
        font-weight: 700;
        color: #3D5157;
        font-size: 16px
    }
    #mainModalDialog.modal-dialog {
        padding-top: 50px;
    }
    .cpe-search-term-match {
        background-color: rgba(255, 255, 0, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0, .075), 0 0 8px rgba(255, 255, 0, .6);
    }
    div.sectionHeader {
        font-family: "Open Sans", Helvetica, Arial;
        font-weight: 200;
        font-style: normal;
        font-size: 16px;
        text-align: left;
        line-height: 18px;
        color: #000;
        border-bottom: 1px solid #ccc;
        margin: 10px 40px;
    }
    div.dataValue {
        font-family: "Open Sans", Helvetica, Arial;
        font-weight: 400;
        font-style: normal;
        line-height: 20px;
        font-size: 13px;
        color: #333;
        text-align: left;
    }
    .contentPadding .col-md-4 {
        padding-left: 8px;
        padding-right: 8px;
    }
    .contentPadding .panel {
        margin-bottom: 10px;
    }
    @media (max-width : 991px) {
        /*  #patientDemographic-region .borderRight {
            border-style: none;
            } */
    }
    #appts-filter-bar .btn {
        font-size: 11px;
        height: 22px;
        line-height: 22px;
        padding: 0 5px;
    }
    .grid-toolbar .btn {
        font-size: 11px;
        height: 22px;
        line-height: 22px;
        padding: 0 5px;
    }
    .dropdown-menu.patient-info-dropdown {
        background: white;
        box-shadow: 2px 2px 10px rgba(100,100,100,.5);
    }
    #ali-span {
        display: inline-block;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        margin-top:45px;
    }
    .nav>li>a:hover, .nav>li>a:focus {
        background-color: $hover2;
        color: #FFF;
    }
    .backgrid tbody tr.empty {
        color: $text6;
    }
    #med-review-applet-main {
        max-height: 69vh;
        overflow-y: scroll;
    }
    #search-applet-main {
        #searchResultsArea{
            max-height:600px;
            overflow-y: scroll;
            margin-top: 60px;
            height: 60vh;
        }
    }
    @media screen and ( max-height: 730px ){
        #med-review-applet-main {
            max-height: 55vh;
        }
    }
    @media screen and ( max-height: 585px ){
        #search-applet-main #searchResultsArea {
            height: 40vh;
        }
    }
    @media screen and ( max-height: 520px ){
        #med-review-applet-main {
            max-height: 45vh;
        }
    }



    .grid-applet-panel .header-bar {
        background: $primary-light;
        color: $white;
    }
    .backgrid thead {
      background: $primary-light;
      th {
        background: none;
        &.sortable a {
            color: white;
        }
      }
    }


    /*--------- This file removes responsiveness below 1024px -------*/

    #applet-nav {
        min-width: 640px;
        display: block;
    }
    #patientDemographic-region .panel-heading {
        min-width: 1024px;
        display: block;
    }
    #patientDemographic-region .panel-heading > div {
        float: left;
    }
    #navigation-region #navigationPanel #navigation-date {
        float: left;
    }
    #navigation-region #navigationPanel .panel-heading {
        min-width: 1000px;
        display: block;
    }
    #content-region-wrapper {
        display: block;
    }
    #center-region {
        min-width: 995px;
        display: block;
    }
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-right {
        float: right;
    }
    .documents-list .data-grid {
        min-width: 50%;
    }
    [data-appletid="medication_review"] #medNavButtons {
        min-width: 975px;
    }

    /* ---- PATIENT SEARCH ------*/
    [data-appletid="patient_search"] .patient-search-output .pillsAndHeader {
        min-width: 700px;
        float: left;
    }
    [data-appletid="patient_search"] .patient-search-output #patient-search-confirmation {
        min-width: 284px;
        float: left;
    }
    [data-appletid="patient_search"] .patient-search-output .pillsAndHeader #patient-search-pills .nav-pills li {
        margin-left: 5px;
    }
    [data-appletid="patient_search"] #patient-search-input #input-view-region .form-inline .form-control {
        float: left;
        margin-right: 8px;
        margin-top: 2px;
    }
    [data-appletid="patient_search"] #patient-search-input{
        float: left;
        width: 80%;
    }
    @media (max-width: 991px) {
        [data-appletid="patient_search"] #patient-search-main .searchResults{
            float: left;
        }
    }

    @media (max-width: 1024px) {
        .col-md-4 {
            width: 331px;
            display: block;
            float: left;
        }
        .logonSection .col-md-4, #patient-search-results .col-md-4{
            width: 33%;
            display: block;
            float: left;
        }
    }
    @media (min-width: 768px) {
        .logonSection .col-sm-pull-4 {
        right: 33.33333333%;
        margin-left: 16.66666667%;
    }
    }
    @media (min-width: 1px) {
        .col-md-12 {
        width: 100%;
        }
        .col-md-2 {
        width: 16.66666667%;
        float: left;
        }
        .col-md-6 {
        width: 50%;
        float: left;
        }
    }
    @media (max-width: 1290px) {
        #patientDemographic-providerInfo .dropdown-menu.patient-info-dropdown {
            right: 0;
            left: inherit;
        }
    }

