<svg style="height: ${dispHeight}px; width: ${dispWidth}px;" class="hmp-timeline"  transform="matrix(1,0,0,1,0,0)"
     height="${svg.getCanvasHeight()}" width="${svg.getCanvasWidth()}" viewBox="${svg.getViewBoxStart()}" 
	 preserveAspectRatio="none" id="$!{svg.getID()}" xmlns="http://www.w3.org/2000/svg" version="1.1">
				
<style type="text/css">
  .order-bar {stroke-width: .5; stroke: grey; stroke-dasharrayx: 3 2; fill-opacity: .1;}
  
  .masking-bar {fill: white; fill-opacity: .65;}
  .multi-order-bar {fill: url(#g1);}
  
  /**
  .multi-order-bar:hover {fill-opacity: .25; fill: yellow !important;}
  */
  
  .bar { 
 	stroke: black; stroke-width: .5px; fill: grey; 
  }
  
  /** 
  .bar:hover {fill: yellow !important;} 
  */
  
  .ref {
  	stroke: none; fill: grey; fill-opacity: .25;
  }
  
  .point { fill: black; }
  .point-abnormal {fill: red; }
  .point:hover, .point-abnormal:hover { fill: yellow !important; }
  
  .placeholder {
  	fill-opacity: 0;
  	cursor: pointer;
  }
  /**
  .placeholder:hover {fill-opacity: .5; fill: yellow !important;}
  */
</style>

<defs>
	<pattern id="slashes" patternUnits="userSpaceOnUse" x="0" y="0" width="5" height="5">
		<path d="M 0,0 l 5,5" style="stroke: grey;"/>
	</pattern>
	<pattern id="lefty" patternUnits="userSpaceOnUse" x="0" y="0" width="5" height="5">
		<rect style="fill: white; stroke-width: 0;" x="0" y="0" width="5" height="5"/>
		<path style="fill: black;" d="M 5,5 L 0,3 L 5,0 Z"/>
	</pattern>
	<pattern id="righty" patternUnits="userSpaceOnUse" x="0" y="0" width="5" height="5">
		<path style="fill: black;" d="M 0,0 L 5,3 L 0,5 Z"/>
	</pattern>
	<pattern id="gap" patternUnits="userSpaceOnUse" x="0" y="0" width="5" height="5">
		<rect x="0" y="0" width="5" height="5" style="fill: red; fill-opacity: .25"/>
		<path d="M 0,0 L 5,5" style="stroke: red;"/>
		<path d="M 0,5 L 5,0" style="stroke: red;"/>
	</pattern>
	<linearGradient id = "g1" x1="0" y1="0" x2="0" y2="1">
		<stop offset="0%" stop-color="white"/>
        <stop offset="50%" stop-color="grey" stop-opacity=".25"/>
        <stop offset="100%" stop-color="white"/>
    </linearGradient>
</defs>
<g transform="scale(1)">
${svg.getContent()}
</g>
</svg>
