//.#{$prefix}grid-group-hd-collapsible {
//  i.fa {
//    font-size: 18px;
//    font-family: FontAwesome;
//    font-weight: normal;
//    font-style: normal;
//    text-decoration: inherit;
//    -webkit-font-smoothing: antialiased;
//    width: 17px;
//    height: auto;
//    line-height: 17px;
//    background-image: none;
//    background-position: 0% 0%;
//    background-repeat: repeat;
//    margin-top: 0;
//    position: relative;
//
//    display: inline-block;
//    vertical-align: top;
//    top: -3px;
//  }
//  i.fa:before {
//    content: $fa-var-caret-down;
//  }
//
//  .#{$prefix}grid-group-title {
//    display: inline-block;
//    vertical-align: top;
//    background: none;
//    padding: $grid-grouped-icon-padding;
//    width: 100%;
//
//    // quick fix for baseline of labels and badges in group titles
//    .label,
//    .badge {
//      position: relative;
//      top:-0.1em;
//    }
//  }
//}
//
//.#{$prefix}grid-group-hd-collapsed {
//  i.fa {
//    top: 1px;
//    left: 2px;
//  }
//  i.fa:before {
//      content: $fa-var-caret-right;
//  }
//
//  .#{$prefix}grid-group-title {
//    background: none;
//  }
//}