
.#{$prefix}grid-row-selected + .#{$prefix}grid-rowbody-tr {
  background-color: $grid-row-cell-selected-background-color;
  border-top-color: $grid-row-cell-selected-background-color;
  //  color: $grid-row-cell-selected-color;
}

.#{$prefix}grid-rowbody .#{$prefix}panel {
  border-radius: $grid-row-body-inner-border-radius;
}