$grid-header-background-color: $table-bg !default;
$grid-header-background-gradient: null !default;
$grid-header-border-color: $table-border-color !default;
$grid-header-border-width: 0px !default;
$grid-header-border-style: none !default;
$grid-header-over-background-color: $grid-header-background-color !default;
$grid-header-over-background-gradient: $grid-header-background-gradient !default;
$grid-header-padding: 3px 6px 3px 10px !default;
$grid-header-trigger-height: 22px !default;
$grid-header-trigger-width: 14px !default;
$grid-header-color: null !default;
$grid-header-sort-icon-width: 16px !default;
$grid-header-sort-icon-spacing: 3px !default;
$grid-header-sort-icon-position: right center !default;