<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-retina.png">

<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/css/hmp-theme.css?hmpver=$env.getProperty('hmp.version')"/>
<link rel="stylesheet" type="text/css" href="$hmp.userPrefResource('ext.theme','/css/hmp-blue-dk.css')?hmpver=$env.getProperty('hmp.version')"/>
<link rel="stylesheet" type="text/css" href="/css/hmp.css?hmpver=$env.getProperty('hmp.version')"/>
##<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"  type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/feedback.css?hmpver=$env.getProperty('hmp.version')"  type="text/css" media="screen" />

#if ($env.acceptsProfiles('development'))
<link rel="stylesheet" type="text/css" href="/lib/jcrop/css/jquery.Jcrop.css"/>

<script type="text/javascript" src="/lib/ext-4.2.2.1144/ext-all-dev.js"></script>
<script type="text/javascript" src="/lib/jquery/jquery-1.11.1.js"></script>
<script type="text/javascript" src="/lib/bootstrap-3.1.0/js/bootstrap.js"></script>
<script type="text/javascript" src="/lib/jcrop/js/jquery.Jcrop.js"></script>
#else
<link rel="stylesheet" type="text/css" href="/lib/jcrop/css/jquery.Jcrop.min.css"/>

<script type="text/javascript" src="/lib/ext-4.2.2.1144/ext-all.js"></script>
<script type="text/javascript" src="/js/hmp-all.min.js?hmpver=$env.getProperty('hmp.version')"></script>
<script type="text/javascript" src="/lib/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap-3.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/jcrop/js/jquery.Jcrop.min.js"></script>
#end
<script type="text/javascript" src="/lib/feedback.js?hmpver=$env.getProperty('hmp.version')"</script>
<script type="text/javascript" src="/lib/html2canvas.js"</script>
<script type="text/javascript" src="/js/ext-theme-hmp.js?hmpver=$env.getProperty('hmp.version')"></script>

<script type="text/javascript" charset="utf-8">
    // if page takes longer than 500ms to load, show the splash (timer is canceled on Application launch)
    var splashTimer = window.setTimeout(showsplash, 500);
    var ie10Compatible = (navigator.userAgent.indexOf('Trident/6.0') > -1);
	var ie11Compatible = (navigator.userAgent.indexOf('Trident/7.0') > -1);
    if (Ext.ieVersion >= 9 || ie11Compatible || ie10Compatible || Ext.firefoxVersion >= 4 || Ext.chromeVersion >= 9 || Ext.safariVersion >= 5) {
        if(Ext.isIE && !window.console) {
            // console.log() fix for the sake of IE9 compatibility.
            window.console = {};
            var m = [
                "log", "info", "warn", "error", "debug", "trace", "dir", "group",
                "groupCollapsed", "groupEnd", "time", "timeEnd", "profile", "profileEnd",
                "dirxml", "assert", "count", "markTimeline", "timeStamp", "clear"
            ];
            for (var i = 0; i < m.length; i++) {
                if (!window.console[m[i]]) {
                    window.console[m[i]] = function() {};
                }
            }
        }
        Ext.BLANK_IMAGE_URL = "/images/s.gif";
        Ext.Loader.setConfig({
            enabled: true,
            disableCaching: false,
            paths: {
                'gov': '/js/gov',
                'Ext.ux': '/lib/ext-4.2.2.1144/examples/ux'
            }
        });
        Ext.require('gov.va.hmp.supports');
        Ext.require('gov.va.hmp.ErrorHandler');
    } else {
        window.location = "/supportedBrowsers";
    }
    function showsplash() {
        var splash = document.getElementById('splash');
        if (splash) splash.style.visibility = 'visible';
    }
</script>
<!--[if IE]>
<script type="text/javascript" charset="utf-8">
    Ext.require('gov.va.hmp.CcowContext');
</script>
<![endif]-->
