@font-face {
    font-family: 'Droid Sans Mono';
    src: url('/fonts/DroidSansMono-webfont.eot');
    src: url('/fonts/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DroidSansMono-webfont.woff') format('woff'),
    url('/fonts/DroidSansMono-webfont.ttf') format('truetype'),
    url('/fonts/DroidSansMono-webfont.svg#DroidSansMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}