  div.dataLabel {
    font-family: "Open Sans", Helvetica, Arial;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #999;
    text-align: right;
    line-height: 20px;
  }

  div.sectionHeader {
    font-family: "Open Sans", Helvetica, Arial;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    text-align: left;
    line-height: 18px;
    color: #000;
    border-bottom:1px solid #ccc;
    margin: 10px 40px;  }

  div.dataValue {
    font-family: "Open Sans", Helvetica, Arial;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    font-size: 13px;
    color: #333;
    text-align: left;
  }

