/** @class Ext.button.Button */
//

//$button-icon-spacing: 5px !default;
//$button-small-font-size: 12px !default;
//$button-small-font-weight: bold !default;
//$button-small-padding: 3px !default;
//$button-small-text-padding: 5px !default;
//$button-medium-font-size: 14px !default;
//$button-medium-font-weight: bold !default;
//$button-medium-text-padding: 8px !default;
//$button-large-font-size: 16px !default;
//$button-large-font-weight: bold !default;
//$button-large-text-padding: 10px !default;

$button-default-color: $btn-default-color !default;
$button-default-color-over: $button-default-color !default;
$button-default-color-focus: $button-default-color !default;
$button-default-color-pressed: $button-default-color !default;
$button-default-color-disabled: $button-default-color !default;

//$button-include-ui-menu-arrows: true !default;
//$button-include-ui-split-arrows: true !default;
//
//$button-small-arrow-width: 21px !default;
//$button-small-arrow-height: 18px !default;
//$button-medium-arrow-width: 30px !default;
//$button-medium-arrow-height: 26px !default;
//$button-large-arrow-width: 36px !default;
//$button-large-arrow-height: 32px !default;
//
//$button-small-split-width: 23px !default;
//$button-small-split-height: 20px !default;
//$button-medium-split-width: 32px !default;
//$button-medium-split-height: 28px !default;
//$button-large-split-width: 38px !default;
//$button-large-split-height: 34px !default;
//
//$button-toolbar-color: #666 !default;
//$button-toolbar-background-color: $neutral-light-color !default;
//$button-toolbar-border-color: $neutral-color !default;
//
//$button-toolbar-plain-border-color: transparent !default;
//$button-toolbar-plain-background-color: transparent !default;

$button-default-border-color: $btn-default-border !default;
$button-default-border-color-over: #adadad !default;
$button-default-border-color-focus: $input-border-focus !default;
$button-default-border-color-pressed: $button-default-border-color-over !default;
$button-default-border-color-disabled: $btn-default-border !default;

$button-default-background-color: $btn-default-bg !default;
$button-default-background-color-over: #ebebeb !default;
$button-default-background-color-focus:  $btn-default-bg !default;
$button-default-background-color-pressed: $button-default-background-color-over !default;
$button-default-background-color-disabled: $btn-default-bg !default;

$button-default-background-gradient: null !default;
$button-default-background-gradient-over: null !default;
$button-default-background-gradient-focus: null !default;
$button-default-background-gradient-pressed: null !default;
$button-default-background-gradient-disabled: null !default;

$button-default-box-shadow: none;
$button-default-box-shadow-over: none;
$button-default-box-shadow-focus: none;
$button-default-box-shadow-pressed: inset 0 3px 5px rgba(0,0,0,.125);
$button-default-box-shadow-disabled: none;

$button-default-glyph-color: $gray;
$button-default-glyph-opacity: 1;
$button-default-glyph-color: $gray;
$button-toolbar-glyph-opacity: 1;

$button-toolbar-color: #666 !default;

$button-toolbar-border-color: $button-default-border-color !default;
$button-toolbar-border-color-over: $button-default-border-color-over !default;
$button-toolbar-border-color-focus: $button-default-border-color-over !default;
$button-toolbar-border-color-pressed: $button-default-border-color-over !default;
$button-toolbar-border-color-disabled: $btn-default-border !default;

$button-toolbar-background-color: $button-default-background-color !default;
$button-toolbar-background-color-over: $button-default-background-color-over !default;
$button-toolbar-background-color-focus: $button-default-background-color-over !default;
$button-toolbar-background-color-pressed: $button-default-background-color-over !default;
$button-toolbar-background-color-disabled: $btn-default-bg !default;

$button-toolbar-plain-border-color: transparent !default;
$button-toolbar-plain-background-color: transparent !default;

$button-toolbar-background-gradient: null !default;
$button-toolbar-background-gradient-over: null !default;
$button-toolbar-background-gradient-focus: null !default;
$button-toolbar-background-gradient-pressed: null !default;
$button-toolbar-background-gradient-disabled: null !default;

// primary
$button-primary-background-color: $btn-primary-bg !default;
$button-primary-border-color: $btn-primary-border !default;
$button-primary-color: $btn-primary-color !default;

// success
$button-success-background-color: $btn-success-bg !default;
$button-success-border-color: $btn-success-border !default;
$button-success-color: $btn-success-color !default;

// info
$button-info-background-color: $btn-info-bg !default;
$button-info-border-color: $btn-info-border !default;
$button-info-color: $btn-info-color !default;

// warning
$button-warning-background-color: $btn-warning-bg !default;
$button-warning-border-color: $btn-warning-border !default;
$button-warning-color: $btn-warning-color !default;

// danger
$button-danger-background-color: $btn-danger-bg !default;
$button-danger-border-color: $btn-danger-border !default;
$button-danger-color: $btn-danger-color !default;

//// inverse
//$button-inverse-background-color: #444 !default;
//$button-inverse-border-color: $gray-darker !default;
//$button-inverse-color: #fff !default; // this necessary or can it be automated?

// large
$button-large-padding: $padding-large-vertical $padding-large-horizontal !default;
$button-large-font-size: $font-size-large;
$button-large-border-radius: $border-radius-large !default;
//$button-large-icon-size: $line-height-computed !default;
$button-large-arrow-width: 15px !default;
$button-large-arrow-height: 15px !default;

// medium
$button-medium-padding: $padding-base-vertical $padding-base-horizontal !default;
$button-medium-font-size: $font-size-base !default;
$button-medium-border-radius: $border-radius-base !default;
//$button-medium-icon-size: $line-height-computed * 0.9 !default;
$button-medium-arrow-width: 15px !default;
$button-medium-arrow-height: 15px !default;

// small
$button-small-padding: $padding-small-vertical $padding-small-horizontal !default;
$button-small-font-size: $font-size-base !default;
$button-small-border-radius: $border-radius-small !default;
$button-small-icon-size: $line-height-computed !default;
$button-small-arrow-width: 15px !default;
$button-small-arrow-height: 14px !default;

// extra-small
$button-extra-small-border-radius: $border-radius-small !default;
$button-extra-small-border-width: 1px !default;
$button-extra-small-padding: $padding-xs-vertical $padding-xs-horizontal !default;
$button-extra-small-text-padding: 0px !default;
$button-extra-small-font-size: $font-size-small !default;
$button-extra-small-font-size-over: $button-extra-small-font-size !default;
$button-extra-small-font-size-focus: $button-extra-small-font-size-over !default;
$button-extra-small-font-size-pressed: $button-extra-small-font-size !default;
$button-extra-small-font-size-disabled: $button-extra-small-font-size !default;
$button-extra-small-font-weight: normal !default;
$button-extra-small-font-weight-over: $button-extra-small-font-weight !default;
$button-extra-small-font-weight-focus: $button-extra-small-font-weight-over !default;
$button-extra-small-font-weight-pressed: $button-extra-small-font-weight !default;
$button-extra-small-font-weight-disabled: $button-extra-small-font-weight !default;
$button-extra-small-font-family: $font-family !default;
$button-extra-small-font-family-over: $button-extra-small-font-family !default;
$button-extra-small-font-family-focus: $button-extra-small-font-family-over !default;
$button-extra-small-font-family-pressed: $button-extra-small-font-family !default;
$button-extra-small-font-family-disabled: $button-extra-small-font-family !default;
$button-extra-small-icon-size: 10px !default;
$button-extra-small-arrow-width: 14px !default;
$button-extra-small-arrow-height: 14px !default;
$button-extra-small-split-width: 14px !default;
$button-extra-small-split-height: 14px !default;

// arrows/split buttons
$button-include-ui-menu-arrows: true !default;
$button-include-ui-split-arrows: true !default;

$button-arrow-size: 12px !default;
$button-split-size: 14px !default;
$button-icon-spacing: 4px !default;

// pill button
$button-pill-extra-small-padding: $button-extra-small-padding !default;
$button-pill-small-padding: $button-small-padding !default;
$button-pill-medium-padding: $button-medium-padding !default;
$button-pill-large-padding: $button-large-padding !default;

$button-pill-background-color: #fff;
$button-pill-background-color-over: $gray-lighter;
$button-pill-background-color-active: $link-color;
$button-pill-background-color-disabled: #fff;

$button-pill-border-color: $button-pill-background-color;
$button-pill-border-color-over: $button-pill-background-color-over;
$button-pill-border-color-active: $button-pill-background-color-active;
$button-pill-border-color-disabled: $button-pill-background-color-disabled;

$button-pill-color: $link-color;
$button-pill-color-over: $link-color;
$button-pill-color-active: #fff;
$button-pill-color-disabled: $gray-light;