<!DOCTYPE html>
<html>
<head>
    <title>#springMessage("platform.name") &raquo; Sign In</title>
</head>
<body>
    #parse("/framework_loading.vm")
</body>
    #parse("/layouts/main.vm")
<script type="text/javascript" async="true">
    Ext.require(['gov.va.hmp.auth.Reindexing']);
    Ext.onReady(function () {
        Ext.create('gov.va.hmp.auth.Reindexing');
        var splash = document.getElementById('frameworkload');
        if (splash) splash.style.visibility = 'hidden';
    });
</script>
</html>