/** @class Ext.panel.Table */
//
// Row height *within* borders.
$grid-row-height: $font-size * 2 !default;

$grid-cell-inner-padding: 3px 5px 3px 5px !default;
$grid-cell-inner-text-overflow: ellipsis !default;
//$grid-cell-inner-line-height

$grid-row-cell-border-color: $table-border-color !default;
$grid-row-cell-background-color: $body-bg !default;
$grid-row-cell-font-size: $font-size;
$grid-row-cell-line-height: $line-height-computed !default;
$grid-row-cell-focus-border-style: solid !default;

// special cells
$grid-cell-special-background-color: 'none' !default;
$grid-cell-special-background-gradient: 'none' !default;
$grid-cell-special-border-width: 1px 0 !default;

//row cell alt
$grid-row-cell-alt-background: $table-bg-accent !default;

//row cell over
$grid-row-cell-over-background-color: $table-bg-hover !default;
$grid-row-cell-over-border-color: darken($table-border-color, 7%) !default;

//row cell selected
$grid-row-cell-selected-background-color: $component-active-bg !default;
$grid-row-cell-selected-border-color: $grid-row-cell-selected-background-color !default;
$grid-row-cell-selected-color: $component-active-color !default;

//row cell focus
$grid-row-cell-focus-background-color: $grid-row-cell-over-background-color !default;
$grid-row-cell-focus-border-color: $grid-row-cell-focus-background-color !default;

$grid-body-border-color: $body-bg !default;

// condensed
$grid-condensed-cell-inner-padding: 1px 4px 1px 4px !default;

// underlined-title
$grid-underlined-title-cell-inner-padding: 3px 1px 3px 1px !default;