.note-signature {
    color: #000000;
    outline: none;
    text-decoration: none;
    position: relative;
}

.note-signature span {
    margin-left: -999em;
    position: absolute;
}

.note-signature:hover span {
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    position: absolute;
    left: 1em;
    top: 2em;
    margin-left: 0;
    width: 250px;
    background: #FFFFFF;
    border: 1px solid #FFAD33;
    padding: 0.8em 1em;
    z-index: 9999;
}

.hmp-ccow-background {
	padding: 4px;
}

.hmp-ccow-background .x-btn-button {
    line-height: 36px;
    width: 36px !important;
    height: 36px !important;
}

.hmp-ccow-background .x-btn-inner {
    display: none;
}

.hmp-ccow-background .x-btn-icon-el {
    width: 36px;
    height: 36px;
    background-size: 36px;
}

.hmp-roster-source-patients {
	padding-left: 10px
}

.hmp-cell-floaties {
    opacity: 0;
    float: right;
    z-index: 1000;
    position: relative;
    top: 0px;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -background-color: rgba(255, 255, 255, 255);
}

.hmp-floatie-parent:hover .hmp-cell-floaties {
    opacity: 1;
}

.hmp-waffer-thin {
    margin: 0 0 0 0;
}

.hmp-richtext ul, ol {
    padding: 4px;
}

.hmp-richtext li {
    margin: 0 1em 0 1em;
    white-space: normal;
}

.x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 4px;
    padding-bottom: 2px;
    line-height: 14px;
}

.x-grid-with-row-lines .x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 3px;
}

.x-grid-checkheader {
    height: 14px;
    background-image: url('images/unchecked.gif');
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.x-grid-checkheader-checked {
    background-image: url('images/checked.gif');
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}

/* add person button */

.hmp-person-add-btn {
    height: 58px;
    width: 138px;
    padding: 4px;
    margin: 9px 12px 9px 9px;
    border: #bbb 1px dashed;
}

.hmp-person-add-btn.x-menu-active {
    border-style: solid;
    box-shadow: #888 0px 0px 4px 0px; /* TODO: not sure why shadow shows above button - do this like in PatientBanner */
}

.hmp-photo-drop-area {
    border: #bbb 1px dashed;
    white-space: normal;
    word-wrap: break-word;
}

.hmp-user-button .x-btn-icon {
    background-size: 16px;
}

.x-tip-body .dl-horizontal dt {
    width: 80px;
}

.x-tip-body .dl-horizontal dd {
    margin-left: 92px;
    color: #333;
}

.hmp-category-remove {
    background-image: url('/images/icons/x.png');
}

.hmp-past-due .x-grid-cell-inner {
    color: #9d261d !important;
    font-weight: bold;
}

.hmp-due-today .x-grid-cell-inner {
    font-weight: bold;
}

.cpe-document-body {
    /*width: 80ch;*/
    border-width: 0px;
    background-color: transparent;
}

.hmp-workspace {
    background-color: #F5F5F5;
}