<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>#springMessage("platform.name") API Documentation &raquo; Date Ranges and Intervals of Time</title>
    #parse("/layouts/api.vm")
</head>

<body>
<div>
    <span><a href="#springUrl('/api/index')">Back to API Documentation</a></span>
</div>

<div class="body">
    <h1>#springMessage("platform.name") API Documentation</h1>

    <h2>Date Ranges and Intervals of Time</h2>

    <p>TBD</p>
</div>
</body>
</html>