<!DOCTYPE html>
<html>
<head>
    <title>Core Entities</title>
    <meta name="layout" content="viewport"/>
</head>

<body>
<h1>Core Entities</h1>
    #foreach($entity in $entityClasses)
    <h2>${entity.name}</h2>
    <table>
        <thead>
        <th>
            <td>Property</td>
            <td>Type</td>
            <td>Description</td>
        </th>
        </thead>
        <tbody>
            #foreach($prop in $entity.properties)
            <tr>
                <td>${prop.name}</td>
                <td>${prop.referencedPropertyType.name}</td>
            </tr>
            #end
        </tbody>
    </table>
    #end
</body>
</html>