<!DOCTYPE html>
<html>
<head>
    <title>#springMessage("platform.name") API Documentation &raquo; ${resourceDescriptor.name}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    #parse("/layouts/api.vm")
    <script type="text/javascript">
        Ext.onReady(function(){
            var appbar = Ext.ComponentQuery.query('appbar')[0];
            appbar.addAppMenuItem({
                xtype: 'button',
                icon: '/images/skin/database_table.png',
                text: 'Back to API Docs',
                target: '_self',
                href: "#springMessage('/api/index')"
            });
        });
    </script>
</head>
<body>
<div class="body">
    <h1>$resourceDescriptor.name</h1>
    <div class="propertyList">
        <table>
            <tbody>
            <tr class="prop">
                <th valign="top" class="name">URI</th>
                <td valign="top" class="value"><tt>${resourceDescriptor.path}</tt></td>
            </tr>
            <tr class="prop">
                <th valign="top" class="name">Description</th>
                <td valign="top" class="value">${resourceDescriptor.description}</td>
            </tr>
            <tr class="prop">
                <th valign="top" class="name">Parameters</th>
                <td valign="top" class="value">
                    #if(${resourceDescriptor.getParams()})
                        <ul>
							#forearch($paramElement in $resourceDescriptor.getParams())
                                <li>
                                    #if($paramElement.@required == 'true')
                                        <b>required</b>
                                    #else                                    
                                        <i>optional</i>
                                    #end
                                    &mdash;
                                    <tt>$paramElement.@name</tt>
                                    &mdash;
                                    <span>$paramElement.doc.@title</span>
                                    #if(paramElement.doc.text())
                                        <ul>
                                            <li>$paramElement.doc.text()</li>
                                        </ul>
                                    #end
                                    #if($paramElement.option)
                                        <ul>
											#foreach($optionElement in $paramElement.option)
                                                <li>
                                                    <tt>$optionElement.@value</tt> &mdash;
                                                    #if($optionElement.@mediaType)Selects the representation of media type: <tt>$optionElement.@mediaType</tt>#end
                                                </li>
                                            #end
                                        </ul>
                                    #end
                                </li>
                            #end
                        </ul>
                    #else
                        None.
                    #end
                </td>
            </tr>
            <tr class="prop">
                <th valign="top" class="name">HTTP Methods</th>
                <td valign="top" class="value">
                    <ul>
                        #foreach($methodElement in $resourceDescriptor.getMethods()))
                            <li>
                                <tt>${methodElement.name}</tt>
                                #if(${methodElement.doc})
                                    &mdash;
                                    ${methodElement.doc.title}
                                #end
                            </li>
                        #end
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2>Media Types</h2>
    <div class="propertyList">
        <table>
            <thead>
            <th>Response&nbsp;Format</th>
            <th>Requested via...</th>
            </thead>
            <tbody>
            #if($resourceDescriptor.representations.size() == 1)
                <tr class="prop">
                    <td valign="top" class="name"><tt>$resourceDescriptor.representations[0].mediaType</tt></td>
                    <td valign="top" class="value">There is only one media type for this resource</td>
                </tr>
            #else
                #foreach($representationElement in $resourceDescriptor.representations)
                <tr class="prop">
                <td valign="top" class="name"><tt>$representationElement.mediaType</tt></td>
                    <td valign="top" class="value">
                        <p>Requested via one of the following:</p>
                        <ul>
                            <li><tt>$representationElement.mediaType</tt> in the HTTP Accept header</li>
                            <li><tt>format=$mimeTypes[$representationElement.mediaType]</tt> query parameter</li>
                        </ul>
                    </td>
                </tr>
                #end
            #end
            </tbody>
        </table>
    </div>
    #if($resourceDescriptor.usageExamples)
        <h2>Usage Examples</h2>
        #foreach($usage in $resourceDescriptor.usageExamples)
            <p>$usage.description:</p>
            <script type="syntaxhighlighter" class="brush: xml; gutter:false; smart-tabs:false"><![CDATA[${usage.example}]]></script>
        #end
        </dl>
    #end
    <h2>Example Responses</h2>
    #foreach($representationDocElement in $resourceDescriptor.representations.doc)
        <p>$representationDocElement.title</p>
        <script type="syntaxhighlighter" class="brush: ${representationDocElement.'..'.mediaType == 'application/json' ? 'js' : 'xml'}"><![CDATA[${representationDocElement.text().trim()}]]></script>
    #end
</div>
<script type="text/javascript">
    SyntaxHighlighter.defaults["class-name"] = "code-panel"
    SyntaxHighlighter.all()
</script>
</body>
</html>