<h3>Multi-Select Side by Side</h3>
<div class="description">
    <p><strong><i class="fa fa-leanpub"></i> Description:</strong> Multi-Select Side by Side allows the user to select and remove multiple items quickly.</p>
    <p><strong><i class="fa fa-wheelchair"></i> 508 Guidelines:</strong> The screen reader will announce the different options with the arrow keys. Tab to navigate to an option then use enter to add or remove the selected option.</p>
    <p><strong><i class="fa fa-lightbulb-o"></i> TIP:</strong> Change the mssbs class to mssbs-small for a multi-select side by side without an input field.</p>
</div>

<div class="row">
    <div class="mssbs">
        <div class="col-md-6">
            <div class="panel panel-default panel-w-list-group">
                <div class="panel-heading">
                    <div class="mssbs-header">
                        Available Providers
                    </div>
                    <div class="mssbs-input">
                        <div class="control form-group">
                            <label for="available-providers-filter-results" class="sr-only">Filter Results</label>
                            <input id="available-providers-filter-results" class="form-control input-sm" type="text" name="name" title="Please enter in a filter" placeholder="Filter Results" />
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11 col-xs-11">
                                Vehu, Five
                            </div>
                            <div class="col-md-1 col-xs-1">
                            <button title="Press enter to add provider" class="btn icon-btn icon-btn-mini" type="button"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11 col-xs-11">
                                Vehu, One
                            </div>
                            <div class="col-md-1 col-xs-1">
                            <button title="Press enter to add provider" class="btn icon-btn icon-btn-mini" type="button"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11 col-xs-11">
                                Vehu, Ten
                            </div>
                            <div class="col-md-1 col-xs-1">
                            <button title="Press enter to add provider" class="btn icon-btn icon-btn-mini" type="button"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11 col-xs-11">
                                Vehu, Three
                            </div>
                            <div class="col-md-1 col-xs-1">
                            <button title="Press enter to add provider" class="btn icon-btn icon-btn-mini" type="button"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11 col-xs-11">
                                Vehu, Four
                            </div>
                            <div class="col-md-1 col-xs-1">
                            <button title="Press enter to add provider" class="btn icon-btn icon-btn-mini" type="button"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default panel-w-list-group">
                <div class="panel-heading">
                    <div class="mssbs-header">
                        Selected Providers
                    </div>
                    <div class="mssbs-input">
                        <div class="control form-group">
                            <label for="selected-providers-filter-results" class="sr-only">Filter Results</label>
                            <input id="selected-providers-filter-results" class="form-control input-sm" type="text" name="name" title="Please enter in a filter" placeholder="Filter Results" />
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11 col-xs-11">
                                Vehu, Five
                            </div>
                            <div class="col-md-1 col-xs-1">
                            <button title="Press enter to remove provider" class="btn icon-btn icon-btn-mini" type="button"><i class="fa fa-times-circle"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11 col-xs-11">
                                Vehu, One
                            </div>
                            <div class="col-md-1 col-xs-1">
                            <button title="Press enter to remove provider" class="btn icon-btn icon-btn-mini" type="button"><i class="fa fa-times-circle"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11 col-xs-11">
                                Vehu, Ten
                            </div>
                            <div class="col-md-1 col-xs-1">
                            <button title="Press enter to remove provider" class="btn icon-btn icon-btn-mini" type="button"><i class="fa fa-times-circle"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11 col-xs-11">
                                Vehu, Three
                            </div>
                            <div class="col-md-1 col-xs-1">
                            <button title="Press enter to remove provider" class="btn icon-btn icon-btn-mini" type="button"><i class="fa fa-times-circle"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11 col-xs-11">
                                Vehu, Four
                            </div>
                            <div class="col-md-1 col-xs-1">
                            <button title="Press enter to remove provider" class="btn icon-btn icon-btn-mini" type="button"><i class="fa fa-times-circle"></i></button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr />

<div role="tabpanel" class="tabpanel">
    <ul role="tablist" class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#markup-multi-select-side-by-side" aria-controls="markup-multi-select-side-by-side" role="tab" data-toggle="tab">Multi-Select Side by Side</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="markup-multi-select-side-by-side">
            <pre>
&lt;div class="row"&gt;
    &lt;div class="mssbs"&gt;
        &lt;div class="col-md-6"&gt;
            &lt;div class="panel panel-default panel-w-list-group"&gt;
                &lt;div class="panel-heading"&gt;
                    &lt;div class="mssbs-header"&gt;
                        Available Providers
                    &lt;/div&gt;
                    &lt;div class="mssbs-input"&gt;
                        &lt;div class="control form-group"&gt;
                            &lt;label for="available-providers-filter-results" class="sr-only"&gt;Filter Results&lt;/label&gt;
                            &lt;input id="available-providers-filter-results" class="form-control input-sm" type="text" name="name" title="Please enter in a filter" placeholder="Filter Results" /&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;ul class="list-group"&gt;
                    &lt;li class="list-group-item"&gt;
                        &lt;div class="row"&gt;
                            &lt;div class="col-md-11 col-xs-11"&gt;
                                Vehu, Five
                            &lt;/div&gt;
                            &lt;div class="col-md-1 col-xs-1"&gt;
                            &lt;button title="Press enter to add provider" class="btn icon-btn icon-btn-mini" type="button"&gt;&lt;i class="fa fa-plus"&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li class="list-group-item"&gt;
                        &lt;div class="row"&gt;
                            &lt;div class="col-md-11 col-xs-11"&gt;
                                Vehu, One
                            &lt;/div&gt;
                            &lt;div class="col-md-1 col-xs-1"&gt;
                            &lt;button title="Press enter to add provider" class="btn icon-btn icon-btn-mini" type="button"&gt;&lt;i class="fa fa-plus"&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li class="list-group-item"&gt;
                        &lt;div class="row"&gt;
                            &lt;div class="col-md-11 col-xs-11"&gt;
                                Vehu, Ten
                            &lt;/div&gt;
                            &lt;div class="col-md-1 col-xs-1"&gt;
                            &lt;button title="Press enter to add provider" class="btn icon-btn icon-btn-mini" type="button"&gt;&lt;i class="fa fa-plus"&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li class="list-group-item"&gt;
                        &lt;div class="row"&gt;
                            &lt;div class="col-md-11 col-xs-11"&gt;
                                Vehu, Three
                            &lt;/div&gt;
                            &lt;div class="col-md-1 col-xs-1"&gt;
                            &lt;button title="Press enter to add provider" class="btn icon-btn icon-btn-mini" type="button"&gt;&lt;i class="fa fa-plus"&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li class="list-group-item"&gt;
                        &lt;div class="row"&gt;
                            &lt;div class="col-md-11 col-xs-11"&gt;
                                Vehu, Four
                            &lt;/div&gt;
                            &lt;div class="col-md-1 col-xs-1"&gt;
                            &lt;button title="Press enter to add provider" class="btn icon-btn icon-btn-mini" type="button"&gt;&lt;i class="fa fa-plus"&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="col-md-6"&gt;
            &lt;div class="panel panel-default panel-w-list-group"&gt;
                &lt;div class="panel-heading"&gt;
                    &lt;div class="mssbs-header"&gt;
                        Selected Providers
                    &lt;/div&gt;
                    &lt;div class="mssbs-input"&gt;
                        &lt;div class="control form-group"&gt;
                            &lt;label for="selected-providers-filter-results" class="sr-only"&gt;Filter Results&lt;/label&gt;
                            &lt;input id="selected-providers-filter-results" class="form-control input-sm" type="text" name="name" title="Please enter in a filter" placeholder="Filter Results" /&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;ul class="list-group"&gt;
                    &lt;li class="list-group-item"&gt;
                        &lt;div class="row"&gt;
                            &lt;div class="col-md-11 col-xs-11"&gt;
                                Vehu, Five
                            &lt;/div&gt;
                            &lt;div class="col-md-1 col-xs-1"&gt;
                            &lt;button title="Press enter to remove provider" class="btn icon-btn icon-btn-mini" type="button"&gt;&lt;i class="fa fa-times-circle"&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li class="list-group-item"&gt;
                        &lt;div class="row"&gt;
                            &lt;div class="col-md-11 col-xs-11"&gt;
                                Vehu, One
                            &lt;/div&gt;
                            &lt;div class="col-md-1 col-xs-1"&gt;
                            &lt;button title="Press enter to remove provider" class="btn icon-btn icon-btn-mini" type="button"&gt;&lt;i class="fa fa-times-circle"&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li class="list-group-item"&gt;
                        &lt;div class="row"&gt;
                            &lt;div class="col-md-11 col-xs-11"&gt;
                                Vehu, Ten
                            &lt;/div&gt;
                            &lt;div class="col-md-1 col-xs-1"&gt;
                            &lt;button title="Press enter to remove provider" class="btn icon-btn icon-btn-mini" type="button"&gt;&lt;i class="fa fa-times-circle"&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li class="list-group-item"&gt;
                        &lt;div class="row"&gt;
                            &lt;div class="col-md-11 col-xs-11"&gt;
                                Vehu, Three
                            &lt;/div&gt;
                            &lt;div class="col-md-1 col-xs-1"&gt;
                            &lt;button title="Press enter to remove provider" class="btn icon-btn icon-btn-mini" type="button"&gt;&lt;i class="fa fa-times-circle"&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li class="list-group-item"&gt;
                        &lt;div class="row"&gt;
                            &lt;div class="col-md-11 col-xs-11"&gt;
                                Vehu, Four
                            &lt;/div&gt;
                            &lt;div class="col-md-1 col-xs-1"&gt;
                            &lt;button title="Press enter to remove provider" class="btn icon-btn icon-btn-mini" type="button"&gt;&lt;i class="fa fa-times-circle"&gt;&lt;/i&gt;&lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
            </pre>
        </div>
    </div>
</div>
