<button id="past-month-clinicDate" name="past-month-clinicDate" type="button" class="daterange btn btn-xs default-range" tabindex="0">
    <span class="sr-only">Past Month</span>1mo</button>
<button id="past-week-clinicDate" name="past-week-clinicDate" type="button" class="daterange btn btn-xs default-range" tabindex="0">
    <span class="sr-only">Past Week</span>7d</button>
<button id="yesterday-clinicDate" name="yesterday-clinicDate" type="button" class="daterange btn btn-xs default-range" tabindex="0">
    <span class="sr-only">Yesterday</span>1d</button>
<button id="today-clinicDate" name="today-clinicDate" type="button" class="daterange btn btn-xs default-range active-range" tabindex="0">
    <span class="sr-only">Today</span>Today</button>
<button id="tomorrow-clinicDate" name="tomorrow-clinicDate" type="button" class="daterange btn btn-xs default-range" tabindex="0">
    <span class="sr-only">Tomorrow</span>Tomorrow</button>
<button id="next-week-clinicDate" name="next-week-clinicDate" type="button" class="daterange btn btn-xs default-range" tabindex="0">
    <span class="sr-only">Next Week</span>Next Week</button>