<div class="filter col-md-12"></div>
<div class="col-md-12 row">
    <div class="col-md-3 smallColumn">
        <div id="location-list-filter-input"></div>
        <div id="location-list-results-loading"></div>
        <div id="location-list-error-message"></div>
        <div id="location-list-results" class="simple-list"></div>
    </div>
    <div title="My Site Clinics Search Results" class="col-md-8 searchResults largeColumn">
        <div id="patient-search-error-message" class="col-md-12"></div>
        <div id="patient-search-results" class="col-md-12"></div>
        <div id="patient-search-results-loading" class="col-md-12 min-height"></div>
    </div>
</div>
