// Twitter Bootstrap/ExtJS Bridging
$base-color: $gray-lighter !default;
$color: $text-color !default;
$body-background-color: $body-bg !default;
$font-family: $font-family-sans-serif !default;
$font-size: $font-size-base !default;
$font-size-small: $font-size-small !default;
$neutral-color: $gray-lighter !default;

// neptune variables
$base-gradient: 'none' !default;
//$base-highlight-color: mix(#fff, $base-color, 15%) !default;
//$base-light-color: mix(#fff, $base-color, 65%) !default;
//$base-dark-color: mix(#000, $base-color, 14%) !default;

//$neutral-light-color: mix(#fff, $neutral-color, 68%) !default;
//$neutral-dark-color: mix(#000, $neutral-color, 22%) !default;

$sorted-grid-column-header-color: #fff !default; // TODO move me to grid area

// HMP variables
$form-label-color: $dropdown-header-color !default;