/** @class Ext.ProgressBar */
//

$progress-background-color: $progress-bg !default;
$progress-bar-background-color: $progress-bar-bg !default;
$progress-border-width: 0 !default;
$progress-border-radius: $border-radius-base !default;
$progress-text-color-front: $progress-bar-color !default;
$progress-text-color-back: $text-color !default;
$progress-height: $line-height-computed !default;