<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         metadata-complete="true"
         version="3.0">
    <display-name>Health Management Platform Web Application</display-name>
    <session-config>
        <!-- default timeout that is overridden with CPRS timeout parameters when a user logs in, see gov.va.hmp.web.servlet.UserTimeoutIntegrationSessionAttributeListener -->
        <session-timeout>1</session-timeout>
        <cookie-config>
            <!-- HttpOnly is an additional flag included in a Set-Cookie HTTP response header. Using the HttpOnly flag when generating a cookie helps mitigate the risk of client side script accessing the protected cookie (if the browser supports it). See https://www.owasp.org/index.php/HttpOnly -->
            <http-only>true</http-only>
            <!-- A secure cookie is only used when a browser is visiting a server via HTTPS, ensuring that the cookie is always encrypted when transmitting from client to server. This makes the cookie less likely to be exposed to cookie theft via eavesdropping. -->
            <secure>true</secure>
        </cookie-config>
        <!--  tracking-mode element in the Servlet 3.0 specification allows you to define whether the JSESSIONID should be stored in a cookie or in a URL parameter. If the session id is stored in a URL parameter it could be inadvertently saved in a number of locations including the browser history, proxy server logs, referrer logs, web logs, etc. Accidental disclosure of the session id makes the application more vulnerable to session hijacking attacks. -->
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/resources.xml</param-value>
    </context-param>
    <context-param>
        <param-name>contextInitializerClasses</param-name>
        <param-value>gov.va.hmp.Bootstrap</param-value>
    </context-param>
    <context-param>
        <param-name>com.codahale.metrics.servlets.MetricsServlet.durationUnit</param-name>
        <param-value>MILLISECONDS</param-value>
    </context-param>
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter>
        <filter-name>httpPutFormContentFilter</filter-name>
        <filter-class>org.springframework.web.filter.HttpPutFormContentFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter>
        <filter-name>httpHeadFilter</filter-name>
        <filter-class>gov.va.hmp.web.servlet.filter.HttpHeadFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter>
        <filter-name>charEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>internetExplorerStandardsModeFilter</filter-name>
        <filter-class>gov.va.hmp.web.servlet.filter.ResponseHeaderFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>X-UA-Compatible</param-name>
            <param-value>IE=edge</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>noCacheFilter</filter-name>
        <filter-class>gov.va.hmp.web.servlet.filter.ResponseHeaderFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>Cache-Control</param-name>
            <param-value>no-store, must-revalidate</param-value>
        </init-param>
        <init-param>
            <param-name>Expires</param-name>
            <param-value>Thu, 01 Jan 1970 01:00:00 GMT</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>buildTimeLastModifiedFilter</filter-name>
        <filter-class>gov.va.hmp.web.servlet.filter.BuildTimeLastModifiedResponseHeaderFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>versionPropertyKey</param-name>
            <param-value>hmp.version</param-value>
        </init-param>
        <init-param>
            <param-name>buildTimePropertyKey</param-name>
            <param-value>hmp.build.date</param-value>
        </init-param>
        <init-param>
            <param-name>buildTimeDateFormatKey</param-name>
            <param-value>hmp.build.date.format</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>eTagFilter</filter-name>
        <filter-class>org.springframework.web.filter.ShallowEtagHeaderFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter>
        <filter-name>instrumentedFilter</filter-name>
        <filter-class>com.codahale.metrics.servlet.InstrumentedFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>httpPutFormContentFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>httpHeadFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>charEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>internetExplorerStandardsModeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>buildTimeLastModifiedFilter</filter-name>
        <url-pattern>/css/*</url-pattern>
        <url-pattern>/images/*</url-pattern>
        <url-pattern>/js/*</url-pattern>
        <url-pattern>/fonts/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>eTagFilter</filter-name>
        <url-pattern>/css/*</url-pattern>
        <url-pattern>/js/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>instrumentedFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
    	<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>gov.va.hmp.plugins.osgi.OsgiHttpServiceProxyListener</listener-class>
    </listener>
    <!-- for users with XU PROG, extend the server session timeout.  Mainly a convenience for developers -->
    <listener>
        <listener-class>gov.va.hmp.web.servlet.UserTimeoutIntegrationSessionAttributeListener</listener-class>
    </listener>
    <listener>
    	<listener-class>gov.va.hmp.web.servlet.EHCacheClearSessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>gov.va.jmeadows.util.HystrixWebListener</listener-class>
    </listener>
    <listener>
        <listener-class>net.sf.ehcache.constructs.web.ShutdownListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/dispatcher-servlet.xml</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>web-services</servlet-name>
        <display-name>web-services</display-name>
        <async-supported>true</async-supported>
        <servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>web-services</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.gsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
            <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://www.springframework.org/tags</taglib-uri>
            <taglib-location>/WEB-INF/tld/spring.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
