
.hmp-document {
  width: 100%;
}

.hmp-document-collapse-trigger {
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 0px -2px;
}

.hmp-document .hmp-document-collapse-trigger {
  background-image: url('/images/icons/arrow_down.png');
}

.hmp-document-collapsed .hmp-document-collapse-trigger {
  background-image: url('/images/icons/arrow_right.png');
}

.hmp-document-collapse-trigger a {
  margin-left: 17px;
}

.hmp-document-title-hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 2px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}

.hmp-document .hmp-document-body {
  display: block;
  margin-left: 10px;
}

.hmp-document-collapsed .hmp-document-body {
  display: none;
}
