.hmp-patient-record-flag {
  padding: $alert-padding;
  margin-bottom: $line-height-computed;
  border: 1px solid $btn-default-border;
  border-radius: $alert-border-radius;
  max-width: 600px;

  // Headings for larger alerts
  h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    // Specified for the h elements to prevent conflicts of changing $headings-color
    color: inherit;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }
  > p + p {
    margin-top: 5px;
  }
}