.patientpicker.#{$prefix}panel-well {
  .#{$prefix}toolbar-default {
    background: $well-bg;
  }
  .#{$prefix}form-text {
    background: $well-bg;
  }
  .#{$prefix}panel-header-well,
  .#{$prefix}panel-header-text-container-well {
    font-size: $font-size-large;
  }
  .#{$prefix}tool {
    font-size: 18px;
    line-height: 16px;
  }
  .#{$prefix}tool,
  .#{$prefix}tool-img {
    height: 18px;
    width: 18px;
  }
  @each $size in extra-small, small, medium, large {
    .#{$prefix}btn-pill-#{$size} {
      background-color: $well-bg;
      border-color: $well-bg;
      .#{$prefix}btn-inner {
        color: $button-pill-color;
      }
    }
    .#{$prefix}btn-pill-#{$size}-over {
      background-color: $body-bg;
      border-color: $body-bg;
      .#{$prefix}btn-inner {
        color: $button-pill-color;
      }
    }
    .#{$prefix}btn-pill-#{$size}-menu-active,
    .#{$prefix}btn-pill-#{$size}-pressed {
      background: $button-pill-background-color-active;
      border-color: $button-pill-background-color-active;
      .#{$prefix}btn-inner {
        color: $button-pill-color-active;
      }
    }
  }
  .#{$prefix}grid-group-hd {
    background-color: $well-bg;
    border-bottom-width: 0px;

    .#{$prefix}grid-group-title {
      font-weight: 500;
    }
  }
}
.patientpicker-collapsed.#{$prefix}panel-header-well {
  font-size: $font-size-large;

  .#{$prefix}panel-header-text-container-well {
    font-size: $font-size-large;
  }
  .#{$prefix}tool {
    font-size: 18px;
    line-height: 16px;
  }
  .#{$prefix}tool,
  .#{$prefix}tool-img {
    height: 18px;
    width: 18px;
  }
}

.#{$prefix}grid-row-selected.hmp-preselect {
  .#{$prefix}grid-cell {
    color: $text-color;
    background-color: lighten($grid-row-cell-selected-background-color, 40%);
    cursor: pointer;
  }
  .#{$prefix}grid-td {
    border-bottom-color: $table-border-color;
  }

  .text-muted {
    color: $text-muted;
  }

  .#{$prefix}grid-cell-inner {
    position: relative;
  }

  button.btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 46%;

    margin: 3px;
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size: 14px;
    line-height: 26px;
  }
}