[data-appletid="immunizations"] {
    span.header-hover:hover{
        cursor: pointer;
    }
       
    div.immunGist {
        box-shadow: 0px 1px 1px #999999;
        padding: 2px 5px 2px 5px;
        border-radius: 5px;
        float: left;
        margin: 5px;
        display:inline;
    }
    div.immunGist:hover {
        color: $primary;
        background-color: $secondary-lighter;
    }
    div.gistItem:hover {
        color: $primary;
        background-color: $secondary-lighter;
    }     
    .gistList {
        padding: 5px;
    }
    .gistItemA {   
        float: left;
        margin: 5px;
        display:inline;
    }
    .clearBoth {
        clear: both;
    }
       
    .emptyGistList {
        font-style: italic; 
        color: gray; 
        min-height: 40px; 
        padding: 10px;
    }
    
    .changecolor + .tooltip > .tooltip-inner {
    border: 2px solid $grey;
    text-align:left;
    max-width: 650px;
        .row{
            background-color: #000; 
            color: #fff; 
        }
    }
    
    .immunizations-modal-footer {
        .btn,[role="button"] {
            display:inline-block;
        }
}    
}