//.#{$prefix}form-date-trigger {
//  .caret {
//    margin-top: 2px;
//    margin-left: 0px;
//    background-image: theme-background-image('form/date-trigger');
//    background-position: 0 0;
//    border-width: 0;
//  }
//}