
.#{$prefix}action-col-cell .#{$prefix}grid-cell-inner-action-col {
  visibility: hidden;
}

.#{$prefix}grid-row-over .#{$prefix}action-col-cell .#{$prefix}grid-cell-inner-action-col {
  visibility: visible;
}

.#{$prefix}action-col-cell img {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.#{$prefix}action-col-img-noaction {
  cursor: default !important;
}

.#{$prefix}grid-row-selected .#{$prefix}action-col-icon {
  color: $grid-row-cell-selected-color;
}

// action column icons
.#{$prefix}action-col-icon[class*=" fa-"] {
  color: $gray-light;
}
.#{$prefix}action-col-icon[class*=" fa-"]:hover {
  color: $gray;
}