<div id="idConfirmation" class="deleteConfirmation">
    <div class="row">
        <div class="col-md-12">
            <p>
            	<b>There are unselected treatment factors.<br>Are you sure you want to continue with signing?</b>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10 text-right">
           <button type="button" class="btn btn-default cancelButton" data-dismiss="modal">No</button>
             <button type="button" class="btn btn-danger deleteButton" data-dismiss="modal">Yes</button>
        </div>
    </div>
</div>