<button id="all-range-{{appletId}}" name="all-range-{{appletId}}" type="button" class="daterange btn btn-xs default-range" tabindex="0" title="All range">All</button>
<button id="2yr-range-{{appletId}}" name="2yr-range-{{appletId}}" type="button" class="daterange btn btn-xs default-range" tabindex="0" title="2 years range"><span class="sr-only">2 years date range.</span>2yr</button>
<button id="1yr-range-{{appletId}}" name="1yr-range-{{appletId}}" type="button" class="daterange btn btn-xs default-range active-range-{{appletId}}" tabindex="0" title="1 year range"><span class="sr-only">1 year date range.</span>1yr</button>
<button id="3mo-range-{{appletId}}" name="3mo-range-{{appletId}}" type="button" class="daterange btn btn-xs default-range" tabindex="0" title="3 months range"><span class="sr-only">3 months date range.</span>3mo</button>
<button id="1mo-range-{{appletId}}" name="1mo-range-{{appletId}}" type="button" class="daterange btn btn-xs default-range" tabindex="0" title="1 month range"><span class="sr-only">1 month date range.</span>1mo</button>
<button id="7d-range-{{appletId}}" name="7d-range-{{appletId}}" type="button" class="daterange btn btn-xs default-range" tabindex="0" title="7 days range"><span class="sr-only">7 days date range.</span>7d</button>
<button id="72hr-range-{{appletId}}" name="72hr-range-{{appletId}}" type="button" class="daterange btn btn-xs default-range" tabindex="0" title="72 hours range"><span class="sr-only">72 hours date range.</span>72hr</button>
<button id="24hr-range-{{appletId}}" name="24hr-range-{{appletId}}" type="button" class="daterange btn btn-xs default-range" tabindex="0" title="24 hours range"><span class="sr-only">24 hours date range.</span>24hr</button>

&nbsp;

<div class="input-group date" id="custom-date-range1-{{appletId}}">
  <input type="text" class="form-control input-sm" id="filter-from-date-{{appletId}}" name="filter-from-date-{{appletId}}" size="11" title="Enter or pick the first custom range date." tabindex="0"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
</div>

<span class="add-on">to</span>&nbsp;

<div class="input-group date" id="custom-date-range2-{{appletId}}">
  <input type="text" class="form-control input-sm" id="filter-to-date-{{appletId}}" name="filter-to-date-{{appletId}}" size="11" title="Enter or pick the second custom range date." tabindex="0"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
</div>

&nbsp;
<button id="custom-range-apply-{{appletId}}" name="custom-range-apply-{{appletId}}" type="button" class="btn btn-sm btn-default" title="Appy custom date range filtering." tabindex="0" disabled>Apply</button>
